<script setup>
import AdminNavLink from "@/Components/AdminNavLink.vue";

import { computed } from "vue";
import { useDisplay } from "vuetify";

const props = defineProps(["drawerOpen"]);
defineEmits(["update:drawerOpen"]);

const temporaryDrawer = computed(() => {
    return useDisplay().smAndDown.value;
});
</script>

<template>
    <v-navigation-drawer
        :model-value="drawerOpen || !temporaryDrawer"
        @update:model-value="$emit('update:drawerOpen', $e)"
        :permanent="!temporaryDrawer"
        :temporary="temporaryDrawer"
    >
        <v-list v-model:opened="open">
            <AdminNavLink
                :href="route('dashboard')"
                :active="route().current('dashboard')"
            >
                <v-list-item
                    prepend-icon="fas fa-home"
                    :title="$vuetify.locale.t('menu.dashboard')"
                />
            </AdminNavLink>

            <AdminNavLink
                :href="route('referee_results.create')"
                :active="route().current('referee_results.create')"
            >
                <v-list-item
                    prepend-icon="fas fa-robot"
                    :title="$vuetify.locale.t('menu.robotGame')"
                />
            </AdminNavLink>

            <AdminNavLink
                :href="route('judge.robot.index')"
                :active="route().current('judge.robot.index')"
            >
                <v-list-item
                    prepend-icon="fas fa-clipboard-check"
                    :title="$vuetify.locale.t('menu.judge')"
                />
            </AdminNavLink>

            <AdminNavLink
                :href="route('teams.index')"
                :active="route().current('teams.index')"
            >
                <v-list-item
                    prepend-icon="fas fa-people-group"
                    :title="$vuetify.locale.t('menu.teams')"
                />
            </AdminNavLink>

            <AdminNavLink
                :href="route('schedule.index')"
                :active="route().current('schedule.index')"
            >
                <v-list-item
                    prepend-icon="fas fa-calendar"
                    :title="$vuetify.locale.t('menu.schedule')"
                />
            </AdminNavLink>

            <AdminNavLink
                :href="route('scoreboard.index')"
                :active="route().current('scoreboard.index')"
            >
                <v-list-item
                    prepend-icon="fas fa-ranking-star"
                    :title="$vuetify.locale.t('menu.scoreboard')"
                />
            </AdminNavLink>

            <v-list-group value="Setup">
                <template v-slot:activator="{ props }">
                    <v-list-item
                        v-bind="props"
                        prepend-icon="fa-solid fa-gears"
                        :title="$vuetify.locale.t('menu.setup')"
                    ></v-list-item>
                </template>

                <v-list-item
                    style="margin-left: -35px"
                    v-for="(setupItem, i) in setup"
                    :key="i"
                    :value="setupItem.title"
                    :title="setupItem.title"
                    :prepend-icon="setupItem.icon"
                    :href="setupItem.link"
                    :class="
                        $settings.modules(setupItem.module, true)
                            ? ''
                            : 'tw-hidden'
                    "
                ></v-list-item>
            </v-list-group>

            <AdminNavLink
                :href="route('profile.show')"
                :active="route().current('profile.show')"
            >
                <v-list-item
                    prepend-icon="fas fa-user"
                    :title="$vuetify.locale.t('menu.profile')"
                />
            </AdminNavLink>

            <v-list-group value="Users">
                <template v-slot:activator="{ props }">
                    <v-list-item
                        v-bind="props"
                        prepend-icon="fa-solid fa-users"
                        :title="$vuetify.locale.t('menu.users')"
                    ></v-list-item>
                </template>

                <v-list-group
                    value="Admin"
                    prepend-icon="fas fa-user"
                    style="margin-left: -35px; width: 325px"
                >
                    <template v-slot:activator="{ props }">
                        <v-list-item
                            style="width: 290px"
                            v-bind="props"
                            :title="$vuetify.locale.t('menu.admin')"
                        ></v-list-item>
                    </template>

                    <v-list-item
                        style="margin-left: -35px"
                        v-for="item in admins"
                        :key="item.title"
                        :title="item.title"
                        :prepend-icon="item.icon"
                        :value="item.title"
                    ></v-list-item>
                </v-list-group>

                <v-list-group
                    value="Actions"
                    prepend-icon="fas fa-circle-exclamation"
                    style="margin-left: -35px; width: 325px"
                >
                    <template v-slot:activator="{ props }">
                        <v-list-item
                            style="width: 290px"
                            v-bind="props"
                            :title="$vuetify.locale.t('menu.actions')"
                        ></v-list-item>
                    </template>

                    <v-list-item
                        style="margin-left: -35px"
                        v-for="([title, icon], i) in cruds"
                        :key="i"
                        :value="title"
                        :title="title"
                        :prepend-icon="icon"
                    ></v-list-item>
                </v-list-group>
            </v-list-group>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    data: () => ({
        rail: true,
        // drawer: true,
        menuItems: [
            {
                title: "Home",
                icon: "fas fa-house",
                value: "Home",
                link: "",
            },
        ],
        open: [""],
        admins: [
            { title: "Management", icon: "fas fa-users" },
            { title: "Settings", icon: "fas fa-gear" },
        ],
        cruds: [
            ["Create", "fas fa-circle-plus"],
            ["List", "fas fa-list-ul"],
            ["Update", "fas fa-pen"],
            ["Delete", "fas fa-trash"],
        ],
        setup: [
            {
                title: "Settings",
                icon: "fas fa-gear",
                link: route("settings.index"),
                module: "",
            },
            {
                title: "Tournament",
                icon: "",
                link: route("tournaments.index"),
                module: "",
            },
            {
                title: "Tables",
                icon: "",
                link: route("dashboard"),
                module: "ModuleTable",
            },
        ],
    }),
};
</script>
