<script setup>
import AdminNavLink from "@/Components/AdminNavLink.vue";
import { Link } from "@inertiajs/vue3";
import { router } from "@inertiajs/vue3";

import { computed, getCurrentInstance, ref } from "vue";
import { useDisplay } from "vuetify";
import MenuList from "../Partials/MenuList.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../stores/preferencesStore";

const props = defineProps(["drawerOpen"]);
const emit = defineEmits(["update:drawerOpen"]);

const temporaryDrawer = computed(() => {
    return useDisplay().smAndDown.value;
});

const currentRoute = ref(route().current());

router.on("navigate", (event) => {
    currentRoute.value = route().current();
});

router.on("start", (event) => {
    emit("update:drawerOpen", false);
});

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

const vue = getCurrentInstance();
const settings = vue.appContext.config.globalProperties.$settings;

const routes = [
    {
        type: "item",
        name: "dashboard",
        icon: "mdi-gauge-full",
        translation: "menu.dashboard",
        ability: "result.view",
    },
    {
        type: "item",
        name: "referee_results.create",
        icon: "mdi-robot",
        translation: "menu.robotGame",
        ability: "result.create",
    },
    {
        type: "item",
        name: "judge.robot.index",
        icon: "mdi-clipboard-check",
        translation: "menu.judge",
        ability: "judge.create",
        show: () => {
            return !import.meta.env.PROD;
            return settings.modules("ModuleJudge", true);
        },
    },
    {
        type: "item",
        name: "teams.index",
        icon: "mdi-account-group",
        translation: "menu.teams",
        ability: "team.view",
    },
    {
        type: "item",
        name: "schedule.index",
        icon: "mdi-timetable",
        translation: "menu.schedule",
        ability: "schedule.edit",
        show: () => {
            return !import.meta.env.PROD;
            return settings.modules("ModuleSchedule", true);
        },
    },
    {
        type: "item",
        name: "admin.scoreboard.index",
        icon: "mdi-scoreboard",
        translation: "menu.scoreboard",
        ability: "result.view",
    },
    {
        type: "item",
        name: "referee_results.index",
        icon: "mdi-format-list-bulleted",
        translation: "menu.refereeResults",
        ability: "result.view",
    },
    {
        type: "item",
        name: "remarks.index",
        icon: "mdi-notebook-edit",
        translation: "menu.remarks",
        ability: "remark.view",
    },
    {
        type: "item",
        name: "wizard.index",
        icon: "mdi-wizard-hat",
        translation: "menu.wizard",
        ability: "tournament.create",
        show: () => {
            return false;
            return settings.modules("WizardStatus", true);
        },
    },
    {
        type: "group",
        translation: "menu.setup",
        ability: "result.view",
        icon: "mdi-cog",
        routes: [
            {
                type: "item",
                name: "settings.index",
                icon: "mdi-cog",
                translation: "menu.settings",
                ability: "setting.view",
            },
            {
                type: "item",
                name: "tournaments.index",
                icon: "mdi-tournament",
                translation: "menu.tournaments",
                ability: "tournament.create",
            },
            {
                type: "item",
                name: "tables.index",
                icon: "mdi-table-merge-cells",
                translation: "menu.tables",
                ability: "table.view",
                show: () => {
                    return settings.modules("ModuleTable", true);
                },
            },
            {
                type: "item",
                name: "rounds.index",
                icon: "mdi-gamepad-round-outline",
                translation: "menu.rounds",
                ability: "round.view",
            },
            {
                type: "item",
                name: "jury.index",
                icon: "mdi-clipboard-list",
                translation: "menu.jury",
                ability: "round.view",
                show: () => {
                    return settings.modules("ModuleJudge", true);
                }
            },
            {
                type: "item",
                name: "users.index",
                icon: "mdi-account-group",
                translation: "menu.users",
                ability: "user.view",
            },
            {
                type: "item",
                name: "export.index",
                icon: "mdi-file-export",
                translation: "menu.export",
                ability: null,
            },
        ],
    },
];
</script>

<template>
    <v-navigation-drawer
        :model-value="drawerOpen || !temporaryDrawer"
        @update:model-value="(e) => $emit('update:drawerOpen', e)"
        :permanent="!temporaryDrawer"
        :temporary="temporaryDrawer"
        :theme="preferences.state.darkMode ? 'dark' : 'light'"
    >
        <v-list open-strategy="single">
            <menu-list
                :routes="routes"
                :current-route="currentRoute"
            ></menu-list>
        </v-list>

<!--        This is disabled to avoid confusion         -->
<!--        <template v-slot:append>-->
<!--            <div class="tw-px-2 tw-pt-2">-->
<!--                &lt;!&ndash;- TODO Tournament selector! &ndash;&gt;-->
<!--                <v-select-->
<!--                    label="Selecteer toernooi"-->
<!--                    :items="['Regiofinale Groningen', 'Regiofinale Helmond']"-->
<!--                    variant="outlined"-->
<!--                    density="comfortable"-->
<!--                    class="rounded-lg"-->
<!--                ></v-select>-->
<!--            </div>-->
<!--        </template>-->

    </v-navigation-drawer>
</template>
