<template>
    <v-navigation-drawer
        v-model="drawer"
        :rail="rail"
        permanent
        expand-on-hover=""
    >
        <!-- Replace with user.name-->
        <v-list-item
            prepend-avatar="https://firstlegoleague.nl/templates/yootheme/cache/b2/first-b2fc1960.webp"
            title="Team name here"
            nav
        >
            <template v-slot:append>
                <v-btn
                    variant="text"
                    icon="fas fa-thumbtack"
                    @click.stop="rail = !rail"
                ></v-btn>
            </template>
        </v-list-item>
        <v-divider></v-divider>

        <v-list v-model:opened="open">
            <AdminNavLink
                :href="route('dashboard')"
                :active="route().current('dashboard')"
            >
                <v-list-item
                    prepend-icon="fas fa-home"
                    :title="$vuetify.locale.t('menu.dashboard')"
                />
            </AdminNavLink>

            <AdminNavLink
                :href="route('dashboard')"
                :active="route().current('dashboard')"
            >
                <v-list-item
                    prepend-icon="fas fa-calendar"
                    :title="$vuetify.locale.t('menu.schedule')"
                />
            </AdminNavLink>

            <AdminNavLink
                :href="route('dashboard')"
                :active="route().current('dashboard')"
            >
                <v-list-item
                    prepend-icon="fas fa-ranking-star"
                    :title="$vuetify.locale.t('menu.scoreboard')"
                />
            </AdminNavLink>

            <AdminNavLink
                :href="route('profile.show')"
                :active="route().current('profile.show')"
            >
                <v-list-item
                    prepend-icon="fas fa-user"
                    :title="$vuetify.locale.t('menu.profile')"
                />
            </AdminNavLink>
        </v-list>
    </v-navigation-drawer>
</template>

<script setup>
import AdminNavLink from "@/Components/AdminNavLink.vue";
</script>

<script>
export default {
    data: () => ({
        rail: true,
        drawer: true,
        menuItems: [
            {
                title: "Home",
                icon: "fas fa-house",
                value: "Home",
                link: "",
            },
        ],
        open: [""],
        admins: [
            { title: "Management", icon: "fas fa-users" },
            { title: "Settings", icon: "fas fa-gear" },
        ],
        cruds: [
            ["Create", "fas fa-circle-plus"],
            ["List", "fas fa-list-ul"],
            ["Update", "fas fa-pen"],
            ["Delete", "fas fa-trash"],
        ],
        setup: [
            ["Rounds", ""],
            ["Tables", ""],
            ["Settings", ""],
        ],
    }),
};
</script>
