<script setup>
import { useForm } from "@inertiajs/vue3";
import { ref, watch } from "vue";

const props = defineProps({
    title: String,
    schedule: Object,
    btnIcon: String,
    btnName: String,
    btnSubmitText: String,
    schedules: Array,
    teams: Array,
    rounds: Array,
    tables: Array,
    juries: Array,

});

const dialog = ref(false);
const snackbar = ref(false);

const itemTypes = [
    {
        title: "Info Block",
        id: "info"
    },
    {
        title: "Jury Session",
        id: "judge",
    },
    {
        title: "Robot Match",
        id: "match"
    }
]

const categories = [
    {
        title: "Jury",
        id: "JURY"
    },
    {
        title: "Table",
        id: "TABLE",
    },
    {
        title: "All",
        id: "ALL"
    }
]

const form = useForm({
    schedule_uuid: null,
    start_time: null,
    end_time: null,
    item_type: null,
    isCancelled: false,
    type: null,
    text: null,
    show_end_time: null,
    category: null,
    team_uuid: null,
    jury_uuid: null,
    table_uuid: null,
    round_uuid: null,
});

const createSchedule = () => {
    if(props.schedule === undefined) {
        form.post(route("schedule.store"), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
                dialog.value = false;
            },
            onError: () => {
            },
        });
    } else {
        form.post(route("schedule.update", {'uuid': props.tournament.uuid}), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
                dialog.value = false;
            },
            onError: () => {
            },
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
}

watch(dialog, (newValue) => {
    if (newValue && props.schedule !== undefined) {
        resetForm();
        console.log(props.schedule());

        const start_time = (props.schedule.start_time).slice(0,16);
        const end_time = (props.schedule().end_time).slice(0,16);

    }
});
</script>

<template>
    <v-snackbar v-model="snackbar" timeout="3000" color="success">
        {{ $vuetify.locale.t(props.title) }}

        <template v-slot:actions>
            <v-btn color="white" variant="text" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog transition="dialog-top-transition" v-model="dialog" width="1024">
        <template v-slot:activator="{ props }">

            <table-menu-item
                v-if="schedule !== undefined"
                v-bind="props"
                :text="btnName"
                :icon="btnIcon"
            ></table-menu-item>

            <v-btn
                v-if="schedule === undefined"
                color="primary"
                variant="elevated"
                v-bind="props"
                prepend-icon="mdi-plus"
            >
                {{ btnName }}
            </v-btn>

        </template>
        <v-card>
            <form @submit.prevent="createSchedule">
                <v-card-title class="pt-4">
                    <span class="text-h5">{{
                        $vuetify.locale.t(title)
                    }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>

                            <v-col cols="12">
                                <v-autocomplete
                                    :items="itemTypes"
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.typeOfSchedule'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="item_type"
                                    item-value="id"
                                    item-title="title"
                                    :error-messages="form.errors.item_type"
                                    v-model="form.item_type"
                                    auto-select-first
                                ></v-autocomplete>
                            </v-col>

                            <v-col cols="6" sm="6" md="6">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.startTime'
                                        )
                                    "
                                    id="startTime"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.start_time"
                                    type="time"
                                    v-model="form.start_time"
                                ></v-text-field>
                            </v-col>

                            <v-col cols="6" sm="6" md="6">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t('schedule.endTime')
                                    "
                                    id="endTime"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.end_time"
                                    type="time"
                                    v-model="form.end_time"
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='judge'"
                            >
                                <v-autocomplete
                                    :items="juries"
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.jury'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="juries"
                                    item-value="uuid"
                                    item-title="name"
                                    :error-messages="form.errors.jury_uuid"
                                    v-model="form.jury_uuid"
                                    auto-select-first
                                ></v-autocomplete>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='judge'"
                            >
                                <v-autocomplete
                                    :items="teams"
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.team'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="teams"
                                    item-value="uuid"
                                    item-title="id_name"
                                    :error-messages="form.errors.team_uuid"
                                    v-model="form.team_uuid"
                                    auto-select-first
                                ></v-autocomplete>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='match'"
                            >
                                <v-autocomplete
                                    :items="rounds"
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.round'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="rounds"
                                    item-value="uuid"
                                    item-title="name"
                                    :error-messages="form.errors.round_uuid"
                                    v-model="form.round_uuid"
                                    auto-select-first
                                ></v-autocomplete>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='match'"
                            >
                                <v-autocomplete
                                    :items="tables"
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.table'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="tables"
                                    item-value="uuid"
                                    item-title="color"
                                    :error-messages="form.errors.table_uuid"
                                    v-model="form.table_uuid"
                                    auto-select-first
                                ></v-autocomplete>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='match'"
                            >
                                <v-autocomplete
                                    :items="teams"
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.team'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="teams_match"
                                    item-value="uuid"
                                    item-title="id_name"
                                    :error-messages="form.errors.team_uuid"
                                    v-model="form.team_uuid"
                                    auto-select-first
                                ></v-autocomplete>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='info'"
                            >
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.type'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="types"
                                    :error-messages="form.errors.type"
                                    v-model="form.type"
                                    auto-select-first
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='info'"
                            >
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.text'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="tables"
                                    :error-messages="form.errors.text"
                                    v-model="form.text"
                                    auto-select-first
                                ></v-text-field>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='info'"
                            >
                                <v-autocomplete
                                    :items="categories"
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.category'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="category"
                                    item-value="uuid"
                                    item-title="title"
                                    :error-messages="form.errors.category"
                                    v-model="form.category"
                                    auto-select-first
                                ></v-autocomplete>
                            </v-col>

                            <v-col
                                cols="6" sm="6" md="6"
                                v-if="form.item_type=='info'"
                            >
                                <v-checkbox
                                    :label="
                                        $vuetify.locale.t(
                                            'schedule.showEndTime'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="show_end_time"
                                    :error-messages="form.errors.show_end_time"
                                    v-model="form.show_end_time"
                                    auto-select-first
                                ></v-checkbox>
                            </v-col>
                        </v-row>

                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        variant="text"
                        @click="dialog = false"
                    >
                        {{ $vuetify.locale.t("general.close") }}
                    </v-btn>
                    <v-btn
                        :loading="form.processing"
                        color="blue-darken-1"
                        type="submit"
                    >
                        {{ $vuetify.locale.t("general.save") }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data: () => ({
        dialog: false,
        nullDatetime: null,
    }),
};
</script>
