<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { VDataTable } from "vuetify/labs/VDataTable";
import createTournamentModal from "./Partials/createTournamentModal.vue";
import TournamentModal from "./Partials/TournamentModal.vue";
import { Head, router } from "@inertiajs/vue3";
import PageHeader from "../../../Components/PageHeader.vue";
import TableMenu from "../../../Components/table/TableMenu.vue";
import TableMenuItem from "../../../Components/table/TableMenuItem.vue";
import { computed, ref } from "vue";
import { useDisplay, useLocale } from "vuetify";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";
const { t } = useLocale();

defineOptions({ layout: AdminLayout });

defineProps({
    tournaments: Object,
    scoreSheets: Array,
});

const tableHeight = computed(() => {
    let h = 0;

    if (useDisplay().smAndDown.value) {
        h = 350;
    } else {
        h = 250;
    }

    return `calc(100vh - ${h}px)`;
});

const itemsPerPage = ref(25);

const search = ref("");

const headers = [
    { title: t("tournament.name"), align: "start", key: "name" },
    {
        title: t("tournament.seasonName"),
        align: "start",
        key: "score_sheet.name",
    },
    { title: t("tournament.startTime"), align: "start", key: "start_time" },
    {
        title: "",
        align: "end",
        key: "actions",
        sortable: false,
    },
];

const tournamentsLoading = ref([]);

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

function startLoading(uuid) {
    tournamentsLoading.value.push(uuid);
}

function endLoading(uuid) {
    const index = tournamentsLoading.value.indexOf(uuid);
    if (index !== -1) {
        tournamentsLoading.value.splice(index, 1);
    }
}

function handleDelete(uuid) {
    router.visit(route("tournaments.destroy", { uuid: uuid }), {
        method: "DELETE",
        preserveScroll: true,
        preserveState: true,
        onStart: () => {
            startLoading(uuid);
        },
        onFinish: () => {
            endLoading(uuid);
        },
    });
}
</script>

<template>
    <Head :title="$vuetify.locale.t('tournament.title')"></Head>

    <div class="tw-py-4 md:tw-px-4 tw-px-2">
        <div
            class="tw-bg-white tw-overflow-hidden tw-shadow tw-rounded tw-border tw-border-solid tw-border-gray-300"
        >
            <v-data-table
                :theme="preferences.state.darkMode ? 'dark' : 'light'"
                v-model:items-per-page="itemsPerPage"
                :headers="headers"
                :items="tournaments"
                item-value="uuid"
                class="elevation-1"
                :height="tableHeight"
                hover
                show-current-page
                density="comfortable"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar
                        density="compact"
                        class="tw-border-solid tw-border-b"
                    >
                        <v-toolbar-title>{{
                            $vuetify.locale.t("tournament.title")
                        }}</v-toolbar-title>
                        <v-text-field
                            v-model="search"
                            :placeholder="$vuetify.locale.t('general.search')"
                            :density="null"
                            variant="underlined"
                            class="tw-max-w-sm tw-mr-4"
                            clearable
                            hide-details
                            single-line
                        ></v-text-field>

                        <TournamentModal
                            :scoreSheets="scoreSheets"
                            :btnName="$vuetify.locale.t('general.add')"
                            :btnSubmitText="$vuetify.locale.t('general.save')"
                            :title="$vuetify.locale.t('tournament.titleModalAdd')"
                            btnIcon="mdi-eye"
                            v-if="$userCan('tournament.create')"
                        />

                    </v-toolbar>
                </template>

                <template v-slot:item.start_time="{ item }">
                    {{(item.raw.start_time).slice(0,16).replace("T", " ")}}
                </template>

                <template v-slot:item.actions="{ item }">
                    <table-menu
                        :loading="tournamentsLoading.includes(item.value)"
                    >
<!--                        <table-menu-item-->
<!--                            :href="route('dashboard')"-->
<!--                            :text="$vuetify.locale.t('general.show')"-->
<!--                            icon="mdi-eye"-->
<!--                            icon="mdi-eye"-->
<!--                        ></table-menu-item>-->

<!--                        <table-menu-item-->
<!--                            :href="route('dashboard')"-->
<!--                            :text="$vuetify.locale.t('general.edit')"-->
<!--                            icon="mdi-pencil"-->
<!--                        ></table-menu-item>-->

                        <TournamentModal
                            :scoreSheets="scoreSheets"
                            :tournament="item.raw"
                            :btnName="$vuetify.locale.t('general.show')"
                            :btnSubmitText="$vuetify.locale.t('general.update')"
                            :title="$vuetify.locale.t('tournament.titleModalEdit')"
                            btnIcon="mdi-eye"
                            v-if="$userCan('tournament.edit')"
                        />

                        <TournamentModal
                            :scoreSheets="scoreSheets"
                            :tournament="item.raw"
                            :btnName="$vuetify.locale.t('general.edit')"
                            :btnSubmitText="$vuetify.locale.t('general.update')"
                            :title="$vuetify.locale.t('tournament.titleModalEdit')"
                            btnIcon="mdi-pencil"
                            v-if="$userCan('tournament.edit')"
                        />


                        <table-menu-item
                            :text="$vuetify.locale.t('general.delete')"
                            icon="mdi-delete"
                            @click="handleDelete(item.value)"
                            v-if="$userCan('tournament.delete')"
                        ></table-menu-item>

                    </table-menu>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
