<script setup>

</script>

<template>
    <v-card class="mx-auto" width="100%">

        <template v-slot:title>

                <div class="text-center">
                1000 - De Vliegende Blokjes
                </div>
        </template>

        <v-card-text>
            <v-row>
                <v-col><v-img
                        src="https://static.vecteezy.com/system/resources/previews/001/840/618/large_2x/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg"></v-img></v-col>
                <v-col>
                    <div>
                        <div>
                            <span class="font-weight-bold">Organisation: </span> Test
                        </div>
                        <div>
                            <span class="font-weight-bold">Tournament: </span> Helmond
                        </div>
                        <div>
                            <span class="font-weight-bold"><v-icon icon="mdi-instagram"></v-icon> Instagram</span>
                        </div>
                        <div>
                            <span class="font-weight-bold"><v-icon icon="mdi-snapchat"></v-icon> Snapchat</span>
                        </div>
                        <div>
                            <span class="font-weight-bold"><v-icon icon="mdi-facebook"></v-icon> Facebook</span>
                        </div>
                        <div>
                            <span class="font-weight-bold"><v-icon icon="mdi-web"></v-icon> Website</span>
                        </div>

                        <div class="tw-pt-12">
                            <v-btn
                                color="green"
                                width="100%"
                                >
                                100 Points
                            </v-btn>
                        </div>
                    </div>
                </v-col>
            </v-row>

        </v-card-text>
    </v-card>
</template>
