<script setup>
import { Link } from "@inertiajs/vue3";

const props = defineProps(["routes", "currentRoute"]);
</script>

<template>
    <div v-for="(r, index) in routes">
        <Link
            :href="route(r.name)"
            class="text-decoration-none text-gray-800 dark:text-gray-400"
            v-if="
                r.type === 'item' &&
                (!('ability' in r) ||
                    r.ability === null ||
                    $userCan(r.ability)) &&
                (!('show' in r) || r.show === null || r.show())
            "
        >
            <v-list-item
                value="0"
                :active="currentRoute === r.name"
                class="tw-rounded-r-full text-gray-800 dark:tw-text-gray-100"
                :prepend-icon="r.icon"
                active-color="primary"
                :title="$vuetify.locale.t(r.translation)"
            />
        </Link>
        <v-list-group
            v-else-if="
                r.type === 'group' &&
                (!('ability' in r) ||
                    r.ability === null ||
                    $userCan(r.ability)) &&
                (!('show' in r) || r.show === null || r.show())
            "
        >
            <template v-slot:activator="{ props }">
                <v-list-item
                    v-bind="props"
                    value="0"
                    :active="false"
                    class="tw-rounded-r-full text-gray-800 dark:tw-text-gray-100"
                    :prepend-icon="r.icon"
                    active-color="primary"
                    :title="$vuetify.locale.t(r.translation)"
                />
            </template>
            <MenuList
                :routes="r.routes"
                :current-route="currentRoute"
            ></MenuList>
        </v-list-group>
    </div>
</template>

<style scoped></style>
