<script setup>
import { Link, router, usePage } from "@inertiajs/vue3";
import { ref } from "vue";
import LanguageSwitcher from "../../Components/LanguageSwitcher.vue";
import DarkModeSwitcher from "../../Components/DarkModeSwitcher.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../stores/preferencesStore";

const page = usePage();

const userName = page.props.auth.user.name;

const logout = () => {
    router.post(route("logout"));
};

const opened = ref(false);

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);
</script>

<template>
    <v-menu v-model="opened">
        <template v-slot:activator="{ props }">
            <v-btn class="ml-1 text-white tw-truncate" v-bind="props">
                {{ userName }}
                <v-icon
                    class="mt-.5 toggleUpDown -tw-mr-2"
                    :class="{ rotate: opened }"
                    icon="mdi-chevron-down"
                    size="23px"
                ></v-icon>
            </v-btn>
        </template>

        <v-list density="compact" :theme="preferences.state.darkMode?'dark':'light'">
            <v-list-subheader>{{
                    $vuetify.locale.t("general.language")
                }}
            </v-list-subheader>
            <language-switcher
                @language-changed="opened = false"
                in-v-list
            ></language-switcher>
            <div class="tw-px-2 tw-overflow-hidden tw-mb-2">
                <DarkModeSwitcher class="tw-w-full" />
            </div>
            <v-divider></v-divider>
            <v-list-subheader>{{
                    $page.props.auth.user.email
                }}
            </v-list-subheader>
            <Link
                :href="route('profile.show')"
                class="text-decoration-none"
            >
                <v-list-item value="0">
                    <v-list-item-title>
                        {{ $vuetify.locale.t("menu.userSettings") }}
                    </v-list-item-title>
                </v-list-item>
            </Link>
            <v-divider></v-divider>
            <v-list-item value="0" @click.prevent="logout">
                <v-list-item-title>
                    {{ $vuetify.locale.t("menu.logout") }}
                </v-list-item-title>
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<style scoped>
.toggleUpDown {
    transition: transform 0.15s ease-in-out !important;
}

.toggleUpDown.rotate {
    transform: rotate(180deg) translateY(2px);
}
</style>
