<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import PageHeader from "../../../Components/PageHeader.vue";
import { Head } from "@inertiajs/vue3";
defineOptions({ layout: AdminLayout });
</script>

<template>
    <Head :title="$vuetify.locale.t('judge.robot.title')"></Head>
    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-leading-tight"
        >
            <div>
                <div style="display: inline-block">
                    {{ $vuetify.locale.t("judge.robot.title") }}
                </div>
            </div>
        </h2>
    </page-header>

    <div class="tw-py-12 dark:tw-bg-zinc-950">
        <div class="tw-max-w-7xl tw-mx-auto sm:tw-px-6 lg:tw-px-8">
            <h2
                style="padding: 10px"
                class="tw-bg-green-500 tw-text-center tw-text-white tw-overflow-hidden tw-shadow sm:tw-rounded-lg"
            >
                {{ $vuetify.locale.t("judge.robot.title") }}
            </h2>

            <div
                style="margin-top: 20px; width: 100%"
                class="tw-p-3 tw-bg-white tw-overflow-hidden tw-shadow sm:tw-rounded-lg"
            >
                <div class="tw-flex">
                    <div class="tw-text-center" style="width: 15%">
                        12:25 - 13:00
                    </div>
                    <div class="tw-text-center" style="width: 25%">
                        Team: 0001
                    </div>
                    <div style="width: 45%; flex: left">TestTeam</div>
                    <div class="tw-text-center" style="width: 15%">
                        {{ $vuetify.locale.t("judge.general.lane") }}: A
                    </div>
                </div>
            </div>

            <div
                style="margin-top: 20px"
                class="tw-bg-white tw-overflow-hidden tw-shadow sm:tw-rounded-lg judge-form-border"
            >
                <div class="tw-flex tw-text-center">
                    <div
                        class="judge-form-border tw-bg-green-100 tw-text-xl"
                        style="
                            padding-top: 20px;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        {{ $vuetify.locale.t("judge.general.beginning") }}
                    </div>
                    <div
                        class="judge-form-border tw-bg-green-300 tw-text-xl"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        {{ $vuetify.locale.t("judge.general.developing") }}
                    </div>
                    <div
                        class="judge-form-border tw-bg-green-500 tw-text-xl tw-text-white"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        {{ $vuetify.locale.t("judge.general.accomplished") }}
                    </div>
                    <div
                        class="judge-form-border tw-bg-green-700 tw-text-xl tw-text-white"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        {{ $vuetify.locale.t("judge.general.exceeds") }}
                    </div>
                </div>

                <div
                    class="tw-bg-green-400 tw-text-black judge-form-border"
                    style="
                        padding-left: 20px;
                        padding-top: 7.5px;
                        padding-bottom: 7.5px;
                    "
                >
                    {{ $vuetify.locale.t("judge.robot.identify") }} |
                    {{ $vuetify.locale.t("judge.robot.identifyDesc") }}
                </div>

                <div class="tw-flex tw-text-center">
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t("judge.robot.strategy.beginning")
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t("judge.robot.strategy.developing")
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t(
                                "judge.robot.strategy.accomplished"
                            )
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{ $vuetify.locale.t("judge.robot.strategy.exceeds") }}
                    </div>
                </div>

                <div class="tw-flex tw-text-center">
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t("judge.robot.allskills.beginning")
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t(
                                "judge.robot.allskills.developing"
                            )
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t(
                                "judge.robot.allskills.accomplished"
                            )
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{ $vuetify.locale.t("judge.robot.allskills.exceeds") }}
                    </div>
                </div>

                <div
                    class="tw-bg-green-400 tw-text-black judge-form-border"
                    style="
                        padding-left: 20px;
                        padding-top: 7.5px;
                        padding-bottom: 7.5px;
                    "
                >
                    {{ $vuetify.locale.t("judge.robot.identify") }} |
                    {{ $vuetify.locale.t("judge.robot.identifyDesc") }}
                </div>

                <div class="tw-flex tw-text-center">
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t("judge.robot.strategy.beginning")
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t("judge.robot.strategy.developing")
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t(
                                "judge.robot.strategy.accomplished"
                            )
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{ $vuetify.locale.t("judge.robot.strategy.exceeds") }}
                    </div>
                </div>

                <div class="tw-flex tw-text-center">
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t("judge.robot.allskills.beginning")
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t(
                                "judge.robot.allskills.developing"
                            )
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{
                            $vuetify.locale.t(
                                "judge.robot.allskills.accomplished"
                            )
                        }}
                    </div>
                    <div
                        class="judge-form-border"
                        style="
                            padding-top: 20px;
                            padding-bottom: 20px;
                            width: 25%;
                        "
                    >
                        <input type="checkbox" />
                        {{ $vuetify.locale.t("judge.robot.allskills.exceeds") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script></script>
