<script setup>
import { ref } from "vue";
import { useForm } from "@inertiajs/vue3";
import ActionSection from "@/Components/ActionSection.vue";
import InputError from "@/Components/InputError.vue";

const confirmingUserDeletion = ref(false);
const passwordInput = ref(null);

const form = useForm({
    password: "",
});

const closeModal = () => {
    confirmingUserDeletion.value = false;

    form.reset();
};

const deleteUser = () => {
    form.delete(route("current-user.destroy"), {
        preserveScroll: true,
        onSuccess: () => closeModal(),
        onError: () => passwordInput.value.focus(),
        onFinish: () => form.reset(),
    });
};
</script>

<template>
    <ActionSection>
        <template #title> Delete Account </template>

        <template #description> Permanently delete your account. </template>

        <template #content>
            <div class="tw-max-w-xl tw-text-sm tw-text-gray-600">
                Once your account is deleted, all of its resources and data will
                be permanently deleted. Before deleting your account, please
                download any data or information that you wish to retain.
            </div>

            <div style="height: 5px"></div>

            <div class="tw-mt-5 tw-ml-3">
                <v-row>
                    <v-dialog v-model="dialog" width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="red-accent-4" v-bind="props">
                                Delete Account
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="text-h5">Delete Account</span>
                            </v-card-title>
                            <v-card-text>
                                Are you sure you want to delete your account?
                                Once your account is deleted, all of its
                                resources and data will be permanently deleted.
                                Please enter your password to confirm you would
                                like to permanently delete your account.

                                <div class="tw-mt-4">
                                    <v-text-field
                                        ref="passwordInput"
                                        v-model="form.password"
                                        type="password"
                                        class="tw-mt-1 tw-block tw-w-3/4"
                                        placeholder="Password"
                                        autocomplete="current-password"
                                        @keyup.enter="deleteUser"
                                    />

                                    <InputError
                                        :message="form.errors.password"
                                        class="tw-mt-2"
                                    />
                                </div>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="blue-darken-1"
                                    @click="dialog = false"
                                >
                                    Close
                                </v-btn>
                                <v-btn color="red" @click="deleteUser">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
            </div>
        </template>
    </ActionSection>
</template>

<script>
export default {
    data: () => ({
        dialog: false,
    }),
};
</script>
