<script setup>
import { ref } from "vue";
import { useForm } from "@inertiajs/vue3";
import ActionMessage from "@/Components/ActionMessage.vue";
import ActionSection from "@/Components/ActionSection.vue";
import InputError from "@/Components/InputError.vue";

defineProps({
    sessions: Array,
});

const confirmingLogout = ref(false);
const passwordInput = ref(null);

const form = useForm({
    password: "",
});

const closeModal = () => {
    confirmingLogout.value = false;

    form.reset();
};

const logoutOtherBrowserSessions = () => {
    form.delete(route("other-browser-sessions.destroy"), {
        preserveScroll: true,
        onSuccess: () => closeModal(),
        onError: () => passwordInput.value.focus(),
        onFinish: () => form.reset(),
    });
};
</script>

<template>
    <ActionSection>
        <template #title> {{ $vuetify.locale.t("profile.bsTitle") }}</template>

        <template #description>
            {{ $vuetify.locale.t("profile.bsDesc") }}
        </template>

        <template #content>
            <div class="tw-max-w-xl tw-text-sm tw-text-gray-600">
                {{ $vuetify.locale.t("profile.bsDescLogout") }}
            </div>

            <!-- Other Browser Sessions -->
            <div v-if="sessions.length > 0" class="tw-mt-5 tw-space-y-6">
                <div
                    v-for="(session, i) in sessions"
                    :key="i"
                    class="tw-flex tw-items-center"
                >
                    <div>
                        <svg
                            v-if="session.agent.is_desktop"
                            class="tw-w-8 tw-h-8 tw-text-gray-500"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25"
                            />
                        </svg>

                        <svg
                            v-else
                            class="tw-w-8 tw-h-8 tw-text-gray-500"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
                            />
                        </svg>
                    </div>

                    <div class="tw-ml-3">
                        <div class="tw-text-sm tw-text-gray-600">
                            {{
                                session.agent.platform
                                    ? session.agent.platform
                                    : "Unknown"
                            }}
                            -
                            {{
                                session.agent.browser
                                    ? session.agent.browser
                                    : "Unknown"
                            }}
                        </div>

                        <div>
                            <div class="tw-text-xs tw-text-gray-500">
                                {{ session.ip_address }},

                                <span
                                    v-if="session.is_current_device"
                                    class="tw-text-green-500 tw-font-semibold"
                                    >{{
                                        $vuetify.locale.t(
                                            "profile.bsThisDevice"
                                        )
                                    }}</span
                                >
                                <span v-else
                                    >{{
                                        $vuetify.locale.t(
                                            "profile.bsLastActive"
                                        )
                                    }}
                                    {{ session.last_active }}</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tw-flex tw-items-center tw-mt-5">
                <v-row>
                    <v-dialog v-model="dialog" width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn
                                class="tw-ml-3 tw-mt-1"
                                color="warning"
                                v-bind="props"
                            >
                                {{ $vuetify.locale.t("profile.bsLogOut") }}
                            </v-btn>
                        </template>

                        <v-card>
                            <v-card-title>
                                <span class="text-h5">{{
                                    $vuetify.locale.t("profile.bsLogOut")
                                }}</span>
                            </v-card-title>
                            <v-card-text>
                                {{
                                    $vuetify.locale.t("profile.bsLogOutConfirm")
                                }}

                                <div class="tw-mt-4">
                                    <v-text-field
                                        ref="passwordInput"
                                        v-model="form.password"
                                        type="password"
                                        class="tw-mt-1 tw-block tw-w-3/4"
                                        placeholder="Password"
                                        autocomplete="current-password"
                                        @keyup.enter="
                                            logoutOtherBrowserSessions
                                        "
                                    />

                                    <InputError
                                        :message="form.errors.password"
                                        class="tw-mt-2"
                                    />
                                </div>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    color="blue-darken-1"
                                    @click="dialog = false"
                                >
                                    {{ $vuetify.locale.t("profile.close") }}
                                </v-btn>
                                <v-btn
                                    color="red"
                                    @click="logoutOtherBrowserSessions"
                                >
                                    {{ $vuetify.locale.t("profile.logout") }}
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>

                <ActionMessage :on="form.recentlySuccessful" class="tw-ml-3">
                    {{ $vuetify.locale.t("profile.done") }}.
                </ActionMessage>
            </div>
        </template>
    </ActionSection>
</template>

<script>
export default {
    data: () => ({
        dialog: false,
    }),
};
</script>
