<script setup>
import { ref } from "vue";
import { Link, router, useForm } from "@inertiajs/vue3";
import FormSection from "@/Components/FormSection.vue";
import ActionSection from "@/Components/ActionSection.vue";

const urlBase64ToUint8Array = (base64String) => {
    const padding = "=".repeat((4 - (base64String.length % 4)) % 4);
    const base64 = (base64String + padding)
        .replace(/-/g, "+")
        .replace(/_/g, "/");

    const rawData = window.atob(base64);
    const outputArray = new Uint8Array(rawData.length);

    for (let i = 0; i < rawData.length; ++i) {
        outputArray[i] = rawData.charCodeAt(i);
    }
    return outputArray;
};

const storePushSubscription = (pushSubscription) => {
    const encoding = (PushManager.supportedContentEncodings || ["aesgcm"])[0];
    router.post(
        route("push.subscribe"),
        {
            pushSubscription,
            encoding,
            route: route().current(),
        },
        {
            preserveState: true,
            preserveScroll: true,
        },
    );
};

const subscribeUser = () => {
    navigator.serviceWorker.ready
        .then((registration) => {
            console.log(import.meta.env);

            const subscribeOptions = {
                userVisibleOnly: true,
                applicationServerKey: urlBase64ToUint8Array(import.meta.env.VITE_VAPID_PUBLIC_KEY),
            };
            return registration.pushManager.subscribe(subscribeOptions);
        })
        .then((pushSubscription) => {

            console.log(
                "Received PushSubscription: ",
                JSON.stringify(pushSubscription),
            );
            storePushSubscription(pushSubscription);
        });
};

const requestNotifications = () => {
    if (!navigator.serviceWorker.ready) {
        return;
    }

    new Promise((resolve, reject) => {
        const permissionResult = Notification.requestPermission((result) => {
            resolve(result);
        });

        if (permissionResult) {
            permissionResult.then(resolve, reject);
        }
    }).then((permissionResult) => {
        if (permissionResult !== "granted") {
            throw new Error("We weren't granted permission.");
        }
        subscribeUser();
    });
};

</script>

<template>
    <ActionSection>
        <template #title>
            {{ $vuetify.locale.t("profile.notificationTitle") }}
        </template>

        <template #description>
            {{ $vuetify.locale.t("profile.notificationDesc") }}
        </template>

        <template #content>
            <div class="tw-max-w-xl tw-text-sm tw-text-gray-600">
                {{ $vuetify.locale.t("profile.notificationExplaination") }}
            </div>

            <v-btn
                class="tw-mr-3 tw-mt-3"
                color="primary"
                @click="requestNotifications"
            >
                {{ $vuetify.locale.t("profile.notificationSubscribe") }}
            </v-btn>
        </template>
    </ActionSection>
</template>
