<script setup>
import { ref, computed, watch } from "vue";
import { router, useForm, usePage } from "@inertiajs/vue3";
import ActionSection from "@/Components/ActionSection.vue";
import ConfirmsPassword from "@/Components/ConfirmsPassword.vue";
import InputError from "@/Components/InputError.vue";

const props = defineProps({
    requiresConfirmation: Boolean,
});

const enabling = ref(false);
const confirming = ref(false);
const confirmingLoading = ref(false);
const disabling = ref(false);
const qrCode = ref(null);
const setupKey = ref(null);
const recoveryCodes = ref([]);

const confirmationForm = useForm({
    code: "",
});

const twoFactorEnabled = computed(
    () => !enabling.value && usePage().props.auth.user?.two_factor_enabled
);

watch(twoFactorEnabled, () => {
    if (!twoFactorEnabled.value) {
        confirmationForm.reset();
        confirmationForm.clearErrors();
    }
});

const showRecoveryCodes = () =>
    axios.get("/user/two-factor-recovery-codes").then((response) => {
        recoveryCodes.value = response.data;
    });

const showQrCode = () =>
    axios.get("/user/two-factor-qr-code").then((response) => {
        qrCode.value = response.data.svg;
    });

const showSetupKey = () =>
    axios.get("/user/two-factor-secret-key").then((response) => {
        setupKey.value = response.data.secretKey;
    });

const enableTwoFactorAuthentication = () => {
    enabling.value = true;

    router.post(
        "/user/two-factor-authentication",
        {},
        {
            preserveScroll: true,
            onSuccess: () =>
                Promise.all([
                    showQrCode(),
                    showSetupKey(),
                    showRecoveryCodes(),
                ]),
            onFinish: () => {
                enabling.value = false;
                confirming.value = props.requiresConfirmation;
            },
        }
    );
};

const confirmTwoFactorAuthentication = () => {
    confirmingLoading.value = true;
    confirmationForm.post("/user/confirmed-two-factor-authentication", {
        errorBag: "confirmTwoFactorAuthentication",
        preserveScroll: true,
        preserveState: true,
        onSuccess: () => {
            confirming.value = false;
            qrCode.value = null;
            setupKey.value = null;
        },
        onFinish: () => {
            confirmingLoading.value = false;
        },
    });
};

const regenerateRecoveryCodes = () => {
    axios
        .post("/user/two-factor-recovery-codes")
        .then(() => showRecoveryCodes());
};

const disableTwoFactorAuthentication = () => {
    disabling.value = true;

    router.delete("/user/two-factor-authentication", {
        preserveScroll: true,
        onSuccess: () => {
            disabling.value = false;
            confirming.value = false;
        },
    });
};
</script>

<template>
    <ActionSection>
        <template #title>
            {{ $vuetify.locale.t("profile.mfaTitle") }}
        </template>

        <template #description>
            {{ $vuetify.locale.t("profile.mfaDesc") }}
        </template>

        <template #content>
            <h3
                v-if="twoFactorEnabled && !confirming"
                class="tw-text-lg tw-font-medium tw-text-gray-900"
            >
                {{ $vuetify.locale.t("profile.mfaEnabledTitle") }}
            </h3>

            <h3
                v-else-if="twoFactorEnabled && confirming"
                class="tw-text-lg tw-font-medium tw-text-gray-900"
            >
                {{ $vuetify.locale.t("profile.mfaFinishEnableTitle") }}
            </h3>

            <h3 v-else class="tw-text-lg tw-font-medium tw-text-gray-900">
                {{ $vuetify.locale.t("profile.mfaNotEnabledTitle") }}
            </h3>

            <div class="tw-mt-3 tw-max-w-xl tw-text-sm tw-text-gray-600">
                <p>
                    {{ $vuetify.locale.t("profile.mfaNotEnabledDesc") }}
                </p>
            </div>

            <div v-if="twoFactorEnabled">
                <div v-if="qrCode">
                    <div
                        class="tw-mt-4 tw-max-w-xl tw-text-sm tw-text-gray-600"
                    >
                        <p v-if="confirming" class="tw-font-semibold">
                            {{ $vuetify.locale.t("profile.mfaConfirmDesc") }}
                        </p>

                        <p v-else>
                            {{ $vuetify.locale.t("profile.mfaEnabledDesc") }}
                        </p>
                    </div>

                    <div class="tw-mt-4" v-html="qrCode" />

                    <div
                        v-if="setupKey"
                        class="tw-mt-4 tw-max-w-xl tw-text-sm tw-text-gray-600"
                    >
                        <p class="tw-font-semibold">
                            Setup Key: <span v-html="setupKey"></span>
                        </p>
                    </div>

                    <div v-if="confirming" class="tw-mt-4">
                        <v-text-field
                            id="code"
                            v-model="confirmationForm.code"
                            type="text"
                            name="code"
                            class="tw-block tw-mt-1 tw-w-1/2"
                            inputmode="numeric"
                            :label="$vuetify.locale.t('profile.code')"
                            placeholder="123456"
                            autofocus
                            autocomplete="one-time-code"
                            @keyup.enter="confirmTwoFactorAuthentication"
                        />

                        <InputError :message="confirmationForm.errors.code" />
                    </div>
                </div>

                <div v-if="recoveryCodes.length > 0 && !confirming">
                    <div
                        class="tw-mt-4 tw-max-w-xl tw-text-sm tw-text-gray-600"
                    >
                        <p class="tw-font-semibold">
                            {{ $vuetify.locale.t("profile.mfaRecoveryCode") }}
                        </p>
                    </div>

                    <div
                        class="tw-grid tw-gap-1 tw-max-w-xl tw-mt-4 tw-px-4 tw-py-4 tw-font-mono tw-text-sm tw-bg-gray-100 tw-rounded-lg"
                    >
                        <div v-for="code in recoveryCodes" :key="code">
                            {{ code }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="tw-mt-5">
                <div v-if="!twoFactorEnabled">
                    <ConfirmsPassword
                        @confirmed="enableTwoFactorAuthentication"
                    >
                        <v-btn
                            class="tw-mr-3 tw-mt-1"
                            color="primary"
                            :disabled="enabling"
                            :loading="enabling"
                        >
                            {{ $vuetify.locale.t("profile.enable") }}
                        </v-btn>
                    </ConfirmsPassword>
                </div>

                <div v-else>
                    <ConfirmsPassword
                        @confirmed="confirmTwoFactorAuthentication"
                    >
                        <v-btn
                            class="tw-mr-3 tw-mt-1"
                            color="primary"
                            v-if="confirming"
                            :disabled="confirmingLoading"
                            :loading="confirmingLoading"
                        >
                            {{ $vuetify.locale.t("profile.confirm") }}
                        </v-btn>
                    </ConfirmsPassword>

                    <ConfirmsPassword @confirmed="regenerateRecoveryCodes">
                        <v-btn
                            class="tw-mr-3 tw-mt-1"
                            v-if="recoveryCodes.length > 0 && !confirming"
                        >
                            {{
                                $vuetify.locale.t("profile.mfaRegenerateBackup")
                            }}
                        </v-btn>
                    </ConfirmsPassword>

                    <ConfirmsPassword @confirmed="showRecoveryCodes">
                        <v-btn
                            class="tw-mr-3 tw-mt-1"
                            v-if="recoveryCodes.length === 0 && !confirming"
                        >
                            {{ $vuetify.locale.t("profile.mfaShowRecovery") }}
                        </v-btn>
                    </ConfirmsPassword>

                    <ConfirmsPassword
                        @confirmed="disableTwoFactorAuthentication"
                    >
                        <v-btn
                            class="tw-mr-3 tw-mt-1"
                            color="warning"
                            v-if="confirming"
                            :class="{ 'tw-opacity-25': disabling }"
                            :disabled="disabling || confirmingLoading"
                        >
                            {{ $vuetify.locale.t("profile.cancel") }}
                        </v-btn>
                    </ConfirmsPassword>

                    <ConfirmsPassword
                        @confirmed="disableTwoFactorAuthentication"
                    >
                        <v-btn
                            class="tw-mr-3 tw-mt-1"
                            color="red"
                            v-if="!confirming"
                            :class="{ 'tw-opacity-25': disabling }"
                            :disabled="disabling"
                            :loading="disabling"
                        >
                            {{ $vuetify.locale.t("profile.disable") }}
                        </v-btn>
                    </ConfirmsPassword>
                </div>
            </div>
        </template>
    </ActionSection>
</template>
