<script setup>
import { ref } from "vue";
import { useForm } from "@inertiajs/vue3";
import FormSection from "@/Components/FormSection.vue";

const passwordInput = ref(null);
const currentPasswordInput = ref(null);

const form = useForm({
    current_password: "",
    password: "",
    password_confirmation: "",
});

const updatePassword = () => {
    form.put(route("user-password.update"), {
        errorBag: "updatePassword",
        preserveScroll: true,
        onSuccess: () => form.reset(),
        onError: () => {
            if (form.errors.password) {
                form.reset("password", "password_confirmation");
                passwordInput.value.focus();
            }

            if (form.errors.current_password) {
                form.reset("current_password");
                currentPasswordInput.value.focus();
            }
        },
    });
};
</script>

<template>
    <FormSection @submitted="updatePassword">
        <template #title>
            {{ $vuetify.locale.t("profile.upPassTitle") }}
        </template>

        <template #description>
            {{ $vuetify.locale.t("profile.upPassDesc") }}
        </template>

        <template #form>
            <div class="tw-col-span-6 sm:tw-col-span-4">
                <v-alert
                    v-for="item in form.errors"
                    icon="$error"
                    :text="item"
                    :key="item"
                    border="bottom"
                    border-color="error"
                    elevation="2"
                    density="compact"
                    class="mb-4"
                >
                </v-alert>

                <v-text-field
                    id="current_password"
                    ref="currentPasswordInput"
                    v-model="form.current_password"
                    type="password"
                    :label="$vuetify.locale.t('profile.currentPass')"
                    class="tw-block tw-w-full"
                    autocomplete="current-password"
                />

                <v-text-field
                    id="password"
                    ref="passwordInput"
                    v-model="form.password"
                    type="password"
                    :label="$vuetify.locale.t('profile.newPass')"
                    class="tw-block tw-w-full"
                    autocomplete="new-password"
                />

                <v-text-field
                    id="password_confirmation"
                    v-model="form.password_confirmation"
                    type="password"
                    :label="$vuetify.locale.t('profile.confirmPass')"
                    class="tw-block tw-w-full"
                    autocomplete="new-password"
                />
            </div>
        </template>

        <template #actions>
            <v-btn type="submit" :loading="form.processing" color="primary">{{
                $vuetify.locale.t("profile.save")
            }}</v-btn>
        </template>
    </FormSection>
</template>
