<script setup>
import { computed } from "vue";
import { useForm, usePage } from "@inertiajs/vue3";
import FormSection from "@/Components/FormSection.vue";

const page = usePage();
</script>

<script>

import {computed} from "vue";
import {useForm, usePage} from "@inertiajs/vue3";
const page = usePage();

const form = useForm({
    _method: "PUT",
    settings: {},
});

export default {
    data() {
        return {
            settingValues: {},
        };
    },
    created() {
        this.returnSettings = computed(() => page.props.settings.modules).value;
    },
    mounted() {
        for(const s in this.returnSettings){
            this.settingValues[this.returnSettings[s].uuid] = this.returnSettings[s].value;
        };
    },
    methods: {
        sendData() {
          form.settings = this.settingValues;
          form.put(route("setting.store"))
        }
    }
}

</script>

<template>
    <FormSection @submitted="sendData">
        <template #title>
            {{ $vuetify.locale.t("settings.moduleTitle") }}
        </template>

        <template #description>
            {{ $vuetify.locale.t("settings.moduleDesc") }}
        </template>

        <template #form>
            <div
                v-for="setting in returnSettings"
                class="tw-col-span-12 sm:tw-col-span-4"
            >
                <v-switch
                    v-if="setting.type == 'BOOLEAN'"
                    color="blue"
                    :id="setting.key"
                    :ref="setting.key"
                    :model-value="setting.value"
                    v-model="settingValues[setting.uuid]"
                    :label="$vuetify.locale.t(setting.name)"
                    class="tw-block tw-w-full"
                />

                <v-text-field
                    v-if="setting.type == 'TEXT'"
                    color="blue"
                    :id="setting.key"
                    :ref="setting.key"
                    :model-value="setting.value"
                    v-model="settingValues[setting.uuid]"
                    :label="$vuetify.locale.t(setting.name)"
                    class="tw-block tw-w-full"
                />

                <v-text-field
                    v-if="setting.type == 'NUMBER'"
                    color="blue"
                    :id="setting.key"
                    :ref="setting.key"
                    :model-value="setting.value"
                    v-model="settingValues[setting.uuid]"
                    :label="$vuetify.locale.t(setting.name)"
                    class="tw-block tw-w-full"
                />

            </div>
        </template>

        <template #actions>
            <v-btn type="submit" color="primary">{{
                $vuetify.locale.t("profile.save")
            }}</v-btn>
        </template>
    </FormSection>
</template>
