<script setup>
import { ref } from "vue";
import { useForm } from "@inertiajs/vue3";
import FormSection from "@/Components/FormSection.vue";
</script>

<script>

import {computed} from "vue";
import {useForm, usePage} from "@inertiajs/vue3";
const page = usePage();

const form = useForm({
    _method: "PUT",
    settings: {},
});

export default {
    data() {
        return {
            settingValues: {},
        };
    },
    created() {
        this.returnSettings = computed(() => page.props.settings.modules).value;
    },
    mounted() {
        for(const s in this.returnSettings){
            this.settingValues[this.returnSettings[s].uuid] = this.returnSettings[s].value;
        };
    },
    methods: {
        sendData() {
            form.settings = this.settingValues;
            form.put(route("setting.store"))
        }
    }
}

</script>


<template>
    <FormSection @submitted="sendData">
        <template #title>
            {{ $vuetify.locale.t("settings.timerTitle") }}
        </template>

        <template #description>
            {{ $vuetify.locale.t("settings.timerDesc") }}
        </template>

        <template #form>
            <div class="tw-col-span-6 sm:tw-col-span-4">
                <div class="tw-flex">

                    <v-btn
                        variant="tonal"
                        color="blue"
                        :href="route('timer.start')"
                        target="_blank"
                    >
                        {{ $vuetify.locale.t("timer.start") }}
                    </v-btn>

                    <div style="width: 20px"></div>

                    <v-btn
                        variant="tonal"
                        color="blue"
                        :href="route('timer.end')"
                        target="_blank"
                    >
                        {{ $vuetify.locale.t("timer.end") }}
                    </v-btn>

                    <div style="width: 20px"></div>

                    <v-btn
                        variant="tonal"
                        color="blue"
                        :href="route('timer.pause')"
                        target="_blank"
                    >
                        {{ $vuetify.locale.t("timer.pause") }}
                    </v-btn>

                    <div style="width: 20px"></div>

                </div>
            </div>
        </template>
    </FormSection>
</template>
