<script setup>
import { computed, defineEmits, defineProps, ref } from "vue";
import { useDisplay } from "vuetify";
import { sortByKey } from "../../../utility/sorting.js";
import ObjectiveInput from "./Objective/ObjectiveInput.vue";
import AnimatedInteger from "../../AnimatedInteger.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

const { smAndUp } = useDisplay();

const props = defineProps({
    mission: {
        required: true,
        type: Object,
    },
    imageEnabled: {
        required: false,
        type: Boolean,
        default: true,
    },
    missionResult: {
        required: true,
        type: Object,
    },
    sizeWatcher: {
        required: true,
        type: Number,
    },
    disabled: {
        required: false,
        default: false,
    },
});

const emit = defineEmits(["objectiveResultUpdate"]);

const showImage = computed(() => {
    // TODO Check if an image is available
    return props.imageEnabled;
});

const expansionAvailable = computed(() => {
    // Check if there is additional text
    return !!props.mission.description || !!props.mission.updates;
});

const showExpansion = ref(false);

const sortedObjectives = computed(() => {
    return sortByKey(props.mission?.objectives, "priority");
});

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);
</script>

<template>
    <v-row class="mb-4 mission" :id="mission.uuid">
        <v-card class="tw-w-full pa-0" :theme="preferences.state.darkMode ? 'dark' : 'light'">
            <div class="d-flex flex-row flex-wrap flex-sm-nowrap">
                <div
                    class="order-0 flex-grow-1 flex-sm-grow-0 bg-blue-accent-2 py-2 px-3"
                >
                    <span class="text-white font-weight-bold">
                        {{ $vuetify.locale.t(mission.short_name) }}
                    </span>
                </div>

                <div
                    class="order-1 order-sm-4 flex-shrink-1 text-white py-2 px-3 text-no-wrap tw-transition-colors motion-reduce:tw-transition-none"
                    :class="{
                        'bg-red-accent-3': !missionResult.valid,
                        'bg-green':
                            missionResult.valid && missionResult.points > 0,
                        'bg-amber-darken-2':
                            missionResult.valid && missionResult.points === 0,
                    }"
                >

                    <span
                        ><animated-integer
                            :value="missionResult.points"
                        ></animated-integer>
                        pt.</span
                    >
                </div>

                <div class="order-3 flex-fill bg-primary text-white py-2 px-3">
                    <span class="font-weight-medium">
                        {{ $vuetify.locale.t(mission.long_name) }}
                    </span>
                </div>
                <div class="order-2 tw-basis-full d-sm-none">
                    <!--- Don't delete, this one makes the layout reponsive -->
                </div>
            </div>
            <div class="pa-3">
                <div class="d-flex flex-column-reverse flex-sm-row">
                    <div
                        class="d-flex"
                        :class="{ 'pr-sm-3 pt-3 pt-sm-0': showImage }"
                        v-if="showImage"
                    >
                        <v-img
                            :width="240"
                            :max-height="250"
                            aspect-ratio="16/9"
                            :src="mission.img"
                            eager
                        ></v-img>
                    </div>

                    <v-divider
                        :vertical="smAndUp"
                        v-if="showImage && !(!smAndUp && showExpansion)"
                    ></v-divider>

                    <v-expand-transition v-if="!smAndUp">
                        <div v-show="showExpansion">
                            <v-divider class="mt-sm-3"></v-divider>

                            <v-card-text class="px-0 py-3">
                                <span
                                    class="font-weight-bold"
                                    v-if="mission.description"
                                >
                                    {{
                                        $vuetify.locale.t(
                                            "scoresheet.general.description"
                                        )
                                    }}
                                </span>
                                <p
                                    v-if="mission.description"
                                    :class="{ 'pb-3': !!mission.updates }"
                                >
                                    {{ $vuetify.locale.t(mission.description) }}
                                </p>
                                <span
                                    class="font-weight-bold"
                                    v-if="mission.updates"
                                    >{{
                                        $vuetify.locale.t(
                                            "scoresheet.general.updates"
                                        )
                                    }}</span
                                >
                                <p v-if="mission.updates">
                                    {{ $vuetify.locale.t(mission.updates) }}
                                </p>
                            </v-card-text>
                        </div>
                    </v-expand-transition>

                    <div
                        class="flex-grow-1 d-flex flex-column"
                        :class="{ 'pl-sm-3 pb-3 pb-sm-0': showImage }"
                    >
                        <div class="pb-3" v-if="mission.requirements">
                            <i class="text-blue-darken-4 dark:tw-text-blue-100">
                                {{ $vuetify.locale.t(mission.requirements) }}
                            </i>
                        </div>
                        <div class="d-flex flex-row align-end h-100">
                            <v-btn
                                v-if="expansionAvailable"
                                density="comfortable"
                                variant="plain"
                                :icon="
                                    showExpansion
                                        ? 'mdi-chevron-up'
                                        : 'mdi-chevron-down'
                                "
                                @click="showExpansion = !showExpansion"
                            ></v-btn>


                            <img v-if="mission.no_equipment == true" class="mt-1 mr-4" style="height: 35px" src="/img/notouch.svg" alt="No Touching Mission"/>


                            <div
                                class="d-flex flex-column flex-grow-1 align-end w-100 h-100"
                            >
                                <objective-input
                                    :size-watcher="sizeWatcher"
                                    v-for="objective in sortedObjectives"
                                    :objective="objective"
                                    :objective-result="
                                        missionResult.mission_objective_results[
                                            objective.uuid
                                        ]
                                    "
                                    :disabled="disabled"
                                    @objective-result-update="
                                        $emit('objectiveResultUpdate', $event)
                                    "
                                ></objective-input>
                            </div>
                        </div>
                    </div>
                </div>
                <v-expand-transition v-if="smAndUp">
                    <div v-show="showExpansion">
                        <v-divider class="mt-3"></v-divider>

                        <v-card-text class="px-0 py-3">
                            {{ $vuetify.locale.t(mission.description) }}
                        </v-card-text>
                    </div>
                </v-expand-transition>
            </div>
        </v-card>
    </v-row>
</template>

<style></style>
