<script setup>
import PublicLayout from "@/Layouts/PublicLayout.vue";
import { Head } from "@inertiajs/vue3";
import resourceTimeGridPlugin from "@fullcalendar/resource-timegrid";
import resourceTimelinePlugin from "@fullcalendar/resource-timeline";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";
import PageHeader from "@/Components/PageHeader.vue";

defineOptions({ layout: PublicLayout });

const props = defineProps({
    resources: Object,
    events: Object,
    teams: Array,
    rounds: Array,
    juries: Array,
    tables: Array,
});

const calendarOptions = {
    plugins: [resourceTimeGridPlugin, resourceTimelinePlugin, dayGridPlugin, interactionPlugin ],
    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
    initialView: 'resourceTimeline',
    resources: props.resources,
    events: props.events,
    duration: { days: 1 },
    slotDuration: "00:02:30",
    slotMinTime: "09:30:00",
    slotMaxTime: "17:15:00",
    nowIndicator: true,
    expandRows: false,
    editable: false,
    height: "auto",
    headerToolbar: {
        left: '',
        right: ''
    },
    eventClick: function (info) {
        alert('Event: ' + info.event.title);
    },
}

</script>

<template>
    <Head :title="$vuetify.locale.t('schedule.title')"></Head>
    <page-header class="dark:tw-bg-zinc-950">
        <h2
            class="tw-font-semibold tw-text-xl tw-text-gray-800 dark:tw-text-white  tw-leading-tight"
        >
            {{ $vuetify.locale.t("schedule.title") }}
        </h2>

        <ScheduleModal
            title="Test"
            btnIcon="mdi-eye"
            btnName="Test"
            btnSubmitText="Submit"
            :schedules=null
            :teams="teams"
            :rounds="rounds"
            :tables="tables"
            :juries="juries"
        >

        </ScheduleModal>
    </page-header>

    <div class="tw-py-12">

        <div class="tw-max-w-12xl tw-text-black tw-mx-auto sm:tw-px-6 lg:tw-px-8">
            <FullCalendar :options="calendarOptions" />
        </div>
    </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue3'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
import resourceTimeGridPlugin from '@fullcalendar/resource-timegrid';

export default {
    components: {
        FullCalendar
    },
}
</script>


<style>
.fc {
    @apply dark:tw-bg-zinc-900 dark:tw-text-white tw-bg-white tw-text-gray-800;
}

.fc-timeline-slot-frame {
    @apply dark:tw-bg-zinc-900 dark:tw-text-white tw-bg-white tw-text-gray-800;
}
.fc-datagrid-cell-frame {
    @apply dark:tw-bg-zinc-900 dark:tw-text-white tw-bg-white tw-text-gray-800;
}
</style>
