<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { Head } from "@inertiajs/vue3";
import RefereeResultInput from "../../../Components/RefereeResult/RefereeResultInput.vue";

defineOptions({ layout: AdminLayout });
defineProps({ scoreSheet: Array, teams: Array, tables: Array });
</script>

<template>
    <Head :title="$vuetify.locale.t('scoresheet.general.title')"></Head>

    <referee-result-input
        :score-sheet="scoreSheet"
        :teams="teams"
        :tables="tables"
    ></referee-result-input>
</template>

<style scoped></style>
