<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { Head } from "@inertiajs/vue3";
import RefereeResultInput from "../../../Components/RefereeResult/RefereeResultInput.vue";
import RefereeResultEdit from "../../../Components/RefereeResult/RefereeResultEdit.vue";

defineOptions({ layout: AdminLayout });
defineProps({
    refereeResult: Array,
    teams: Array,
    tables: Array,
    editorEnabled: Boolean,
});
</script>

<template>
    <Head :title="$vuetify.locale.t('scoresheet.general.title')"></Head>

    <referee-result-edit
        :referee-result="refereeResult"
        :editor-enabled="editorEnabled"
        :teams="teams"
        :tables="tables"
    ></referee-result-edit>
</template>

<style scoped></style>
