<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { VDataTable } from "vuetify/labs/VDataTable";
import { Head, router } from "@inertiajs/vue3";
import {computed, onMounted, ref} from "vue";
import { useDisplay, useLocale } from "vuetify";
import TableMenuItem from "../../../Components/table/TableMenuItem.vue";
import TableMenu from "../../../Components/table/TableMenu.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

const { t } = useLocale();

defineOptions({ layout: AdminLayout });

defineProps({
    refereeResults: Object,
});

onMounted(() => {
    Echo.channel("NewRefereeResult")
        .listen("NewRefereeResult", (e) => {
            console.log("Refreshing Data");
            router.reload();
        });
})

const tableHeight = computed(() => {
    let h = 0;

    if (useDisplay().smAndDown.value) {
        h = 350;
    } else {
        h = 250;
    }

    return `calc(100vh - ${h}px)`;
});

const itemsPerPage = ref(25);

const search = ref("");

const sortBy = ref([{ key: "created_at", order: "desc" }]);

const headers = [
    { title: t("teams.number"), align: "start", key: "team_id" },
    { title: t("teams.name"), align: "start", key: "team_name" },
    { title: t("rounds.name"), align: "start", key: "round_name" },
    {
        title: t("tournament.seasonName"),
        align: "start",
        key: "score_sheet_name",
    },
    { title: t("general.score"), align: "start", key: "score" },
    { title: t("general.created_at"), align: "start", key: "created_at" },
    {
        title: "",
        align: "end",
        key: "actions",
        sortable: false,
    },
];

const teamsLoading = ref([]);

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

function startLoading(uuid) {
    teamsLoading.value.push(uuid);
}

function endLoading(uuid) {
    const index = teamsLoading.value.indexOf(uuid);
    if (Index !== -1) {
        teamsLoading.value.splice(Index, 1);
    }
}

function handleDelete(uuid) {
    router.visit(route("referee_results.destroy", { uuid: uuid }), {
        method: "DELETE",
        preserveScroll: true,
        preserveState: true,
        onStart: () => {
            startLoading(uuid);
        },
        onFinish: () => {
            endLoading(uuid);
        },
    });
}
</script>

<style></style>

<template>
    <Head :title="$vuetify.locale.t('teams.title')"></Head>

    <div class="tw-py-4 md:tw-px-4 tw-px-2">
        <div
            class="tw-bg-white tw-overflow-hidden tw-shadow tw-rounded tw-border tw-border-solid tw-border-gray-300"
        >
            <v-data-table
                :theme="preferences.state.darkMode ? 'dark' : 'light'"
                v-model:items-per-page="itemsPerPage"
                v-model:sort-by="sortBy"
                :headers="headers"
                :items="refereeResults"
                item-value="uuid"
                class="elevation-1"
                :height="tableHeight"
                hover
                show-current-page
                density="comfortable"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar
                        density="compact"
                        class="tw-border-solid tw-border-b"
                    >
                        <v-toolbar-title>{{
                            $vuetify.locale.t("refereeResults.title")
                        }}</v-toolbar-title>

                        <v-text-field
                            v-model="search"
                            :placeholder="$vuetify.locale.t('general.search')"
                            :density="null"
                            variant="underlined"
                            class="tw-max-w-sm tw-mr-4"
                            clearable
                            hide-details
                            single-line
                        ></v-text-field>

                        <v-btn
                            color="primary"
                            variant="elevated"
                            prepend-icon="mdi-plus"
                            :href="route('referee_results.create')"
                        >
                            {{ $vuetify.locale.t("general.add") }}
                        </v-btn>

                        <div style="width: 10px" />

                        <v-btn
                            color="success"
                            variant="elevated"
                            prepend-icon="mdi-download"
                            :href="route('export.referee_results')"
                        >
                            {{ $vuetify.locale.t("general.download") }}
                        </v-btn>
                    </v-toolbar>
                </template>

                <template v-slot:item.actions="{ item }">
                    <table-menu :loading="teamsLoading.includes(item.value)">
                        <table-menu-item
                            :href="
                                route('referee_results.show', {
                                    uuid: item.value,
                                })
                            "
                            :text="$vuetify.locale.t('general.show')"
                            icon="mdi-eye"
                        ></table-menu-item>

                        <table-menu-item
                            :href="
                                route('referee_results.edit', {
                                    uuid: item.value,
                                })
                            "
                            :text="$vuetify.locale.t('general.edit')"
                            icon="mdi-pencil"
                        ></table-menu-item>

                        <table-menu-item
                            :text="$vuetify.locale.t('general.delete')"
                            icon="mdi-delete"
                            @click="handleDelete(item.value)"
                        ></table-menu-item>
                    </table-menu>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
