<script setup>
import PublicLayout from "@/Layouts/PublicLayout.vue";
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { Head } from "@inertiajs/vue3";
import PageHeader from "@/Components/PageHeader.vue";
import teamView from "./partials/team.vue"

defineOptions({ layout: PublicLayout });
</script>

<template>
    <Head :title="$vuetify.locale.t('teams.listOfTeams')"></Head>

    <div class="tw-py-8">
        <div style="max-width: 90%;" class="tw-mx-auto sm:tw-px-6 lg:tw-px-8">

            <v-row>
                <v-col>
                    <h2 class="text-center" >Upcomming Matches (12:35)</h2>
                </v-col>

                <v-col>
                    <h2 class="text-center" >Next in Jury sessions</h2>
                </v-col>

                <v-col>
                    <h2>Teams with latest scores</h2>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <div class="text-center">
                    <div>Table 1: Team a</div>
                    <div>Table 2: Team b</div>
                    <div>Table 3: Team c</div>
                    <div>Table 4: Team d</div>
                    <div>Table 5: Team e</div>
                    <div>Table 6: Team f</div>
                </div>
                </v-col>

                <v-col>
                    <div class="text-center">
                    <div>Judge 1: Team g</div>
                    <div>Judge 2: Team h</div>
                    <div>Judge 3: Team i</div>
                </div>
                </v-col>

                <v-col>
                    <teamView></teamView>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                </v-col>

                <v-col>
                </v-col>

                <v-col>
                    <teamView></teamView>
                </v-col>
            </v-row>



        </div>
    </div>
</template>
