<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { VDataTable } from "vuetify/labs/VDataTable";
import { Head, router } from "@inertiajs/vue3";
import { computed, ref } from "vue";
import { useDisplay, useLocale } from "vuetify";
import TableMenuItem from "../../../Components/table/TableMenuItem.vue";
import TableMenu from "../../../Components/table/TableMenu.vue";
import RoundModal from "./Partials/RoundModal.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

const { t } = useLocale();

defineOptions({ layout: AdminLayout });
const props = defineProps({ rounds: Array, tournaments: Object });

const uuidToRoundLookup = computed(() => {
    const data = [];
    props.rounds.forEach((round) => {
        data[round.uuid] = round;
    });
    return data;
});

function getRoundByUuid(uuid) {
    return uuidToRoundLookup.value[uuid];
}

const tableHeight = computed(() => {
    let h = 0;

    if (useDisplay().smAndDown.value) {
        h = 350;
    } else {
        h = 250;
    }

    return `calc(100vh - ${h}px)`;
});

const itemsPerPage = ref(25);

const search = ref("");

const sortBy = ref([{ key: "priority", order: "asc" }]);

const headers = [
    { title: t("rounds.name"), align: "start", key: "name" },
    { title: t("rounds.type"), align: "start", key: "is_practice" },
    { title: t("rounds.visibility"), align: "start", key: "score_hidden" },
    { title: t("general.priority"), align: "start", key: "priority" },
    {
        title: "",
        align: "end",
        key: "actions",
        sortable: false,
    },
];

const roundsLoading = ref([]);

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

function startLoading(uuid) {
    roundsLoading.value.push(uuid);
}

function endLoading(uuid) {
    const index = roundsLoading.value.indexOf(uuid);
    if (index !== -1) {
        roundsLoading.value.splice(index, 1);
    }
}

function handleDelete(uuid) {
    router.visit(route("rounds.destroy", { uuid: uuid }), {
        method: "DELETE",
        preserveScroll: true,
        preserveState: true,
        onStart: () => {
            startLoading(uuid);
        },
        onFinish: () => {
            endLoading(uuid);
        },
    });
}
</script>

<style></style>

<template>
    <Head :title="$vuetify.locale.t('rounds.title')"></Head>

    <div class="tw-py-4 md:tw-px-4 tw-px-2">
        <div
            class="tw-bg-white tw-overflow-hidden tw-shadow tw-rounded tw-border tw-border-solid tw-border-gray-300"
        >
            <v-data-table
                :theme="preferences.state.darkMode ? 'dark' : 'light'"
                v-model:items-per-page="itemsPerPage"
                v-model:sort-by="sortBy"
                :headers="headers"
                :items="rounds"
                class="elevation-1"
                :height="tableHeight"
                hover
                show-current-page
                density="comfortable"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar
                        density="compact"
                        class="tw-border-solid tw-border-b"
                    >
                        <v-toolbar-title>{{
                            $vuetify.locale.t("rounds.title")
                        }}</v-toolbar-title>

                        <v-text-field
                            v-model="search"
                            :placeholder="$vuetify.locale.t('general.search')"
                            :density="null"
                            variant="underlined"
                            class="tw-max-w-sm tw-mr-4"
                            clearable
                            hide-details
                            single-line
                        ></v-text-field>

                        <RoundModal
                            :btnName="$vuetify.locale.t('general.add')"
                            :btnSubmitText="$vuetify.locale.t('general.save')"
                            :title="$vuetify.locale.t('rounds.titleModalAdd')"
                            btnIcon="mdi-eye"
                            :tournaments="tournaments"
                            v-if="$userCan('round.create')"
                        />
                    </v-toolbar>
                </template>

                <template v-slot:item.is_practice="{ item }">
                    <v-chip
                        v-if="item.raw.is_practice === true"
                        class="ma-2"
                        :color="preferences.state.darkMode ? '#5cceff' : '#042eff'"
                        text-color="white"
                    >
                        {{ $vuetify.locale.t("rounds.is_practice") }}
                    </v-chip>

                    <v-chip
                        v-if="item.raw.is_practice === false"
                        class="ma-2"
                        :color="preferences.state.darkMode ? '#ea99ff' : '#7a00ff'"
                        text-color="white"
                    >
                        {{ $vuetify.locale.t("rounds.game_round") }}
                    </v-chip>
                </template>

                <template v-slot:item.score_hidden="{ item }">
                    <v-chip
                        v-if="item.raw.score_hidden === true"
                        class="ma-2"
                        :color="preferences.state.darkMode ? '#ff9553' : '#c50000'"
                        text-color="white"
                    >
                        {{ $vuetify.locale.t("rounds.score_hidden") }}
                    </v-chip>

                    <v-chip
                        v-if="item.raw.score_hidden === false"
                        class="ma-2"
                        :color="preferences.state.darkMode ? '#66ff66' : '#007503'"
                        text-color="white"
                    >
                        {{ $vuetify.locale.t("rounds.score_visible") }}
                    </v-chip>
                </template>

                <template v-slot:item.actions="{ item }">
                    <table-menu
                        :loading="roundsLoading.includes(item.raw.uuid)"
                        v-if="$userCan('round.edit')"
                    >
                        <RoundModal
                            :round="item.raw"
                            :btnName="$vuetify.locale.t('general.show')"
                            :btnSubmitText="$vuetify.locale.t('general.update')"
                            :title="$vuetify.locale.t('rounds.titleModalShow')"
                            btnIcon="mdi-eye"
                            :tournaments="tournaments"
                        />

                        <RoundModal
                            :round="item.raw"
                            :btnName="$vuetify.locale.t('general.edit')"
                            :btnSubmitText="$vuetify.locale.t('general.update')"
                            :title="$vuetify.locale.t('rounds.titleModalEdit')"
                            btnIcon="mdi-pencil"
                            :tournaments="tournaments"
                        />

                        <table-menu-item
                            :text="$vuetify.locale.t('general.delete')"
                            icon="mdi-delete"
                            @click="handleDelete(item.raw.uuid)"
                            v-if="$userCan('round.delete')"
                        ></table-menu-item>
                    </table-menu>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
