<script setup>
import ButtonTest from "@/Components/testButtons.vue";
</script>

<script>
export default {
    props: {
        teamNumber: String,
        teamName: String,
        affiliate: String,
        index: Number,
    },
};
</script>

<template>
    <tr :class="{ 'tw-bg-blue-100': index % 2 !== 0 }">
        <td style="width: 2%"></td>
        <td style="width: 7.5%">
            <div style="margin-left: 10px">
                {{ teamNumber }}
            </div>
        </td>
        <td style="width: 30%">
            <div style="margin-left: 10px">
                {{ teamName }}
            </div>
        </td>
        <td style="width: 30%">
            <div style="margin-left: 10px">
                {{ affiliate }}
            </div>
        </td>

        <td style="text-align: center">
            <ButtonTest />
        </td>
    </tr>
</template>
