<script setup>
import {Head, useForm} from "@inertiajs/vue3";
import { VStepper, VStepperItem, VStepperWindowItem, VStepperActions, VStepperHeader, VStepperWindow } from 'vuetify/labs/VStepper'
import WizardLayout from "../../Layouts/WizardLayout.vue";
import WizardTournament from "./Partials/Tournaments.vue"
import WizardModules from "./Partials/Modules.vue"
import RoundsView from "@/Pages/Admin/Rounds/Index.vue"
import TablesView from "@/Pages/Admin/Tables/Index.vue"
import TeamsView from "@/Pages/Admin/Teams/index.vue"

import {ref, watch} from "vue";

defineOptions({ layout: WizardLayout });

const props = defineProps({
    scoreSheets: Array,
});

// let stepper-page = ref(1);
const stepperPage = ref(null);

let stepper = ref(null)
let stepperItems = ref(null)
let disable = ref(true)

stepperItems.value = [
    {name: "Tournament", key: "1", title:"createTournamentModal"},
    // {name: "Modules", key: "2", title:"Module Thing"},
    {name: "Teams", key: "2", title:"Teams"},
    {name: "Teams", key: "2", title:"Teams"},
];

let newPages = [];

const tournamentComplete = () => {
    disable.value = false;
    stepper.value = "2";
}

const modulesComplete = () => {
    stepper.value = "3"

    stepperItems.value.push({name: "Teams", key: "8", title: "Teams"})
    newPages.push("8")

    // Detech which settings are turned on
    stepperItems.value.push({name: "AdvTeam", key: "4", title: "Teams"})
    newPages.push("4")

    stepperItems.value.push({name: "Tables", key: "5", title: "TableCreate"})
    newPages.push("5")

    // stepperItems.value.push({name: "Jury", key: "6", title: "Jury"})
    // newPages.push("6")
    //
    // stepperItems.value.push({name: "Schedule", key: "7", title: "Schedule"})
    // newPages.push("7")



}

const nextPage = () => {
    console.log(newPages[0])
    stepper.value = newPages[0];
    newPages.shift();
    console.log(newPages)
}




</script>

<template>
    <Head title="Setup Tovenaar"></Head>

    <div class="tw-py-8">
        <div style="max-width: 90%;" class="tw-mx-auto sm:tw-px-6 lg:tw-px-8">
<!--           -->

            <div>
                <v-stepper alt-labels v-model="stepper">
                    <template v-slot:default="{ prev, next }">
                        <v-stepper-header>
                            <template v-for="step in stepperItems" :key="step.key">
                                <v-stepper-item
                                    :step="step.name"
                                    :title="$vuetify.locale.t(step.name)"
                                    :value="step.key"
                                    hide-actions
                                ></v-stepper-item>

                            </template>
                        </v-stepper-header>

                        <v-stepper-window>

                            <v-stepper-window-item
                                value="1"
                            >

                                <v-expansion-panels class="mb-5">
                                    <v-expansion-panel
                                        title="Tournaments Explained"
                                        color="blue"
                                        text="The tournament is one of the main components of the tool. By making use of the tournaments you can reuse the same site for multiple days. Teams, rounds, schedule and a lot of other features are tied to a single tournament."
                                    >
                                    </v-expansion-panel>
                                </v-expansion-panels>


                                <WizardTournament
                                    :scoreSheets="scoreSheets"
                                    @nextPage="tournamentComplete"
                                />

                            </v-stepper-window-item>

                            <v-stepper-window-item
                                value="2"
                            >
                                <v-expansion-panels class="mb-5">
                                    <v-expansion-panel
                                        title="Modules Explained"
                                        color="blue"
                                        text="The FLLTools is a very advanced piece of software, which can do a wide veriaty of tasks. But not all features are needed for every final. In this menu you can select the modules that you want to use during the tournament. If a module depends on more modules, make sure to enable them to prevent error's. "
                                    >
                                    </v-expansion-panel>
                                </v-expansion-panels>

                                <WizardModules
                                    @nextPage="modulesComplete"/>

                            </v-stepper-window-item>

                            <v-stepper-window-item
                                value="3"
                            >

                                <v-expansion-panels class="mb-5">
                                    <v-expansion-panel
                                        title="Rounds Explained"
                                        color="blue"
                                        text="Each robotmatch will be scored within a round. These rounds are used in the rankings / scoreboards etc. By creating rounds you can select if the rounds are practice rounds, and should be excluded from the rankings and scoreboards and if the rounds should be hidden for the public at all, such as the final rounds or 3th rounds to keep the game exciting"
                                    >
                                    </v-expansion-panel>
                                </v-expansion-panels>

                                <div style="height: 800px">
                                <RoundsView

                                />
                                </div>

                                <v-btn
                                  color="blue-darken-1"
                                  @click="NextPage"
                                >
                                    {{ $vuetify.locale.t("general.next") }}
                                </v-btn>

                            </v-stepper-window-item>

                            <v-stepper-window-item
                                value="4"
                            >

                                The FLLTools support advanced teams, if you have see this page you have selected it.
                                There is no more configuration needed from you. If you go and create teams later in the wizard
                                you will be asked for the email address of the coach. Once the team is created the coach will
                                recieve an inventation to create an account to fill out the teams information, upload a grouppicture
                                and provide the teams social media links.<br>

                                <v-btn @click="nextPage">Next Page</v-btn>
                            </v-stepper-window-item>

                            <v-stepper-window-item
                                value="5"
                            >
                                <v-expansion-panels class="mb-5">
                                    <v-expansion-panel
                                        title="Tables Explained"
                                        color="blue"
                                        text="Each table has 2 identifiers, a table number and a color. You don't need to use both, either is fine. We advice the colors when used with the schedule module. The tables will be colored there as well. "
                                    >
                                    </v-expansion-panel>
                                </v-expansion-panels>
                                <div style="height: 800px">
                                <TablesView />
                                </div>
                                <v-btn @click="nextPage">Next Page</v-btn>
                            </v-stepper-window-item>

                            <v-stepper-window-item
                                value="6"
                            >

                                <v-expansion-panels class="mb-5">
                                    <v-expansion-panel
                                        title="Jury Explained"
                                        color="blue"
                                        text="With this module the judges are able to fill in the judgingsheets digitally. Or with the OMR you are able to export the paper judgesheets scan them and upload them back to have them digitallized. The results can automatically be send to the coach if the advanced team module is on after the tournament has ended"
                                    >
                                    </v-expansion-panel>
                                </v-expansion-panels>

                                No actions here, just explaination

                                <v-btn @click="nextPage">Next Page</v-btn>
                                Card 6
                            </v-stepper-window-item>

                            <v-stepper-window-item
                                value="7"
                            >
                                Explain schedule <br><br>

                                <v-btn @click="nextPage">Next Page</v-btn>
                                Card 7
                            </v-stepper-window-item>

                            <v-stepper-window-item
                                value="8"
                            >
                                <div style="height: 800px">
                                <TeamsView/>
                                </div>

                                <v-btn @click="nextPage">Finish</v-btn>
                            </v-stepper-window-item>


                        </v-stepper-window>



<!--                        <v-stepper-actions-->
<!--                            :disable="disable"-->
<!--                            @click:prev="prev"-->
<!--                            @click:next="next"-->
<!--                        ></v-stepper-actions>-->

                    </template>
                </v-stepper>
            </div>

<!--            -->
        </div>
    </div>
</template>
