<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import basicSettings from "./Partials/basicSettings.vue";
import timer from "./Partials/timer.vue";
import modules from "./Partials/modules.vue";
import SectionBorder from "@/Components/SectionBorder.vue";
import { Head } from "@inertiajs/vue3";
import PageHeader from "../../../Components/PageHeader.vue";

defineOptions({ layout: AdminLayout });
</script>

<template>
    <Head :title="$vuetify.locale.t('settings.title')"></Head>

    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-leading-tight"
        >
            <div>
                <div style="display: inline-block">
                    {{ $vuetify.locale.t("settings.title") }}
                </div>
            </div>
        </h2>
    </page-header>

    <div>
        <div class="tw-max-w-7xl tw-mx-auto tw-py-10 sm:tw-px-6 lg:tw-px-8">
            <div v-if="$page.props.jetstream.canUpdateProfileInformation">
                <basicSettings />

                <SectionBorder />

                <timer />

                <SectionBorder />

                <modules />

                <SectionBorder />
            </div>
        </div>
    </div>
</template>

<script></script>
