<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { Head } from "@inertiajs/vue3";
import PageHeader from "../Components/PageHeader.vue";
import FirstLegoLeagueLogoHeader from "../Components/FirstLegoLeagueLogoHeader.vue";

defineOptions({ layout: AdminLayout });

const props = defineProps({
    teamCount: Object,
    resultCount: Object,
    resultLatest: Object,
    resultHighest: Object,
});

function teamCountMsg(count){
    return "There are currently " + count + " teams enrolled.";
}


function matchCountMsg(count){
    return "A total of " + count + " matches have occurred";
}

function matchLatestMsg(result){
    return result.team.id_name + " scored " + result.score + " points in " + result.round.name;
}

function matchHighestMsg(result){
    return "The highest score is " + result.score + " from " + result.team.id_name;
}

</script>

<template>
    <Head :title="$vuetify.locale.t('menu.dashboard')"></Head>

    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-leading-tight"
        >
            {{ $vuetify.locale.t("menu.dashboard") }}
        </h2>
    </page-header>

    <div class="tw-py-12">
        <div class="tw-max-w-7xl tw-mx-auto sm:tw-px-6 lg:tw-px-8">


                <v-row dense>
                    <v-col
                        cols="12"
                        md="4"
                    >
                        <v-card
                            prepend-icon="mdi-account-group-outline"
                            class="mx-auto"
                            max-width="512"
                            :subtitle=teamCountMsg(props.teamCount)
                            :title='$vuetify.locale.t("menu.teams")'
                        >
                            <template v-slot:actions>
                                <v-btn text="Go to the teampage"></v-btn>
                            </template>
                        </v-card>

                    </v-col>

                    <v-col
                        cols="12"
                        md="4"
                    >
                        <v-card
                            prepend-icon="mdi-counter"
                            class="mx-auto"
                            max-width="512"
                            :subtitle=matchCountMsg(props.resultCount)
                            :title='$vuetify.locale.t("dashboard.matchResults")'
                        >
                            <template v-slot:actions>
                                <v-btn text="Go to match results"></v-btn>
                            </template>
                        </v-card>

                    </v-col>

                    <v-col
                        cols="12"
                        md="4"
                    >
                        <v-card
                            prepend-icon="mdi-flag-checkered"
                            class="mx-auto"
                            max-width="512"
                            :subtitle=matchLatestMsg(props.resultLatest)
                            :title='$vuetify.locale.t("dashboard.latestScore")'
                        >
                            <template v-slot:actions>
                                <v-btn text="Go to match results"></v-btn>
                            </template>
                        </v-card>

                    </v-col>

                    <v-col
                        cols="12"
                        md="4"
                    >
                        <v-card
                            prepend-icon="mdi-scoreboard"
                            class="mx-auto"
                            max-width="512"
                            :subtitle=matchHighestMsg(props.resultHighest)
                            :title='$vuetify.locale.t("menu.scoreboard")'
                        >
                            <template v-slot:actions>
                                <v-btn text="Go to the scoreboard"></v-btn>
                            </template>
                        </v-card>

                    </v-col>

<!--                    <v-col-->
<!--                        cols="12"-->
<!--                        md="4"-->
<!--                    >-->
<!--                        <v-card-->
<!--                            prepend-icon="mdi-calendar-clock-outline"-->
<!--                            class="mx-auto"-->
<!--                            max-width="512"-->
<!--                            subtitle="You have {} items in the schedule left"-->
<!--                            :title='$vuetify.locale.t("menu.schedule")'-->
<!--                        >-->
<!--                            <template v-slot:actions>-->
<!--                                <v-btn text="Go to the schedule"></v-btn>-->
<!--                            </template>-->
<!--                        </v-card>-->

<!--                    </v-col>-->

                </v-row>



        </div>
    </div>
</template>
