<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import PageHeader from "../../../Components/PageHeader.vue";
import { usePage, useForm, Head } from "@inertiajs/vue3";
import { computed, getCurrentInstance, ref, watch } from "vue";

import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

defineOptions({ layout: AdminLayout });

const page = usePage();
const tournaments = computed(() => page.props.tournaments).value;
const dialog = ref(false);
const snackbar = ref(false);

const vue = getCurrentInstance();
const settings = vue.appContext.config.globalProperties.$settings;

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

const form = useForm({
    team_id: page.props.team.id,
    name: page.props.team.name,
    affiliate: page.props.team.affiliate,
    tournament: page.props.team.tournament_uuid,
    yell: page.props.team.yell,
    robot_desc: page.props.team.robot_desc,
    research_desc: page.props.team.research_desc,
    website_url: page.props.team.website_url,
    facebook_url: page.props.team.facebook_url,
    instagram_url: page.props.team.instagram_url,
    twitter_url: page.props.team.twitter_url,
    snapchat_url: page.props.team.snapchat_url
});

const createTeam = () => {
    if (page.props.team.team_id !== undefined) {
        form.post(route("teams.store"), {
            preserveScroll: true,
            onSuccess: () => {
                resetForm(form.team_id + 1);
                snackbar.value = true;
            },
            onError: () => {
            }
        });
    } else {
        console.log("Update");
        form.post(route("teams.update", { "uuid": page.props.team.uuid }), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
            },
            onError: () => {
            }
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
    if (props.tournaments.length === 1) {
        form.tournament = props.tournaments[0].uuid;
    }
    if (id !== undefined) {
        form.team_id = id;
    }
}

watch(dialog, (newValue) => {
    resetForm();
});

// TODO: Implement the logic that saves and does everything for the advanced team management
</script>

<template>
    <Head :title="$vuetify.locale.t('teams.title')"></Head>

    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-leading-tight"
        >
            <div>
                <div style="display: inline-block">
                    {{ $vuetify.locale.t("teams.title") }}
                </div>
            </div>
        </h2>
    </page-header>

    <div>
        <div class="tw-max-w-7xl tw-mx-auto tw-py-10 sm:tw-px-6 lg:tw-px-8">
            <div>
                <form @submit.prevent="createTeam">
                    <v-row>

                        <v-col cols="6" v-if="settings.modules('moduleAdvTeams', true)">
                            <!-- Picture -->
                            <v-card class="pa-2 ma-2"
                                    :theme="preferences.state.darkMode ? 'dark' : 'light'"
                            >

                                <v-card-item>
                                    <v-card-title>{{
                                            $vuetify.locale.t(
                                                "teams.adv.grouppicture"
                                            )
                                        }}
                                    </v-card-title>
                                </v-card-item>

                                <v-card-text>
                                    <v-skeleton-loader
                                        color="secondary"
                                        boilerplate
                                        type="image"
                                    ></v-skeleton-loader>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                        <v-col cols="6">
                            <!-- Basic Information -->
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode ? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                            $vuetify.locale.t("teams.adv.basicinfo")
                                        }}
                                    </v-card-title>
                                </v-card-item>

                                <v-card-text>
                                    <v-row>
                                        <v-col cols="6">
                                            <v-text-field
                                                class="ma-0"
                                                :label="
                                                    $vuetify.locale.t(
                                                        'teams.numberLong'
                                                    )
                                                "
                                                type="number"
                                                id="team_id"
                                                :error-messages="
                                                    form.errors.team_id
                                                "
                                                :disabled="form.processing"
                                                v-model.number="form.team_id"
                                            ></v-text-field>
                                        </v-col>
                                        <v-col cols="6">
                                            <v-autocomplete
                                                class="ma-0"
                                                :items="tournaments"
                                                :label="
                                                    $vuetify.locale.t(
                                                        'tournament.tournament'
                                                    )
                                                "
                                                item-value="uuid"
                                                item-title="name"
                                                id="tournament"
                                                :error-messages="
                                                    form.errors.tournament
                                                "
                                                :disabled="form.processing"
                                                v-model="form.tournament"
                                            ></v-autocomplete>
                                        </v-col>
                                    </v-row>

                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t('teams.nameLong')
                                        "
                                        id="name"
                                        :error-messages="form.errors.name"
                                        :disabled="form.processing"
                                        v-model="form.name"
                                    ></v-text-field>

                                    <v-text-field
                                        :label="
                                            $vuetify.locale.t('teams.affiliate')
                                        "
                                        type="text"
                                        id="affiliate"
                                        :error-messages="form.errors.affiliate"
                                        :disabled="form.processing"
                                        v-model="form.affiliate"
                                    ></v-text-field>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>

                        <v-col cols="6" v-if="settings.modules('moduleAdvTeams', true)">
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode ? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                            $vuetify.locale.t("teams.adv.moreinfo")
                                        }}
                                    </v-card-title>
                                </v-card-item>

                                <v-card-text>
                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t('teams.adv.yell')
                                        "
                                        id="yell"
                                        :error-messages="form.errors.yell"
                                        :disabled="form.processing"
                                        v-model="form.yell"
                                    ></v-text-field>

                                    <v-textarea
                                        :label="
                                            $vuetify.locale.t(
                                                'teams.adv.robot_desc'
                                            )
                                        "
                                        type="text"
                                        id="robot_desc"
                                        :error-messages="form.errors.robot_desc"
                                        v-model="form.robot_desc"
                                        :disabled="form.processing"
                                    ></v-textarea>

                                    <v-textarea
                                        :label="
                                            $vuetify.locale.t(
                                                'teams.adv.research_desc'
                                            )
                                        "
                                        type="text"
                                        id="research_desc"
                                        :error-messages="
                                            form.errors.research_desc
                                        "
                                        v-model="form.research_desc"
                                        :disabled="form.processing"
                                    ></v-textarea>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                        <v-col cols="6" v-if="settings.modules('moduleAdvTeams', true)">
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode ? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                            $vuetify.locale.t("teams.adv.weblinks")
                                        }}
                                    </v-card-title>
                                </v-card-item>

                                <v-card-text>
                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t(
                                                'teams.adv.website'
                                            )
                                        "
                                        id="website_url"
                                        prepend-inner-icon="mdi-web"
                                        :error-messages="
                                            form.errors.website_url
                                        "
                                        v-model="form.website_url"
                                        :disabled="form.processing"
                                    ></v-text-field>

                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t(
                                                'teams.adv.instagram'
                                            )
                                        "
                                        id="instagram_url"
                                        prepend-inner-icon="mdi-instagram"
                                        :error-messages="
                                            form.errors.instagram_url
                                        "
                                        v-model="form.instagram_url"
                                        :disabled="form.processing"
                                    ></v-text-field>

                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t(
                                                'teams.adv.facebook'
                                            )
                                        "
                                        id="facebook_url"
                                        prepend-inner-icon="mdi-facebook"
                                        :error-messages="
                                            form.errors.facebook_url
                                        "
                                        v-model="form.facebook_url"
                                        :disabled="form.processing"
                                    ></v-text-field>

                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t(
                                                'teams.adv.twitter'
                                            )
                                        "
                                        id="twitter_url"
                                        prepend-inner-icon="mdi-twitter"
                                        :error-messages="
                                            form.errors.twitter_url
                                        "
                                        v-model="form.twitter_url"
                                        :disabled="form.processing"
                                    ></v-text-field>

                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t(
                                                'teams.adv.snapchat'
                                            )
                                        "
                                        id="snapchat_url"
                                        prepend-inner-icon="mdi-snapchat"
                                        :error-messages="
                                            form.errors.snapchat_url
                                        "
                                        v-model="form.snapchat_url"
                                        :disabled="form.processing"
                                    ></v-text-field>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                    </v-row>
                </form>
            </div>
        </div>
    </div>
</template>

<script></script>
