<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import TeamsListItem from "@/Components/teams/TeamsListItem.vue";
import { VDataTable } from "vuetify/labs/VDataTable";
import ButtonTest from "@/Components/testButtons.vue";
import teamModal from "./Partials/createTeamModal.vue";
import PageHeader from "../../../Components/PageHeader.vue";
import { Head, Link, router } from "@inertiajs/vue3";
import { computed, ref } from "vue";
import { useDisplay, useLocale } from "vuetify";
import TableMenuItem from "../../../Components/table/TableMenuItem.vue";
import TableMenu from "../../../Components/table/TableMenu.vue";
import UploadModal from "@/Components/UploadModal.vue"
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

const { t } = useLocale();

defineOptions({ layout: AdminLayout });
defineProps({ teams: Array, tournaments: Object });

const tableHeight = computed(() => {
    let h = 0;

    if (useDisplay().smAndDown.value) {
        h = 350;
    } else {
        h = 250;
    }

    return `calc(100vh - ${h}px)`;
});

const itemsPerPage = ref(25);

const search = ref("");

const sortBy = ref([{ key: "id", order: "asc" }]);

const headers = [
    { title: t("teams.id"), align: "start", key: "id" },
    { title: t("teams.name"), align: "start", key: "name" },
    { title: t("teams.affiliate"), align: "start", key: "affiliate" },
    {
        title: "Actions",
        align: "end",
        key: "actions",
        sortable: false,
    },
];

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

const teamsLoading = ref([]);

function startLoading(uuid) {
    teamsLoading.value.push(uuid);
}

function endLoading(uuid) {
    const index = teamsLoading.value.indexOf(uuid);
    if (index !== -1) {
        teamsLoading.value.splice(index, 1);
    }
}

function handleDelete(uuid) {
    router.visit(route("teams.destroy", { uuid: uuid }), {
        method: "DELETE",
        preserveScroll: true,
        preserveState: true,
        onStart: () => {
            startLoading(uuid);
        },
        onFinish: () => {
            endLoading(uuid);
        },
    });
}
</script>


<template>
    <Head :title="$vuetify.locale.t('teams.title')"></Head>

    <div class="tw-py-4 md:tw-px-4 tw-px-2">
        <div
            class="tw-bg-white tw-overflow-hidden tw-shadow tw-rounded tw-border tw-border-solid tw-border-gray-300 "
        >
            <v-data-table
                :theme="preferences.state.darkMode ? 'dark' : 'light'"
                v-model:items-per-page="itemsPerPage"
                v-model:sort-by="sortBy"
                :headers="headers"
                :items="teams"
                item-value="uuid"
                class="elevation-1"
                :height="tableHeight"
                hover
                show-current-page
                density="comfortable"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar
                        density="compact"
                        class="tw-border-solid tw-border-b"
                    >
                        <v-toolbar-title>{{
                            $vuetify.locale.t("teams.title")
                        }}</v-toolbar-title>
                        <v-text-field
                            v-model="search"
                            :placeholder="$vuetify.locale.t('general.search')"
                            :density="null"
                            variant="underlined"
                            class="tw-max-w-sm tw-mr-4"
                            clearable
                            hide-details
                            single-line
                        ></v-text-field>

                        <teamModal
                            btnName="Toevoegen"
                            :title="$vuetify.locale.t('teams.titleModalAdd')"
                            :tournaments="tournaments"
                            v-if="$userCan('team.create')"
                        />

<!--                        Jamie, please maak dit beter! -->
                        <div style="width:10px"/>

                        <UploadModal
                            :tournaments="tournaments"
                            :title="$vuetify.locale.t('teams.uploadTeamList')"
                            v-if="$userCan('team.create')"
                        />

                    </v-toolbar>
                </template>

                <template v-slot:item.actions="{ item }">
                    <table-menu :loading="teamsLoading.includes(item.value)">
                        <table-menu-item
                            :href="route('teams.show', { uuid: item.value })"
                            :text="$vuetify.locale.t('general.show')"
                            icon="mdi-eye"
                        ></table-menu-item>

                        <table-menu-item
                            :href="route('teams.show', { uuid: item.value })"
                            :text="$vuetify.locale.t('general.edit')"
                            icon="mdi-pencil"
                        ></table-menu-item>

                        <table-menu-item
                            :text="$vuetify.locale.t('general.delete')"
                            icon="mdi-delete"
                            @click="handleDelete(item.value)"
                        ></table-menu-item>
                    </table-menu>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
