<script setup>
import { ref, watch } from "vue";
import { useForm } from "@inertiajs/vue3";
import TableMenuItem from "@/Components/table/TableMenuItem.vue";

const props = defineProps({
    title: String,
    jury: Object,
    btnIcon: String,
    btnName: String,
    btnSubmitText: String,
    tournaments: Array,
});

const dialog = ref(false);
const snackbar = ref(false);

const form = useForm({
    number: null,
    name: "",
    location: "",
    tournament_uuid: null,
});

const updateJury = () => {

    if(props.jury === undefined){
        form.post(route("jury.store"), {
            preserveScroll: true,
            onSuccess: () => {
                resetForm();
                snackbar.value = true;
            },
            onError: (e) => {
                console.error(e);
            },
        });
    } else {
        form.post(route("jury.update", {uuid: props.jury.uuid}), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
                dialog.value = false;
            },
            onError: () => {
            },
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
}

watch(dialog, (newValue) => {
    if (newValue && props.jury !== undefined) {
        resetForm();
        form.number = props.jury.number;
        form.name = props.jury.name;
        form.location = props.jury.location;
        form.tournament_uuid = props.jury.tournament_uuid;
    }
});
</script>

<template>
    <v-snackbar v-if="round===undefined" v-model="snackbar" timeout="3000" color="success">
        {{ $vuetify.locale.t("juries.creationSuccess") }}
        <template v-slot:actions>

            <v-btn color="white" variant="text" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog transition="dialog-top-transition" v-model="dialog" width="1024">
        <template v-slot:activator="{ props }">
            <table-menu-item
                v-if="jury!==undefined"
                v-bind="props"
                :text="btnName"
                :icon="btnIcon"
            ></table-menu-item>

            <v-btn
                v-if="jury===undefined"
                color="primary"
                variant="elevated"
                v-bind="props"
                prepend-icon="mdi-plus"
            >
                {{ btnName }}
            </v-btn>

        </template>
        <v-card>
            <form @submit.prevent="updateJury">
                <v-card-title class="pt-4">
                    <span class="text-h5">{{
                        title
                    }}</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field
                                :label="$vuetify.locale.t('jury.number')"
                                v-model="form.number"
                                type="number"
                                :disabled="form.processing"
                                :error-messages="form.errors.number"
                                id="number"
                            ></v-text-field>

                            <v-text-field
                                :label="$vuetify.locale.t('jury.name')"
                                v-model="form.name"
                                type="text"
                                :disabled="form.processing"
                                :error-messages="form.errors.name"
                                id="name"
                            ></v-text-field>

                            <v-text-field
                                :label="$vuetify.locale.t('jury.location')"
                                v-model="form.location"
                                type="text"
                                :disabled="form.processing"
                                :error-messages="form.errors.location"
                                id="location"
                            ></v-text-field>

                            <v-autocomplete
                                :items="tournaments"
                                :label="
                                    $vuetify.locale.t('tournament.tournament')
                                "
                                :disabled="form.processing"
                                item-value="uuid"
                                item-title="name"
                                id="tournament_uuid"
                                :error-messages="form.errors.tournament_uuid"
                                v-model="form.tournament_uuid"
                            ></v-autocomplete>
                        </v-col>


                    </v-row>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        variant="text"
                        @click="dialog = false"
                    >
                        {{ $vuetify.locale.t("general.close") }}
                    </v-btn>
                    <v-btn
                        :loading="form.processing"
                        color="blue-darken-1"
                        type="submit"
                    >
                        {{ btnSubmitText }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>
