/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: timerFont;
    src: url(../fonts/DSEG7Modern-Bold.ttf);
}

.timer {
    font-family: timerFont;
    font-size: 1500%;
    text-align: center;
}

.theme--light.v-data-table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .03);
}
.theme--dark.v-data-table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .5);
}

.judge-form-border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.fll-beside {
    display: inline-block;
}

.fll-right {
    float: right;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 5px 10px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border: 2px solid #65a6da;
    border-radius: 4px;
}

.radio-toolbar label:hover {
    background-color: #65a6da;
}

.radio-toolbar input[type="radio"]:focus + label {
    /*border: 2px dashed #65a6da;*/
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #2f81c4;
}

/*
  Used for styling the data table action column
 */
.data-table-pin-last-column tbody > tr td:last-child,
.data-table-pin-last-column thead > tr th:last-child {
    position: sticky !important;
    position: -webkit-sticky !important;
    right: 0;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.21) -2px 0px 4px -2px;
    width: 0.1%;
    white-space: nowrap;
    background-color: white !important;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

:target {
    scroll-margin-top: 80px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin-bottom: 0 !important;
}
