<script setup>
import { useForm } from "@inertiajs/vue3";
import { ref, watch } from "vue";
import TableMenuItem from "@/Components/table/TableMenuItem.vue";

const props = defineProps({
    title: String,
    tournament: Object,
    btnIcon: String,
    btnName: String,
    btnSubmitText: String,
    scoreSheets: Array,

});

const dialog = ref(false);
const snackbar = ref(false);

const form = useForm({
    scoreSheet: null,
    name: null,
    active: true,
    locationName: "",
    address: "",
    city: "",
    zipCode: "",
    startTime: "",
    endTime: "",
    matchLength: 7,
    juryLength: 45,
    simultaneousMatches: 2,
});

const createTournament = () => {
    if(props.tournament === undefined) {
        form.post(route("tournaments.store"), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
                dialog.value = false;
            },
            onError: () => {
            },
        });
    } else {
        form.post(route("tournaments.update", {'uuid': props.tournament.uuid}), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
                dialog.value = false;
            },
            onError: () => {
            },
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
}

watch(dialog, (newValue) => {
    if (newValue && props.tournament !== undefined) {
        resetForm();
        console.log(props.tournament);

        const start_time = (props.tournament.start_time).slice(0,16);
        const end_time = (props.tournament.end_time).slice(0,16);

        form.scoreSheet= props.tournament.score_sheet_uuid;
        form.name= props.tournament.name;
        form.active= props.tournament.active;
        form.locationName= props.tournament.location_name;
        form.address= props.tournament.address;
        form.city= props.tournament.city;
        form.zipCode= props.tournament.zip_code;
        form.startTime= start_time;//props.tournament.start_time;
        form.endTime= end_time;//props.tournament.end_time;
        form.matchLength= props.tournament.match_length;
        form.juryLength= props.tournament.jury_length;
        form.simultaneousMatches= props.tournament.simultaneous_matches;
    }
});
</script>

<template>
    <v-snackbar v-model="snackbar" timeout="3000" color="success">
        {{ $vuetify.locale.t(props.title) }}

        <template v-slot:actions>
            <v-btn color="white" variant="text" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog persistent transition="dialog-top-transition" v-model="dialog" width="1024">
        <template v-slot:activator="{ props }">

            <table-menu-item
                v-if="tournament !== undefined"
                v-bind="props"
                :text="btnName"
                :icon="btnIcon"
            ></table-menu-item>

            <v-btn
                v-if="tournament === undefined"
                color="primary"
                variant="elevated"
                v-bind="props"
                prepend-icon="mdi-plus"
            >
                {{ btnName }}
            </v-btn>

        </template>
        <v-card>
            <form @submit.prevent="createTournament">
                <v-card-title class="pt-4">
                    <span class="text-h5">{{
                        $vuetify.locale.t(title)
                    }}</span>
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <!-- Names -->
                            <v-col cols="12">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t('tournament.name')
                                    "
                                    id="name"
                                    v-model="form.name"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.name"
                                ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="4">
                                <v-autocomplete
                                    :items="scoreSheets"
                                    :label="
                                        $vuetify.locale.t(
                                            'tournament.scoreSheets'
                                        )
                                    "
                                    :disabled="form.processing"
                                    id="scoreSheet"
                                    item-value="uuid"
                                    item-title="name"
                                    :error-messages="form.errors.scoreSheet"
                                    v-model="form.scoreSheet"
                                    auto-select-first
                                ></v-autocomplete>
                            </v-col>

                            <v-col cols="8">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t(
                                            'tournament.locationName'
                                        )
                                    "
                                    v-model="form.locationName"
                                    id="locationName"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.locationName"
                                ></v-text-field>
                            </v-col>
                        </v-row>

                        <!-- Address -->
                        <v-row>
                            <v-col cols="12">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t('tournament.address')
                                    "
                                    v-model="form.address"
                                    id="address"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.address"
                                ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="8">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t('tournament.city')
                                    "
                                    id="city"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.city"
                                    v-model="form.city"
                                ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="4">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t('tournament.zipCode')
                                    "
                                    id="zipCode"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.zipCode"
                                    v-model="form.zipCode"
                                ></v-text-field>
                            </v-col>
                        </v-row>

                        <!-- Times -->
                        <v-row>
                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t(
                                            'tournament.startTime'
                                        )
                                    "
                                    id="startTime"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.startTime"
                                    type="datetime-local"
                                    v-model="form.startTime"
                                ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="6">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t('tournament.endTime')
                                    "
                                    id="endTime"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.endTime"
                                    type="datetime-local"
                                    v-model="form.endTime"
                                ></v-text-field>
                            </v-col>
                        </v-row>

                        <!-- Tournament Schedule Info -->

                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t(
                                            'tournament.matchLength'
                                        )
                                    "
                                    id="matchLength"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.matchLength"
                                    v-model.number="form.matchLength"
                                ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="4">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t(
                                            'tournament.simultaneousMatches'
                                        )
                                    "
                                    id="simultaneousMatches"
                                    :disabled="form.processing"
                                    :error-messages="
                                        form.errors.simultaneousMatches
                                    "
                                    v-model.number="form.simultaneousMatches"
                                ></v-text-field>
                            </v-col>

                            <v-col cols="12" sm="6" md="4">
                                <v-text-field
                                    :label="
                                        $vuetify.locale.t(
                                            'tournament.juryLength'
                                        )
                                    "
                                    id="juryLength"
                                    :disabled="form.processing"
                                    :error-messages="form.errors.juryLength"
                                    v-model.number="form.juryLength"
                                ></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        variant="text"
                        @click="dialog = false"
                    >
                        {{ $vuetify.locale.t("general.close") }}
                    </v-btn>
                    <v-btn
                        :loading="form.processing"
                        color="blue-darken-1"
                        type="submit"
                    >
                        {{ $vuetify.locale.t("general.save") }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data: () => ({
        dialog: false,
        nullDatetime: null,
    }),
};
</script>
