<template>
    {{ tweeningValue }}
</template>

<script>
import * as TWEEN from "@tweenjs/tween.js";

export default {
    name: "AnimatedInteger",
    props: {
        value: {
            type: Number,
            required: true,
        },
        time: {
            type: Number,
            required: false,
            default: 350,
        },
    },
    data: function () {
        return {
            tweeningValue: 0,
        };
    },
    watch: {
        value: function (newValue, oldValue) {
            const reducedMotion = window.matchMedia(
                "(prefers-reduced-motion: reduce)"
            ).matches;
            if (reducedMotion) {
                this.tweeningValue = newValue;
            } else {
                this.tween(oldValue, newValue);
            }
        },
    },
    mounted: function () {
        this.tween(0, this.value);
    },
    methods: {
        tween: function (startValue, endValue) {
            var vm = this;
            function animate() {
                if (TWEEN.update()) {
                    requestAnimationFrame(animate);
                }
            }

            const tweenObj = { tweeningValue: startValue };

            new TWEEN.Tween(tweenObj)
                .to({ tweeningValue: endValue }, this.time)
                .onUpdate(function () {
                    // console.log(tweeningValue);
                    vm.tweeningValue = tweenObj.tweeningValue.toFixed(0);
                })
                .start();

            animate();
        },
    },
};
</script>

<style scoped></style>
