<template>
    <svg
        width="320.0px"
        height="320.0px"
        viewBox="0 0 320.0 320.0"
        version="1.1"
        id="SVGRoot"
        sodipodi:docname="fll-scoring-logo-320.svg"
        inkscape:version="1.2.2 (b0a8486541, 2022-12-01)"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
    >
        <sodipodi:namedview
            id="namedview9856"
            pagecolor="#505050"
            bordercolor="#eeeeee"
            borderopacity="1"
            inkscape:showpageshadow="0"
            inkscape:pageopacity="0"
            inkscape:pagecheckerboard="0"
            inkscape:deskcolor="#505050"
            inkscape:document-units="px"
            showgrid="true"
            inkscape:zoom="3.4713805"
            inkscape:cx="123.43792"
            inkscape:cy="133.2323"
            inkscape:window-width="1920"
            inkscape:window-height="1011"
            inkscape:window-x="0"
            inkscape:window-y="32"
            inkscape:window-maximized="1"
            inkscape:current-layer="layer3"
        >
            <inkscape:grid type="xygrid" id="grid9862" />
        </sodipodi:namedview>
        <defs id="defs9851">
            <linearGradient id="linearGradient8684" inkscape:swatch="solid">
                <stop
                    style="stop-color: #000000; stop-opacity: 1"
                    offset="0"
                    id="stop8682"
                />
            </linearGradient>
        </defs>
        <g inkscape:label="Layer 1" inkscape:groupmode="layer" id="layer1">
            <g
                inkscape:groupmode="layer"
                id="layer3"
                inkscape:label="Boder"
                style="display: inline"
            >
                <path
                    d="m -300.29614,-45.704037 c 5.80067,0.716568 12.59143,1.18048 16.5537,4.758399 l 3.91274,-4.024056 c -5.36906,-3.991198 -12.74535,-6.457262 -20.88857,-6.457262 -5.17186,0 -10.03342,0.995282 -14.26917,2.742598 l 2.65846,4.454441 c 3.39517,-1.629876 8.43829,-0.917379 12.79849,-0.917379"
                    style="
                        fill: #000000;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path11741"
                    transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                    sodipodi:nodetypes="cccsccc"
                />
                <path
                    d="m -300.51799,-51.426956 c 8.20546,0 15.34246,3.312333 19.00189,8.19187 l 4.1779,-4.296655 c -5.4427,-5.143363 -11.37317,-9.999987 -23.11873,-9.878759 -6.07477,0.0627 -11.98337,2.784275 -16.69023,5.107032 l 2.71806,4.554787 c 3.75936,-2.293822 8.61128,-3.678275 13.91111,-3.678275"
                    style="
                        fill: #000000;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path11743"
                    transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                    sodipodi:nodetypes="cccsccc"
                />
                <path
                    d="m -311.96571,-41.045349 -10.26915,-17.411892 -11.39505,24.700813 z m -17.49698,19.720297 -23.89652,7.727773 -6.09937,-3.561963 33.16771,-67.229255 6.06807,2.564401 21.2501,46.809376 -23.59318,7.982267 -6.02784,7.058681"
                    style="
                        fill: #000000;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path11745"
                    transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                    sodipodi:nodetypes="cccccccccccc"
                />
                <path
                    d="m -288.13407,-34.667711 15.92512,15.047056 12.88348,-13.530775 -15.31886,-14.585425 z m -16.96588,3.682753 28.85168,-29.902618 34.70923,24.838383 -2.49099,5.679581 -30.66691,31.34564458 -32.07723,-31.89850358"
                    style="
                        fill: #000000;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path11747"
                    transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                    sodipodi:nodetypes="ccccccccccc"
                />
                <path
                    d="m -291.05649,-36.125266 19.04001,18.338808 18.22224,-19.506749 -18.74814,-17.87207 z m -12.11481,-0.88685 29.63628,-30.639444 32.40599,30.673548 -31.00446,30.7558152 -32.16436,-30.2218322"
                    style="
                        fill: #000000;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path11749"
                    transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                    sodipodi:nodetypes="cccccccccc"
                />
                <path
                    d="m -316.56745,-25.080657 24.06731,-6.950379 -27.94063,-50.205255 -32.64094,66.90275 23.94567,-7.592334 z m -20.97881,-3.802431 16.82031,-35.393082 8.60338,23.728997 -9.88792,6.874823 -15.53577,4.789262"
                    style="
                        fill: #000000;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path11751"
                    transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                    sodipodi:nodetypes="ccccccccccc"
                />
                <path
                    d="m -279.8297,-44.969694 -3.91274,4.024056 c 1.17875,2.823215 2.34033,4.884389 2.34033,8.673542 0,8.758978 -7.18086,17.180472 -19.11588,17.180472 -11.93457,0 -21.60951,-7.100618 -21.60951,-15.859596 0,-5.558831 4.28839,-8.509955 9.66366,-11.407715 l -2.5236,-6.325423 c -9.2117,3.800554 -16.58017,5.176983 -16.87328,13.634439 -0.55877,16.119047 11.49573,31.7353766 30.56861,31.7353766 19.94107,0 31.61154,-14.5884876 30.28318,-31.3118866 -0.49303,-6.207012 -3.36536,-6.287647 -8.82077,-10.343265"
                    style="
                        fill: #000000;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path11753"
                    transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                    sodipodi:nodetypes="ccssscccssc"
                />
                <path
                    d="m -277.3382,-47.531741 -4.1779,4.296655 c 1.66317,2.217574 0.87857,4.759459 0.87857,7.460866 0,8.644594 -8.04125,14.065924 -19.97627,14.065924 -11.93457,0 -19.37469,-5.320578 -19.37469,-13.965172 0,-4.805904 0.8534,-9.203762 5.55939,-12.075213 l -3.79077,-6.464986 c -8.01394,3.954382 -13.7414,12.691397 -13.7414,20.372711 0,12.192709 13.50705,23.698786 31.243,23.236997 23.62698,-0.615174 31.97172,-7.087508 31.85886,-23.240801 -0.0359,-5.143679 -3.62647,-10.454941 -7.59837,-14.208158"
                    style="
                        fill: #000000;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path11755"
                    transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                    sodipodi:nodetypes="ccsssccsssc"
                />
            </g>
            <g
                inkscape:label="Layer 1"
                inkscape:groupmode="layer"
                id="layer1-6"
                transform="matrix(2.7160226,0,0,2.7160226,976.09808,268.20595)"
                style="display: inline"
            >
                <path
                    d="m -300.51799,-46.810805 c 6.77192,0 12.81328,2.287248 16.77555,5.865167 l 3.91274,-4.024056 c -5.36906,-3.991198 -12.74535,-6.457262 -20.88857,-6.457262 -5.17186,0 -10.03342,0.995282 -14.26917,2.742598 l 2.65846,4.454441 c 3.39517,-1.629876 7.45079,-2.580888 11.81099,-2.580888"
                    style="
                        fill: #b6bbba;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path396-3"
                />
                <path
                    d="m -300.51799,-51.426956 c 8.20546,0 15.34246,3.312333 19.00189,8.19187 l 4.1779,-4.296655 c -5.4427,-5.143363 -13.88877,-8.450882 -23.38007,-8.450882 -6.0751,0 -11.72203,1.356398 -16.42889,3.679155 l 2.71806,4.554787 c 3.75936,-2.293822 8.61128,-3.678275 13.91111,-3.678275"
                    style="
                        fill: #ffffff;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path398-6"
                />
                <path
                    d="m -309.86247,-40.447337 -15.50899,-25.989 -16.82048,36.50188 z m -23.9192,15.361295 -19.30004,9.752501 -4.64569,-2.159716 31.88876,-65.062558 4.6455,2.160161 22.22044,45.380934 -23.36166,6.541404 -11.44731,3.387274"
                    style="
                        fill: #b6bbba;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path400-7"
                />
                <path
                    d="m -293.76972,-30.984958 19.04001,18.339237 18.22223,-19.50719 -18.74814,-17.87163 z m -11.33023,0 28.85168,-29.902618 33.55066,24.295131 -2.71323,5.140308 -29.43588,30.3702362 -30.25323,-29.9030572"
                    style="
                        fill: #b6bbba;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path402-5"
                />
                <path
                    d="m -291.05649,-36.125266 19.04001,18.338808 18.22224,-19.506749 -18.74814,-17.87207 z m -11.33022,0 28.85169,-29.903058 30.83741,29.435879 -29.43588,30.3702482 -30.25322,-29.9030692"
                    style="
                        fill: #315db2;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path404-3"
                />
                <path
                    d="m -317.68884,-26.313588 23.36165,-6.540976 -26.86595,-47.54109 -31.88857,65.062113 23.94567,-7.592334 z m -19.85742,-2.5695 16.82031,-35.393082 14.48434,25.697987 -15.76888,4.905833 -15.53577,4.789262"
                    style="
                        fill: #ea1e29;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path406-5"
                />
                <path
                    d="m -279.8297,-44.969694 -3.91274,4.024056 c 3.0209,2.727703 4.8344,6.205265 4.8344,9.994418 0,8.758978 -9.67493,15.859596 -21.60995,15.859596 -11.93457,0 -21.60951,-7.100618 -21.60951,-15.859596 0,-5.558831 3.90004,-10.44669 9.79852,-13.278697 l -2.65846,-4.454441 c -9.2117,3.800554 -15.0862,5.158711 -15.37931,13.616167 -0.55877,16.119047 10.5756,29.6637792 29.64848,29.6637792 19.94107,0 31.0377,-12.4986182 29.70934,-29.2220172 -0.49303,-6.207012 -3.36536,-6.287647 -8.82077,-10.343265"
                    style="
                        fill: #b6bbba;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path408-6"
                />
                <path
                    d="m -277.3382,-47.531741 -4.1779,4.296655 c 1.66317,2.217574 2.60806,4.759459 2.60806,7.460866 0,8.644594 -9.67493,15.652297 -21.60995,15.652297 -11.93457,0 -21.60951,-7.007703 -21.60951,-15.652297 0,-4.805904 2.99241,-9.10301 7.6984,-11.974461 l -2.71806,-4.554787 c -8.01394,3.954382 -13.29918,10.716661 -13.29918,18.397975 0,12.192709 13.3097,22.076689 29.72807,22.076689 16.41793,0 29.72776,-9.88398 29.72776,-22.076689 0,-5.143804 -2.37579,-9.873031 -6.34769,-13.626248"
                    style="
                        fill: #ffffff;
                        fill-opacity: 1;
                        fill-rule: nonzero;
                        stroke: none;
                        stroke-width: 0.0438255;
                    "
                    id="path410-2"
                />
            </g>
        </g>
    </svg>
</template>
