<script setup>
import { Link } from "@inertiajs/vue3";
</script>

<template>
    <Link :href="'/'">
        <svg width="120" height="120" version="1.1" viewBox="0 0 300 350" xmlns="http://www.w3.org/2000/svg">
 <g transform="matrix(1.3333 0 0 -1.3333 0 350)">
  <g transform="scale(.1)">
   <g fill="#211d1d">
    <path d="m23.653 427.21h108.71v-320.38h194.68v-92.529h-303.39v412.9"/>
    <path d="m345.7 427.21h332.63v-86.196h-223.92v-72.292h204.62v-83.264h-204.62v-78.624h229.73v-92.529h-338.45v412.9"/>
    <path d="m831.38 168.15h94.705l-46.197 144.56h-1.1357zm-7.0085 259.06h110.5l156.05-412.87h-113.38l-25.724 74.008h-145.56l-26.331-74.008h-111.65l156.1 412.87"/>
    <path d="m1472.6 14.323h-70.163l-6.4251 45.106c-28.641-39.897-77.755-53.77-116.33-53.77-126.25 0-208.09 95.399-208.09 215.11 0 119.68 81.839 215.11 208.09 215.11 86.514 0 178.89-45.683 188.83-149.2h-108.74c-3.4926 35.272-38.574 56.671-82.391 56.671-70.171 0-97.054-61.311-97.054-122.58 0-61.319 26.883-122.61 97.054-122.61 53.75 0 89.991 24.9 95.84 62.481h-75.989v79.771h175.37v-226.09"/>
    <path d="m1867.7 184.91c0-119.69-55.532-179.24-181.82-179.24-126.26 0-181.8 59.549-181.8 179.24v242.3h108.74v-248.66c0-53.201 19.874-80.386 73.057-80.386 53.175 0 73.08 27.185 73.08 80.386v248.66h108.74v-242.3"/>
    <path d="m1905 427.21h332.65v-86.196h-223.94v-72.292h204.64v-83.264h-204.64v-78.624h229.76v-92.529h-338.47v412.9"/>
    <path d="m343.84 955.79h108.72v-320.38h194.64v-92.498h-303.37v412.87"/>
    <path d="m665.87 955.79h332.63v-86.142h-223.91v-72.299h204.61v-83.257h-204.61v-78.678h229.75v-92.498h-338.47v412.87"/>
    <path d="m1416.4 542.92h-70.148l-6.4252 45.106c-28.664-39.912-77.747-53.794-116.32-53.794-126.26 0-208.12 95.399-208.12 215.14 0 119.69 81.862 215.11 208.12 215.11 86.506 0 178.86-45.699 188.79-149.2h-108.74c-3.4926 35.249-38.551 56.656-82.399 56.656-70.163 0-97.069-61.296-97.069-122.57 0-61.342 26.906-122.61 97.069-122.61 53.766 0 89.999 24.877 95.848 62.465h-75.989v79.786h175.38v-226.09"/>
    <path d="m1640.8 626.75c70.116 0 97.023 61.296 97.023 122.61 0 61.273-26.906 122.57-97.023 122.57-70.171 0-97.046-61.296-97.046-122.57 0-61.319 26.875-122.61 97.046-122.61m0 337.74c131.53 0 205.77-95.43 205.77-215.12 0-119.71-74.239-215.14-205.77-215.14-131.58 0-205.79 95.43-205.79 215.14 0 119.69 74.216 215.12 205.79 215.12"/>
    <path d="m1880 914.28c3.726 0 5.8495 1.7775 5.8495 5.1401 0 3.2395-1.9291 4.9938-5.6783 4.9938-0.8479 0-0.9879 0-1.8125-0.1385v-9.8338c0.6534-0.16159 0.9646-0.16159 1.6413-0.16159m-15.137 19.991c2.1392 0.12311 2.427 0.2847 6.6663 0.61557 4.2316 0.33087 6.0129 0.47707 7.7942 0.47707 13.862 0 20.691-5.3093 20.691-15.443 0-6.1173-2.598-9.803-8.1286-11.927l-0.669-0.1385c0.5056-0.33857 0.669-0.48477 0.8167-0.81564 1.4624-1.3081 6.3474-8.518 10.439-15.143h-15.806c-3.2515 5.9788-4.2393 7.6024-8.3076 14.335v-14.335h-13.496zm16.288-57.818c20.504 0 36.941 16.259 36.941 36.373 0 20.283-16.436 36.557-36.941 36.557-20.357 0-36.793-16.274-36.793-36.388 0-20.429 16.265-36.542 36.793-36.542m0 78.078c23.25 0 42.113-18.521 42.113-41.536 0-23.161-18.723-41.682-42.113-41.682-23.608 0-42.012 18.183-42.012 41.682 0 23.153 18.575 41.536 42.012 41.536"/>
   </g>
   <path d="m1100.7 2290.6c30.368 0 59.888-2.747 88.046-7.8409l66.966 69.06c-46.827 16.043-99.426 25.046-155.01 25.046-94.526 0-180.31-26.07-243.93-68.506l58.379-54.709c53.945 23.4 117.5 36.95 185.55 36.95" fill="#959596"/>
   <path d="m1100.7 2376.9c55.586 0 108.18-9.0182 155.01-25.038l72.839 75c-67.954 26.493-145.46 41.559-227.85 41.559-122.78 0-234.81-33.433-320.34-88.427l76.409-71.599c63.621 42.444 149.4 68.506 243.93 68.506" fill="#fff"/>
   <g fill="#959596">
    <path d="m751.03 2083.4c6.1373 24.754 17.447 48.253 33.012 69.96l-29.333 29.324c-5.7951-18.044-9.0232-36.827-9.0232-56.148 0-14.712 1.8513-29.117 5.3439-43.136"/>
    <path d="m534.21 1921.1-12.321-63.15 122.58 52.185c-7.7164 16.09-9.241 37.081-13.714 54.155l-96.54-43.19"/>
    <path d="m447.98 2608.1-177.4-960.89 83.916-6.7559 175.63 974.86-82.15-7.2099"/>
   </g>
   <path d="m1044.5 2055.1v77.693l-128.84 120.81-58.355 54.725-76.402 71.599-251.03 235.35-175.73-974.88 371.78 161.65c-37.011 32.372-63.24 66.859-82.733 107.49l-121.01-51.393 12.127 62.873 78.424 404.32 6.5418 33.926 64.757-64.482 83.332-83.003 35.758-35.657 147.05-125.33-142.74-64.697c37.081-36.658 80.991-68.914 140.19-87.15l178.09 79.132-81.217 77.024" fill="#ec1d27"/>
   <g fill="#959596">
    <path d="m1450.5 2083.4c3.4693 14.02 5.3672 28.424 5.3672 43.136 0 43.39-16.055 84.357-43.646 119.94l-42.308-43.321c40.597-33.449 69.471-74.608 80.586-119.76"/>
    <path d="m1529.9 1672.1-100.22 95.245c-16.008-10.834-33.16-20.883-51.067-30.086l151.29-143.71 466.59 480.74-0.5367 77.84-466.06-480.03"/>
    <path d="m1190 1995-82.562 78.409-63.139 59.649-0.2178-77.909 88.793-84.365 84.896-80.64c21.562 5.3016 42.183 12.027 61.576 19.975l-89.345 84.88"/>
    <path d="m1514.4 2429.7-66.445-68.414-73.243-75.523-49.985-51.447-94.619-97.476 39.64-37.65 100.7 103.73 42.113 43.344 77.141 79.486 24.697 25.446 256.54-243.3 39.702 40.751-296.24 281.05"/>
   </g>
   <path d="m1489.7 2325.8-77.148-79.455c27.599-35.588 43.265-76.416 43.265-119.81 0-14.705-1.898-29.117-5.3361-43.136-9.031-36.534-29.263-70.353-58.114-99.616-29.551-29.971-68.148-55.179-113.05-73.669-19.392-7.9486-40.013-14.666-61.576-19.975-36.622-8.972-75.989-13.943-116.97-13.943-50.483 0-98.438 7.4484-141.92 20.845-59.219 18.244-110 47.515-147.1 84.172-13.527 13.35-25.218 27.716-34.895 42.867-11.886 18.667-20.644 38.543-25.794 59.318-3.4926 14.02-5.3439 28.432-5.3439 43.136 0 19.329 3.2048 38.112 9.0232 56.156l-88.598 88.743c-32.437-47.592-50.748-101.24-50.748-158.03 0-14.643 1.369-29.024 3.7026-43.16 5.6784-34.326 18.124-67.082 36.217-97.669 9.0932-15.374 19.633-30.179 31.496-44.321 31.192-37.204 71.377-69.86 118.49-96.353 81.792-46.045 184.23-73.507 295.47-73.507 77.848 0 151.34 13.42 216.5 37.227 19.773 7.233 38.761 15.428 56.908 24.469 42.012 21.045 79.288 46.753 110.4 76.124 52.195 49.346 87.089 108.95 97.863 174.03 2.3647 14.135 3.6793 28.517 3.6793 43.16 0 79.64-35.844 153.17-96.416 212.4" fill="#fff"/>
   <path d="m1189.5 1994.4 89.081-84.595c44.828 18.49 83.745 43.413 113.34 73.361l-122.1 116-39.632 37.635 94.137 96.968 49.908 51.447 73.274 75.523 66.437 68.414 295.55-280.69-39.655-40.89-242.12-249.39c-25.537-34.564-58.596-65.251-97.7-91.736l99.504-94.96 466.56 480.72-485.94 461.53-254.83-262.5-67.021-69.06-144.04-149.13 145.25-138.63" fill="#2f61b6"/>
   <path d="m778.86 2021.7s2.3258-3.7934 2.5747-4.2167c7.1408-11.211 16.911-21.468 26.198-31.702l145.16 66.336-333.59 307.3-9.0699-47.53 261.69-256.33-92.955-33.864" fill="#959596"/>
   <path d="m1586.1 2113.4c0-14.62-1.3224-28.994-3.6793-43.16-10.781-65.074-45.676-124.68-97.863-174.02-31.091-29.371-68.39-55.086-110.41-76.124-18.14-9.0489-37.104-17.236-56.901-24.469-65.169-23.807-138.66-37.235-216.5-37.235-111.24 0-213.69 27.47-295.47 73.507-47.115 26.493-87.307 59.149-118.49 96.361-11.862 14.135-22.402 28.947-31.503 44.321-18.093 30.586-30.531 63.335-36.209 97.661-2.3336 14.166-3.7026 28.54-3.7026 43.16 0 4.5937 0.35782 9.1412 0.59895 13.666-0.0544 0.2616-0.14779 0.5925-0.17113 0.808-2.3802-14.135-0.42782-86.173-0.42782-100.76 0-23.161 3.1192-45.768 8.9221-67.698 4.5038-17.09 10.711-33.734 18.435-49.823 19.493-40.628 48.725-77.909 85.759-110.28 89.057-77.693 222.78-127.19 372.26-127.19 103.76 0 199.8 23.884 278.68 64.412 17.93 9.2105 34.965 19.283 50.989 30.117 39.103 26.47 72.217 57.556 97.723 92.144 36.964 50.062 57.966 107.38 57.966 168.31 0 12.858 1.1357 73.746-0.14 97.953-0.1945 3.2856 0.14-7.4485 0.14-11.665" fill="#959596"/>
   <g fill="#211d1d">
    <path d="m282.35 1529.5h332.17l-31.286-126.54h-159.23l-15.713-66.467h166.07l-28.929-117.23h-163.92l-39.368-166.56h-171.57l111.78 476.79"/>
    <path d="m659.67 1529.5h171.6l-111.78-476.79h-171.6l111.78 476.79"/>
    <path d="m1002.9 1302.1c55.104 0 93.678 32.187 93.678 77.909 0 24.331-18.116 36.465-53.517 36.465-10.252 0-15.736-0.7156-26.782-2.8548l-25.965-110.1c5.515-0.708 6.2773-1.4236 12.586-1.4236m-126.72 224.47 11.022 1.4235c55.104 6.4327 123.57 10.719 161.35 10.719 62.991 0 111.77-7.1484 148.78-22.138 47.208-19.306 75.577-61.488 75.577-112.23 0-43.613-14.958-85.08-43.311-117.24-24.402-27.87-46.415-41.467-92.091-55.063l-11.015-3.5626c4.7372-3.5704 6.3007-5.0016 8.6577-7.1407 13.379-15.02 53.517-92.221 87.377-168.7h-188.93c-24.394 67.913-31.472 85.765-63.746 162.99l-37.796-162.99h-166.86l110.98 473.93"/>
    <path d="m1680.2 1529.5h416.35l-29.1-138.04h-123.56l-81.862-338.75h-171.6l81.862 338.75h-133.93l41.841 138.04"/>
    <path d="m1941.2 1097.8c3.7104 0 5.8262 1.7697 5.8262 5.1169 0 3.2164-1.9524 4.9785-5.655 4.9785-0.8401 0-0.9879 0-1.8047-0.1693v-9.7569c0.6457-0.1692 0.9646-0.1692 1.6335-0.1692m-15.059 19.852c2.1158 0.1692 2.427 0.3077 6.643 0.6463 4.2082 0.3078 5.9895 0.4771 7.7475 0.4771 13.76 0 20.543-5.2863 20.543-15.374 0-6.0711-2.5747-9.7646-8.0586-11.834l-0.6768-0.1693c0.4823-0.3309 0.6768-0.4694 0.8246-0.7772 1.439-1.2927 6.3006-8.5026 10.346-15.074h-15.666c-3.2515 5.9249-4.2082 7.5485-8.2765 14.258v-14.258h-13.426zm16.195-57.464c20.38 0 36.723 16.167 36.723 36.188 0 20.16-16.343 36.319-36.723 36.319-20.24 0-36.575-16.159-36.575-36.18 0-20.322 16.195-36.327 36.575-36.327m0 77.624c23.118 0 41.896-18.39 41.896-41.297 0-23.038-18.606-41.444-41.896-41.444-23.46 0-41.748 18.098-41.748 41.444 0 23.046 18.428 41.297 41.748 41.297"/>
    <path d="m1239.4 1064.8c48.243-14.189 100.99-22.138 150.3-22.138 66.92 0 118.06 15.02 162.14 46.46 48.803 34.326 80.275 87.219 80.275 135.11 0 32.187-14.149 61.488-39.336 82.226-19.688 15.712-40.146 27.87-81.87 47.168l-33.829 15.713c-11.046 5.7402-16.53 11.457-16.53 17.882 0 17.159 22.037 30.017 51.946 30.017 22.356 0 49.044-6.4328 100.01-22.93l35.183 129.09c-38.146 10.234-75.274 15.351-112.38 15.351-140.09 0-247.95-75.77-247.95-173.69 0-51.47 34.63-87.935 121.21-127.95 40.962-18.59 48.056-23.592 48.056-36.465 0-19.283-21.275-31.44-55.897-31.44-30.71 0-70.046 9.2798-123.59 28.578l-0.07-0.015-37.656-132.97"/>
   </g>
  </g>
 </g>
</svg>
    </Link>
</template>
