<script setup>
import { ref, reactive, nextTick } from "vue";
import InputError from "./InputError.vue";

const emit = defineEmits(["confirmed"]);

defineProps({
    title: {
        type: String,
        default: "Confirm Password",
    },
    content: {
        type: String,
        default: "For your security, please confirm your password to continue.",
    },
    button: {
        type: String,
        default: "Confirm",
    },
});

const confirmingPassword = ref(false);

const form = reactive({
    password: "",
    error: "",
    processing: false,
});

const passwordInput = ref(null);

const startConfirmingPassword = () => {
    axios.get(route("password.confirmation")).then((response) => {
        if (response.data.confirmed) {
            emit("confirmed");
        } else {
            confirmingPassword.value = true;

            setTimeout(() => passwordInput.value.focus(), 250);
        }
    });
};

const closeModal = () => {
    confirmingPassword.value = false;
    form.password = "";
    form.error = "";
};

const confirmPassword = () => {
    form.processing = true;

    axios
        .post(route("password.confirm"), {
            password: form.password,
        })
        .then(() => {
            form.processing = false;

            closeModal();
            nextTick().then(() => emit("confirmed"));
        })
        .catch((error) => {
            form.processing = false;
            [form.error] = error.response.data.errors.password;
            passwordInput.value.focus();
        });
};
</script>

<template>
    <v-column>
        <span @click="startConfirmingPassword">
            <slot />
        </span>

        <v-dialog v-model="confirmingPassword" width="1024">
            <v-card>
                <v-card-title>
                    <span class="text-h5">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    {{ content }}

                    <div class="tw-mt-4">
                        <v-text-field
                            ref="passwordInput"
                            v-model="form.password"
                            type="password"
                            class="tw-mt-1 tw-block tw-w-3/4"
                            placeholder="Password"
                            autocomplete="current-password"
                            @keyup.enter="confirmPassword"
                            :disabled="form.processing"
                        />

                        <InputError :message="form.error" class="tw-mt-2" />
                    </div>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        @click="closeModal"
                        :disabled="form.processing"
                    >
                        Close
                    </v-btn>
                    <v-btn
                        color="red"
                        @click="confirmPassword"
                        :disabled="form.processing"
                        :loading="form.processing"
                    >
                        {{ button }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-column>
</template>
