<script setup>
import { Link } from "@inertiajs/vue3";
</script>

<template>
    <svg
        width="100%"
        height="100%"
        version="1.1"
        viewBox="0 0 150 46.9"
        xmlns="http://www.w3.org/2000/svg"
    >
        <g transform="matrix(.26494 0 0 -.26494 -12.179 60.608)">
            <g transform="scale(.1)">
                <g fill="#fff">
                    <path
                        d="m3523.9 1635.8h126.53v-376.86h226.53v-108.87h-353.06v485.73"
                    />
                    <path
                        d="m3898.8 1635.8h387.12v-101.35h-260.58v-85.02h238.11v-97.94h-238.11v-92.55h267.38v-108.87h-393.92v485.73"
                    />
                    <path
                        d="m4772.3 1150h-81.63l-7.47 53.08c-33.35-46.91-90.47-63.26-135.38-63.26-146.96 0-242.19 112.2-242.19 253.04s95.23 253.13 242.19 253.13c100.69 0 208.14-53.75 219.73-175.54h-126.54c-4.09 41.45-44.91 66.67-95.94 66.67-81.63 0-112.95-72.13-112.95-144.26s31.32-144.18 112.95-144.18c62.63 0 104.78 29.23 111.58 73.43h-88.44v93.94h204.09v-266.05"
                    />
                    <path
                        d="m5033.5 1248.7c81.63 0 112.9 72.05 112.9 144.18 0 72.12-31.27 144.25-112.9 144.25-81.64 0-112.91-72.13-112.91-144.25 0-72.13 31.27-144.18 112.91-144.18m0 397.3c153.05 0 239.48-112.29 239.48-253.12 0-140.84-86.43-253.05-239.48-253.05-153.06 0-239.49 112.21-239.49 253.05 0 140.83 86.43 253.12 239.49 253.12"
                    />
                    <path
                        d="m3537.5 1013.8h126.54v-376.87h226.56v-108.86h-353.1v485.73"
                    />
                    <path
                        d="m3912.4 1013.8h387.08v-101.36h-260.54v-85.019h238.11v-97.938h-238.11v-92.55h267.34v-108.86h-393.88v485.73"
                    />
                    <path
                        d="m4477.7 709.01h110.2l-53.75 170.07h-1.38zm-8.17 304.74h128.54l181.66-485.72h-131.97l-29.93 87.051h-169.4l-30.6-87.051h-129.96l181.66 485.72"
                    />
                    <path
                        d="m5224 528.02h-81.63l-7.51 53.07c-33.31-46.899-90.47-63.25-135.33-63.25-146.97 0-242.24 112.2-242.24 253.04s95.27 253.12 242.24 253.12c100.65 0 208.13-53.75 219.68-175.52h-126.5c-4.09 41.442-44.9 66.661-95.94 66.661-81.63 0-112.94-72.129-112.94-144.26 0-72.129 31.31-144.17 112.94-144.17 62.59 0 104.78 29.23 111.58 73.418h-88.48v93.891h204.13v-266"
                    />
                    <path
                        d="m5683.9 728.75c0-140.84-64.63-210.93-211.59-210.93-146.93 0-211.56 70.09-211.56 210.93v285.02h126.55v-292.52c0-62.59 23.1-94.52 85.01-94.52 61.95 0 85.05 31.93 85.05 94.52v292.52h126.54v-285.02"
                    />
                    <path
                        d="m5727.4 1013.8h387.12v-101.36h-260.54v-85.019h238.07v-97.938h-238.07v-92.55h267.34v-108.86h-393.92v485.73"
                    />
                </g>
                <path
                    d="m1848.9 1719.6c50.8 0 100.18-4.64 147.33-13.24l112.08 116.83c-78.42 27.11-166.41 42.35-259.41 42.35-158.16 0-301.75-44.07-408.22-115.89l97.67-92.56c90.36 39.6 196.63 62.51 310.55 62.51"
                    fill="#959596"
                />
                <path
                    d="m1848.9 1865.5c93 0 180.99-15.21 259.41-42.35l121.9 126.85c-113.77 44.83-243.45 70.32-381.31 70.32-205.46 0-392.97-56.53-536.05-149.6l127.83-121.12c106.47 71.82 250.06 115.9 408.22 115.9"
                    fill="#fff"
                />
                <g fill="#959596">
                    <path
                        d="m1263.6 1369.1c10.25 41.88 29.19 81.61 55.27 118.33l-49.11 49.62c-9.7-30.52-15.12-62.3-15.12-95.04 0-24.86 3.14-49.22 8.96-72.91"
                    />
                    <path
                        d="m900.86 1094.4-20.625-106.81 205.11 88.319c-12.96 27.18-15.52 62.69-22.98 91.53l-161.5-73.04"
                    />
                    <path
                        d="m756.52 2256.6-296.84-1625.5 140.37-11.43 293.93 1649.1-137.46-12.22"
                    />
                </g>
                <path
                    d="m1754.7 1321.3v131.42l-215.56 204.4-97.71 92.55-127.84 121.08-420.07 398.17-294.01-1649.1 622.13 273.46c-61.96 54.73-105.88 113.07-138.49 181.82l-202.51-86.94 20.309 106.34 131.25 684.01 10.93 57.36 108.38-109.1 139.43-140.41 59.83-60.3 246.09-211.99-238.86-109.49c62.03-61.99 135.54-116.55 234.57-147.39l298.07 133.84-135.93 130.31"
                    fill="#ec1d27"
                />
                <g fill="#959596">
                    <path
                        d="m2434 1369.1c5.77 23.69 8.99 48.05 8.99 72.91 0 73.47-26.87 142.73-73.07 202.96l-70.71-73.31c67.92-56.57 116.2-126.19 134.79-202.56"
                    />
                    <path
                        d="m2567.1 673.33-167.71 161.11c-26.83-18.351-55.47-35.32-85.48-50.91l253.19-243.1 780.77 813.21-0.87 131.72-779.9-812.03"
                    />
                    <path
                        d="m1998.1 1219.5-138.12 132.63-105.68 100.93-0.39-131.77 148.61-142.76 141.98-136.41c36.14 8.96 70.64 20.35 103.09 33.83l-149.49 143.55"
                    />
                    <path
                        d="m2541 1955-111.15-115.73-122.6-127.75-83.61-87.03-158.36-164.92 66.36-63.72 168.49 175.53 70.48 73.35 129.09 134.43 41.3 43.02 429.31-411.59 66.43 68.94-495.74 475.47"
                    />
                </g>
                <path
                    d="m2499.7 1779.1-129.09-134.43c46.2-60.19 72.36-129.25 72.36-202.68 0-24.86-3.18-49.26-8.96-72.91-15.04-61.83-48.9-119.04-97.23-168.57-49.42-50.72-114.04-93.35-189.16-124.58-32.48-13.48-66.98-24.86-103.08-33.83-61.25-15.16-127.13-23.6-195.68-23.6-84.51 0-164.77 12.6-237.53 35.27-99.08 30.84-184.09 80.42-246.16 142.41-22.67 22.59-42.23 46.91-58.38 72.52-19.88 31.63-34.61 65.22-43.17 100.38-5.86 23.65-8.96 48.05-8.96 72.91 0 32.73 5.42 64.51 15.12 95.03l-148.26 150.08c-54.29-80.5-84.93-171.21-84.93-267.34 0-24.71 2.31-49.07 6.2-72.95 9.51-58.07 30.33-113.54 60.66-165.28 15.16-26.01 32.8-50.99 52.68-74.96 52.17-62.94 119.39-118.17 198.23-162.96 136.88-77.898 308.28-124.37 494.5-124.37 130.23 0 253.19 22.703 362.25 62.973 33.12 12.219 64.86 26.09 95.23 41.41 70.28 35.59 132.66 79.039 184.76 128.77 87.37 83.45 145.71 184.3 163.78 294.42 3.93 23.88 6.13 48.24 6.13 72.95 0 134.79-59.99 259.17-161.31 359.34"
                    fill="#fff"
                />
                <path
                    d="m1997.4 1218.5 149.05-143.13c74.99 31.28 140.13 73.47 189.63 124.15l-204.28 196.15-66.36 63.73 157.54 164.05 83.48 87.02 122.65 127.79 111.22 115.7 494.53-474.85-66.39-69.14-405.16-421.92c-42.7-58.461-98.02-110.36-163.47-155.15l166.5-160.63 780.8 813.17-813.22 780.76-304.54-317.15-121.86-126.97-112.16-116.8-241.06-252.25 243.1-234.53"
                    fill="#2f61b6"
                />
                <path
                    d="m1310.2 1264.7s3.89-6.41 4.36-7.19c11.9-18.94 28.28-36.26 43.8-53.62l242.9 112.27-558.21 519.88-15.2-80.42 437.92-433.65-155.57-57.27"
                    fill="#959596"
                />
                <path
                    d="m2661 1419.8c0-24.71-2.19-49.07-6.12-72.95-18.07-110.12-76.45-211.01-163.78-294.42-52.1-49.73-114.48-93.219-184.76-128.77-30.37-15.321-62.12-29.192-95.23-41.411-109.06-40.269-232.02-62.968-362.3-62.968-186.17 0-357.58 46.468-494.45 124.33-78.84 44.789-146.1 100.02-198.23 162.96-19.88 23.97-37.52 48.99-52.68 75-30.33 51.74-51.16 107.21-60.7 165.28-3.89 23.88-6.17 48.24-6.17 72.95 0 7.78 0.59 15.47 0.98 23.1-0.08 0.43-0.23 1.02-0.27 1.37-3.97-23.93-0.71-145.7-0.71-170.46 0-39.13 5.23-77.39 14.93-114.43 7.54-29 17.91-57.13 30.84-84.35 32.6-68.71 81.52-131.77 143.51-186.53 149.05-131.49 372.78-215.17 622.95-215.17 173.61 0 334.32 40.421 466.36 108.98 29.98 15.551 58.5 32.602 85.29 50.883 65.45 44.859 120.89 97.43 163.55 155.92 61.87 84.66 96.99 181.61 96.99 284.7 0 21.73 1.89 124.78-0.19 165.71-0.39 5.58 0.19-12.61 0.19-19.72"
                    fill="#959596"
                />
                <g fill="#fff">
                    <path
                        d="m5301.8 1570.8c3.84 0 5.97 1.81 5.97 5.3 0 3.38-1.93 5.27-5.86 5.27-0.82 0-0.98 0-1.8-0.16v-10.25c0.63-0.16 0.98-0.16 1.69-0.16m-15.6 20.82c2.2 0.12 2.51 0.24 6.83 0.59 4.44 0.35 6.29 0.55 8.06 0.55 14.26 0 21.29-5.58 21.29-16.11 0-6.4-2.67-10.17-8.33-12.37l-0.71-0.24c0.48-0.31 0.71-0.46 0.87-0.83 1.45-1.29 6.48-8.79 10.69-15.71h-16.27c-3.3 6.17-4.32 7.9-8.52 14.85v-14.85h-13.91zm16.85-60.22c21.1 0 37.91 16.93 37.91 37.83 0 21.17-16.81 38.1-37.91 38.1-21.02 0-37.99-16.93-37.99-37.91 0-21.25 16.77-38.02 37.99-38.02m0 81.32c23.89 0 43.34-19.33 43.34-43.3 0-24.08-19.3-43.36-43.34-43.36-24.39 0-43.37 18.93-43.37 43.36 0 24.13 19.17 43.3 43.37 43.3"
                    />
                    <path
                        d="m3641 2277.9h343.95l-32.41-132.43h-164.85l-16.26-69.62h171.95l-29.94-122.69h-169.75l-40.73-174.35h-177.7l115.74 499.09"
                    />
                    <path
                        d="m4031.6 2277.9h177.69l-115.74-499.09h-177.68l115.73 499.09"
                    />
                    <path
                        d="m4387 2039.9c57.04 0 97 33.67 97 81.56 0 25.47-18.74 38.19-55.44 38.19-10.6 0-16.3-0.74-27.73-3.03l-26.87-115.22c5.69-0.74 6.52-1.5 13.04-1.5m-131.22 234.97 11.44 1.5c57 6.72 127.91 11.19 167.04 11.19 65.18 0 115.73-7.46 154.04-23.17 48.91-20.2 78.26-64.36 78.26-117.46 0-45.66-15.52-89.07-44.87-122.74-25.26-29.19-48.08-43.37-95.34-57.59l-11.4-3.74c4.87-3.77 6.48-5.26 8.96-7.5 13.87-15.71 55.43-96.52 90.47-176.59h-195.64c-25.22 71.07-32.56 89.82-66 170.62l-39.09-170.62h-172.78l114.91 496.1"
                    />
                    <path
                        d="m5088.4 2277.9h431.08l-30.13-144.49h-127.91l-84.78-354.6h-177.69l84.78 354.6h-138.68l43.33 144.49"
                    />
                    <path
                        d="m5358.6 1826.1c3.85 0 6.01 1.85 6.01 5.39 0 3.34-1.96 5.18-5.85 5.18-0.83 0-0.98 0-1.85-0.16v-10.25c0.67-0.16 1.02-0.16 1.69-0.16m-15.59 20.79c2.23 0.15 2.55 0.31 6.87 0.66 4.36 0.32 6.21 0.52 8.05 0.52 14.22 0 21.26-5.54 21.26-16.11 0-6.36-2.67-10.22-8.33-12.38l-0.67-0.19c0.47-0.32 0.67-0.47 0.82-0.82 1.5-1.34 6.53-8.89 10.73-15.77h-16.26c-3.34 6.21-4.36 7.91-8.57 14.94v-14.94h-13.9zm16.77-60.15c21.1 0 38.03 16.93 38.03 37.87 0 21.1-16.93 38.03-38.03 38.03-20.94 0-37.87-16.93-37.87-37.87 0-21.29 16.73-38.03 37.87-38.03m0 81.24c23.93 0 43.41-19.25 43.41-43.21 0-24.12-19.29-43.41-43.41-43.41-24.32 0-43.25 18.94-43.25 43.41 0 24.12 19.13 43.21 43.25 43.21"
                    />
                    <path
                        d="m4631.9 1791.5c49.93-14.85 104.57-23.18 155.61-23.18 69.26 0 122.25 15.71 167.87 48.65 50.52 35.93 83.16 91.29 83.16 141.42 0 33.66-14.69 64.34-40.73 86.08-20.43 16.41-41.61 29.14-84.78 49.38l-35.09 16.46c-11.39 5.97-17.09 11.94-17.09 18.69 0 17.97 22.83 31.43 53.79 31.43 23.18 0 50.75-6.76 103.55-24l36.42 135.11c-39.48 10.72-77.94 16.1-116.32 16.1-145.09 0-256.74-79.32-256.74-181.85 0-53.86 35.87-92.01 125.48-133.92 42.39-19.46 49.74-24.72 49.74-38.15 0-20.23-22-32.93-57.87-32.93-31.78 0-72.56 9.71-127.99 29.91h-0.04l-38.97-139.2"
                    />
                </g>
            </g>
        </g>
    </svg>
</template>
