/* eslint-disable multi-word-component-names */
<script setup>
import { computed, ref, watch } from "vue";
import { usePage } from "@inertiajs/vue3";

const show = ref(false);
const color = computed(() => usePage().props.snackbar.color || "success");
const timeout = computed(() => usePage().props.snackbar.timeout || 3000);
const message = computed(() => usePage().props.snackbar.message || "");
const uuid = computed(() => usePage().props.snackbar.uuid);

watch(uuid, async () => {
    if (uuid.value) {
        show.value = true;
    }
});
</script>

<template>
    <div>
        <v-snackbar v-model="show" :timeout="timeout" :color="color">
            {{ message }}

            <template v-slot:actions>
                <v-btn color="white" variant="text" @click="show = false">
                    Close
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>
