<script setup></script>

<template>
    <header class="tw-bg-white dark:tw-bg-zinc-900  tw-text-gray-800 dark:tw-text-white tw-shadow">
        <div
            class="tw-max-w-7xl tw-mx-auto tw-py-6 tw-px-4 sm:tw-px-6 lg:tw-px-8"
        >
            <slot />
        </div>
    </header>
</template>

<style scoped></style>
