<script setup>
defineProps({
    type: {
        type: String,
        default: "submit",
    },
});
</script>

<template>
    <button
        :type="type"
        class="tw-inline-flex tw-items-center tw-px-4 tw-py-2 tw-bg-blue-500 tw-border tw-border-transparent tw-font-semibold tw-text-xs tw-text-white tw-tracking-widest tw-bg-blue-600 hover:tw-bg-blue-800 focus:tw-bg-blue-800 active:tw-bg-blue-900 tw-transition tw-ease-in-out tw-duration-150"
        style="
            height: 35px;
            border-top-left-radius: 10px !important;
            border-bottom-left-radius: 10px !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            background-color: #007bff;
        "
    >
        <i style="margin-right: 10px" class="fa-solid fa-eye"></i> Show
    </button>

    <button
        :type="type"
        class="tw-inline-flex tw-items-center tw-px-4 tw-py-2 tw-bg-green-500 tw-border tw-border-transparent tw-font-semibold tw-text-xs tw-text-white tw-tracking-widest tw-bg-yellow-600 hover:tw-bg-yellow-800 focus:tw-bg-yellow-800 active:tw-bg-yellow-900 tw-transition tw-ease-in-out tw-duration-150"
        style="
            height: 35px;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        "
    >
        <i style="margin-right: 10px" class="fa-solid fa-pen-to-square"></i>
        Edit
    </button>

    <button
        :type="type"
        class="tw-inline-flex tw-items-center tw-px-4 tw-py-2 tw-bg-red-600 tw-border tw-border-transparent tw-font-semibold tw-text-xs tw-text-white tw-tracking-widest tw-bg-red-600 hover:tw-bg-red-800 focus:tw-bg-red-800 active:tw-bg-red-900 tw-transition tw-ease-in-out tw-duration-150"
        style="
            height: 35px;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius: 10px !important;
            border-bottom-right-radius: 10px !important;
        "
    >
        <i style="margin-right: 10px" class="fa-solid fa-trash"></i> Delete
    </button>
</template>
