<script setup>
import { reactive, ref, watch } from "vue";
import { useForm } from "@inertiajs/vue3";
import FormSection from "@/Components/FormSection.vue";

const props = defineProps({
    title: String,
    tournaments: Object,
});

const dialog = ref(false);
const snackbar = ref(false);

const fileInput = ref(null)

const formFile = useForm({
    tournament: null,
    file: null,
});

const uploadFile = () => {
  if(fileInput.value){
    [formFile.file] = fileInput.value.files;
  }
}

const uploadTeams = () => {
  if(fileInput.value){
    [formFile.file] = fileInput.value.files;
  }

  console.log("uploading Teams");
  console.log(formFile);
  formFile.post(route("teams.uploadList"), {
        preserveScroll: true,
        onSuccess: () => {
            console.log("Success");
            snackbar.value = true;
            dialog.value = false;
        },
        onError: (e) => {
          console.log(e);
        },
    });
};

function resetForm(id = undefined) {
  formFile.reset();
  formFile.clearErrors();
}

watch(dialog, (newValue) => {
    resetForm();
});
</script>

<template>
    <v-snackbar v-model="snackbar" timeout="3000" color="success">
        {{ $vuetify.locale.t("teams.creationSuccess") }}

        <template v-slot:actions>
            <v-btn color="white" variant="text" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog transition="dialog-top-transition" v-model="dialog" width="1024">
        <template v-slot:activator="{ props }">
            <v-btn
                color="green"
                variant="elevated"
                v-bind="props"
                prepend-icon="mdi-plus"
            >
                {{ $vuetify.locale.t("general.upload") }}
            </v-btn>
        </template>
        <v-card>
            <form @submit.prevent="uploadTeams">
                <v-card-title class="pt-4">
                    <span class="text-h5">{{
                            $vuetify.locale.t("teams.titleModalUpload")
                        }}</span>
                </v-card-title>
                <v-card-text>
                    <v-row>

                        <v-col cols="12">

                            <v-file-input
                                placeholder="Upload teams spreadsheet"
                                label="Upload teams spreadsheet"
                                id="file"
                                :error-messages="formFile.errors.file"
                                @change="uploadFile"
                                type="file"
                                ref="fileInput"
                            ></v-file-input>

                        </v-col>

                        <v-col cols="12">
                            <v-autocomplete
                                :items="tournaments"
                                :label="
                                    $vuetify.locale.t('tournament.tournament')
                                "
                                :disabled="formFile.processing"
                                item-value="uuid"
                                item-title="name"
                                id="tournament"
                                :error-messages="formFile.errors.tournament"
                                v-model="formFile.tournament"
                            ></v-autocomplete>
                        </v-col>


                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        variant="text"
                        @click="dialog = false"
                    >
                        {{ $vuetify.locale.t("general.close") }}
                    </v-btn>
                    <v-btn
                        :loading="formFile.processing"
                        color="blue-darken-1"
                        type="submit"
                    >
                        {{ $vuetify.locale.t("general.upload") }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data: () => ({
        dialog: false,
    }),
};
</script>
