<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { Head, router, useForm, usePage } from "@inertiajs/vue3";
import { computed, ref } from "vue";
import { useDisplay, useLocale } from "vuetify";
import fse from "fs";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";


const page = usePage();
const { t } = useLocale();
const tournaments = computed(() => page.props.tournaments).value;

defineOptions({ layout: AdminLayout });

const form = useForm({
    uuid: undefined,
    disableJudgeForms: true,
});



const checkJudgeForms = async () => {

    var returnValue = false;

    const xhr = new XMLHttpRequest();
    xhr.open("GET", "/generated/judgeForms.pdf");
    xhr.send();
    xhr.responseType = "json";
    xhr.onload = () => {
        if (xhr.readyState == 4 && xhr.status == 200) {
            console.log("Found File");
            form.disableJudgeForms = false;
        } else {
            console.log("Not found");
        }
    };

}
const downloadRubric = () => {
    form.get(route("export.rubric", { uuid: form.uuid }), {
        preserveScroll: true,
    });
};

const generateExports = () => {
    form.get(route("export.generate", { uuid: form.uuid }), {
        preserveScroll: true,
    });
};

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);
</script>

<style></style>

<template>
    <div style="display: none" id="onLoad">
        {{checkJudgeForms()}}
    </div>

    <Head :title="$vuetify.locale.t('exports.title')"></Head>

    <div class="tw-py-4 md:tw-px-4 tw-px-2">
        <div>
            <div>
                <v-row>
                    <v-col cols="6">
                        <form @submit.prevent="generateExports">
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                            $vuetify.locale.t("exports.generate")
                                        }}</v-card-title>
                                </v-card-item>

                                <v-card-text>
                                    {{
                                        $vuetify.locale.t(
                                            "exports.generateExplain"
                                        )
                                    }}
                                    <br>
                                </v-card-text>

                                <v-card-actions>
                                    <v-autocomplete
                                        :items="tournaments"
                                        :label="t('tournament.tournament')"
                                        item-value="uuid"
                                        item-title="name"
                                        id="tournament"
                                        v-model="form.uuid"
                                        density="compact"
                                    ></v-autocomplete>

                                    <v-spacer></v-spacer>

                                    <v-btn
                                        color="blue"
                                        type="submit"
                                        variant="tonal"
                                    >
                                        {{
                                            $vuetify.locale.t(
                                                "general.generate"
                                            )
                                        }}
                                    </v-btn>

                                </v-card-actions>
                            </v-card>
                        </form>
                    </v-col>

                    <v-col cols="6">
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                        $vuetify.locale.t("exports.rubrics")
                                    }}</v-card-title>
                                </v-card-item>

                                <v-card-text>
                                    {{
                                        $vuetify.locale.t(
                                            "exports.rubricsExplain"
                                        )
                                    }}
                                    <b>{{
                                        $vuetify.locale.t("exports.warningTime")
                                    }}</b>
                                </v-card-text>

                                <v-card-actions>
                                    <v-autocomplete
                                        :items="tournaments"
                                        :label="t('tournament.tournament')"
                                        item-value="uuid"
                                        item-title="name"
                                        id="tournament"
                                        v-model="form.uuid"
                                        density="compact"
                                    ></v-autocomplete>

                                    <v-spacer></v-spacer>

                                    <v-btn
                                        color="blue"
                                        :disabled='form.disableJudgeForms'
                                        type="submit"
                                        variant="tonal"
                                        href="/generated/judgeForms.pdf"
                                    >
                                        {{
                                            $vuetify.locale.t(
                                                "general.download"
                                            )
                                        }}
                                    </v-btn>

                                </v-card-actions>
                            </v-card>
                    </v-col>

                    <v-col cols="6">
                        <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode? 'dark' : 'light'">
                            <v-card-item>
                                <v-card-title>{{
                                        $vuetify.locale.t("exports.matchList")
                                    }}</v-card-title>
                            </v-card-item>

                            <v-card-text>
                                {{
                                    $vuetify.locale.t(
                                        "exports.matchListExplain"
                                    )
                                }}
                                <b>{{
                                        $vuetify.locale.t("exports.warningTime")
                                    }}</b>
                            </v-card-text>

                            <v-card-actions>
                                <v-autocomplete
                                    :items="tournaments"
                                    :label="t('tournament.tournament')"
                                    item-value="uuid"
                                    item-title="name"
                                    id="tournament"
                                    v-model="form.uuid"
                                    density="compact"
                                ></v-autocomplete>

                                <v-spacer></v-spacer>

                                <v-btn
                                    color="blue"
                                    :disabled='form.disableJudgeForms'
                                    type="submit"
                                    variant="tonal"
                                    href="/generated/matchList.pdf"
                                >
                                    {{
                                        $vuetify.locale.t(
                                            "general.download"
                                        )
                                    }}
                                </v-btn>

                            </v-card-actions>
                        </v-card>
                    </v-col>

                    <v-col cols="6">
                        <v-card class="pa-2 ma-2">
                            <v-card-item>
                                <v-card-title>{{
                                        $vuetify.locale.t("exports.judgeList")
                                    }}</v-card-title>
                            </v-card-item>

                            <v-card-text>
                                {{
                                    $vuetify.locale.t(
                                        "exports.judgeListExplain"
                                    )
                                }}
                                <b>{{
                                        $vuetify.locale.t("exports.warningTime")
                                    }}</b>
                            </v-card-text>

                            <v-card-actions>
                                <v-autocomplete
                                    :items="tournaments"
                                    :label="t('tournament.tournament')"
                                    item-value="uuid"
                                    item-title="name"
                                    id="tournament"
                                    v-model="form.uuid"
                                    density="compact"
                                ></v-autocomplete>

                                <v-spacer></v-spacer>

                                <v-btn
                                    color="blue"
                                    :disabled='form.disableJudgeForms'
                                    type="submit"
                                    variant="tonal"
                                    href="/generated/judgeList.pdf"
                                >
                                    {{
                                        $vuetify.locale.t(
                                            "general.download"
                                        )
                                    }}
                                </v-btn>

                            </v-card-actions>
                        </v-card>
                    </v-col>

                    <v-col cols="6">
                        <v-card class="pa-2 ma-2">
                            <v-card-item>
                                <v-card-title>{{
                                    $vuetify.locale.t("exports.ojs")
                                }}</v-card-title>
                            </v-card-item>

                            <v-card-text>
                                {{ $vuetify.locale.t("exports.ojsExplain") }}
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                    variant="tonsail al"
                                    color="blue"
                                    :href="route('export.referee_results')"
                                    target="_blank"
                                >
                                    {{ $vuetify.locale.t("general.download") }}
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </div>
        </div>
    </div>
</template>
