<script setup>
import ErrorLayout from "@/Layouts/ErrorLayout.vue";
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { Head } from "@inertiajs/vue3";
import PageHeader from "@/Components/PageHeader.vue";

defineOptions({ layout: ErrorLayout });


</script>

<template>
    <Head :title="$vuetify.locale.t('error.403.titleHead')"></Head>

    <div class="tw-py-8">
        <div style="max-width: 90%;" class="tw-mx-auto sm:tw-px-6 lg:tw-px-8">
            <v-row class="h-full">

                <v-col>
                    <div>
                        <v-img
                            style="margin-top: auto; margin-bottom: auto"
                            class="max-w-screen-lg mx-auto pb-10"
                            src="/img/errors/403.png"
                            width="65%"
                        />

                    </div>
                </v-col>

                <v-col style="margin-top: auto; margin-bottom: auto" class="text-center">
                    <h2>{{$vuetify.locale.t('error.403.title')}}</h2>
                    <h3 class="mt-2">{{$vuetify.locale.t('error.403.subtitle')}}</h3>
                    <p class="mt-8">{{$vuetify.locale.t('error.403.lineone')}}</p>
                    <p>{{$vuetify.locale.t('error.403.linetwo')}}</p>
                    <p class="mt-6">
                        <v-btn
                            color="blue"
                            :href="route('login')"
                        >
                            {{$vuetify.locale.t('error.403.backbutton')}}
                        </v-btn>
                    </p>
                    <p class="mt-6">{{$vuetify.locale.t('error.403.report')}}</p>
                </v-col>

            </v-row>
        </div>
    </div>
</template>
