<script setup>
import ErrorLayout from "@/Layouts/ErrorLayout.vue";
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { Head } from "@inertiajs/vue3";
import PageHeader from "@/Components/PageHeader.vue";

defineOptions({ layout: ErrorLayout });
</script>

<template>
    <Head :title="$vuetify.locale.t('error.title')"></Head>

    <div class="tw-py-8">
        <div style="max-width: 90%;" class="tw-mx-auto sm:tw-px-6 lg:tw-px-8">

        </div>
    </div>
</template>
