<script setup>
import PublicLayout from "@/Layouts/PublicLayout.vue";
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { Head } from "@inertiajs/vue3";
import { getCurrentInstance } from "vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

defineOptions({ layout: PublicLayout });

const props = defineProps({
    results: Object,
    twitchUsername: String,
});

const host = location.host;
let twitchUsername = "first_lego_league_nl"

if(props.twitchUsername !== ""){
    twitchUsername = props.twitchUsername;
}

const twitchUrl = "https://player.twitch.tv/?channel="+twitchUsername+"&parent="+host

</script>

<template>
    <Head :title="$vuetify.locale.t('Kijk live mee!')"></Head>

    <div class="tw-py-8">
        <div style="max-width: 80%" class="tw-mx-auto sm:tw-px-6 lg:tw-px-8">

            <div style="padding-bottom: 56.25%; position: relative;">
                <iframe style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"
                        width="100%"
                        height="100%"
                        :src="twitchUrl"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
                />
            </div>

        </div>
    </div>
</template>
