<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { VDataTable } from "vuetify/labs/VDataTable";
import { Head, router } from "@inertiajs/vue3";
import { computed, ref } from "vue";
import { useDisplay, useLocale } from "vuetify";
import TableMenuItem from "../../../Components/table/TableMenuItem.vue";
import TableMenu from "../../../Components/table/TableMenu.vue";
import JuryModal from "./Partials/JuryModal.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

const { t } = useLocale();

defineOptions({ layout: AdminLayout });
const props = defineProps({
    juries: Array,
    tournaments: Array,
});

const uuidToRoundLookup = computed(() => {
    const data = [];
    props.juries.forEach((jury) => {
        data[jury.uuid] = jury;
    });
    return data;
});

const tableHeight = computed(() => {
    let h = 0;

    if (useDisplay().smAndDown.value) {
        h = 350;
    } else {
        h = 250;
    }

    return `calc(100vh - ${h}px)`;
});

const itemsPerPage = ref(25);

const search = ref("");

// const sortBy = ref([
//     { key: "table_pair.number", order: "asc" },
//     { key: "number", order: "asc" },
// ]);

const headers = [
    { title: t("jury.number"), align: "start", key: "number" },
    { title: t("jury.name"), align: "start", key: "name" },
    { title: t("jury.location"), align: "start", key: "location" },
    {
        title: "",
        align: "end",
        key: "actions",
        sortable: false,
    },
];

const roundsLoading = ref([]);

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

function startLoading(uuid) {
    roundsLoading.value.push(uuid);
}

function endLoading(uuid) {
    const index = roundsLoading.value.indexOf(uuid);
    if (index !== -1) {
        roundsLoading.value.splice(index, 1);
    }
}

function handleDelete(uuid) {
    router.visit(route("jury.destroy", { uuid: uuid }), {
        method: "DELETE",
        preserveScroll: true,
        preserveState: true,
        onStart: () => {
            startLoading(uuid);
        },
        onFinish: () => {
            endLoading(uuid);
        },
    });
}
</script>

<template>
    <Head :title="$vuetify.locale.t('tables.title')"></Head>

    <div class="tw-py-4 md:tw-px-4 tw-px-2">
        <div
            class="tw-bg-white tw-overflow-hidden tw-shadow tw-rounded tw-border tw-border-solid tw-border-gray-300"
        >
            <v-data-table
                :theme="preferences.state.darkMode ? 'dark' : 'light'"
                v-model:items-per-page="itemsPerPage"
                v-model:sort-by="sortBy"
                multi-sort
                :headers="headers"
                :items="juries"
                class="elevation-1"
                :height="tableHeight"
                hover
                show-current-page
                density="comfortable"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar
                        density="compact"
                        class="tw-border-solid tw-border-b"
                    >
                        <v-toolbar-title>{{
                            $vuetify.locale.t("jury.title")
                        }}</v-toolbar-title>

                        <v-text-field
                            v-model="search"
                            :placeholder="$vuetify.locale.t('general.search')"
                            :density="null"
                            variant="underlined"
                            class="tw-max-w-sm tw-mr-4"
                            clearable
                            hide-details
                            single-line
                        ></v-text-field>

                        <JuryModal
                            :btnName="$vuetify.locale.t('general.add')"
                            :btnSubmitText="$vuetify.locale.t('general.save')"
                            :title="$vuetify.locale.t('jury.titleModalAdd')"
                            btnIcon="mdi-eye"
                            :tournaments="props.tournaments"
                            v-if="$userCan('table.create')"
                        />
                    </v-toolbar>
                </template>

                <template v-slot:item.actions="{ item }">
                    <table-menu
                        :loading="roundsLoading.includes(item.raw.uuid)"
                    >
                        <JuryModal
                            :jury="item.raw"
                            :btnName="$vuetify.locale.t('general.show')"
                            :btnSubmitText="$vuetify.locale.t('general.update')"
                            :title="$vuetify.locale.t('tables.titleModalShow')"
                            btnIcon="mdi-eye"
                            :tournaments="props.tournaments"
                        />

                        <JuryModal
                            :jury="item.raw"
                            :btnName="$vuetify.locale.t('general.edit')"
                            :btnSubmitText="$vuetify.locale.t('general.update')"
                            :title="$vuetify.locale.t('tables.titleModalEdit')"
                            btnIcon="mdi-pencil"
                            :tournaments="props.tournaments"
                        />

                        <table-menu-item
                            :text="$vuetify.locale.t('general.delete')"
                            icon="mdi-delete"
                            @click="handleDelete(item.raw.uuid)"
                        ></table-menu-item>
                    </table-menu>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
