<script setup>

const props = defineProps({
    name: String,
    number: String,
    affiliate: String,
    photoUrl: String,
    highScore: String,
});

</script>

<template>
    <v-card class="mx-auto" width="100%">

        <template v-slot:title>

                <div class="text-center">
                    {{ props.number }} - {{ props.name }}
                </div>
        </template>

        <v-card-text>
            <v-row>
                <v-col>
                    <v-img
                        :src=props.photoUrl>
                    </v-img>
                </v-col>
                <v-col>
                    <div>
                        <div>
                            <span class="font-weight-bold">Organisation:</span><br>
                            {{props.affiliate}}
                        </div>

                        <div class="tw-pt-2">
                            <v-btn
                                color="green"
                                width="100%"
                                >
                                {{ props.highScore }} {{ $vuetify.locale.t('general.points') }}
                            </v-btn>
                        </div>

                        <div class="tw-mt-2">
                            <v-btn
                                color="blue"
                                width="100%"
                            >
                                {{ $vuetify.locale.t('teams.view') }}
                            </v-btn>
                        </div>
                    </div>
                </v-col>
            </v-row>

        </v-card-text>
    </v-card>
</template>
