<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import PageHeader from "../../../Components/PageHeader.vue";
import { usePage, useForm, Head } from "@inertiajs/vue3";
import { computed, ref, watch } from "vue";

import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

defineOptions({ layout: AdminLayout });

const page = usePage();
const teamList = computed(() => page.props.teams).value;
const dialog = ref(false);
const snackbar = ref(false);

const props = defineProps({
    remark: Object,
    teams: Array,

});

const form = useForm({
    uuid: page.props.remark.uuid,
    team: page.props.remark.team_uuid,
    value: page.props.remark.value,
    category: page.props.remark.category,

});

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

const saveRemark = () => {
    if(page.props.remark.uuid === undefined) {
        form.post(route("remarks.store"), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
            },
            onError: () => {
            },
        });
    } else {
        console.log("Update");
        form.put(route("remarks.update", {"uuid": props.remark.uuid}), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
            },
            onError: () => {
            },
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
}

watch(dialog, (newValue) => {
    resetForm();
});

</script>

<template>
    <Head :title="$vuetify.locale.t('users.title')"></Head>

    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-leading-tight"
        >
            <div>
                <div style="display: inline-block">
                    {{ $vuetify.locale.t("remarks.title") }}
                </div>
            </div>
        </h2>
    </page-header>

    <div>
        <div class="tw-max-w-7xl tw-mx-auto tw-py-10 sm:tw-px-6 lg:tw-px-8">
            <div>
                <form @submit.prevent="saveRemark">
                    <v-row>
                        <v-col>
                            <!-- Basic Information -->
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode ? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                        $vuetify.locale.t("remarks.remark")
                                    }}</v-card-title>
                                </v-card-item>

                                <v-card-text>

                                    <v-autocomplete
                                        class="ma-0"
                                        :items="teamList"
                                        :label="
                                                    $vuetify.locale.t(
                                                        'remarks.aboutTeam'
                                                    )
                                                "
                                        item-value="uuid"
                                        item-title="id_name"
                                        id="team"
                                        :error-messages="
                                                    form.errors.team
                                                "
                                        :disabled="form.processing"
                                        v-model="form.team"

                                    ></v-autocomplete>

                                    <v-textarea
                                        :label="
                                            $vuetify.locale.t('remarks.value')
                                        "
                                        id="value"
                                        :error-messages="form.errors.value"
                                        :disabled="form.processing"
                                        v-model="form.value"
                                    ></v-textarea>

                                    <v-autocomplete
                                        class="ma-0"
                                        :items="[
                                            {value: 'COACH', title: $vuetify.locale.t('remarks.coach')},
                                            {value: 'TEAM', title: $vuetify.locale.t('remarks.team')},
                                            {value: 'TABLE', title: $vuetify.locale.t('remarks.table')},
                                            {value: 'JURY', title: $vuetify.locale.t('remarks.jury')},
                                            {value: 'PARENTS', title: $vuetify.locale.t('remarks.parents')},
                                            {value: 'OTHERS', title: $vuetify.locale.t('remarks.others')},

                                        ]"
                                        :label="$vuetify.locale.t('remarks.aboutTeam')"
                                        item-value="value"
                                        item-title="title"
                                        id="type"
                                        :error-messages="form.errors.category"
                                        :disabled="form.processing"
                                        v-model="form.category"
                                    ></v-autocomplete>

                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>


                    </v-row>

                </form>
            </div>
        </div>
    </div>
</template>

<script></script>
