<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { VDataTable } from "vuetify/labs/VDataTable";
import { Head, router } from "@inertiajs/vue3";
import { computed, ref } from "vue";
import { useDisplay, useLocale } from "vuetify";
import TableMenuItem from "../../../Components/table/TableMenuItem.vue";
import TableMenu from "../../../Components/table/TableMenu.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

const { t } = useLocale();

defineOptions({ layout: AdminLayout });
const props = defineProps({
    teams: Object,
    remarks: Array,
});

const tableHeight = computed(() => {
    let h = 0;

    if (useDisplay().smAndDown.value) {
        h = 350;
    } else {
        h = 250;
    }

    return `calc(100vh - ${h}px)`;
});

const itemsPerPage = ref(25);

const search = ref("");

const sortBy = ref([{ key: "priority", order: "asc" }]);

const headers = [
    { title: t("teams.name"), align: "start", key: "team.name" },
    { title: t("remarks.madeBy"), align: "start", key: "user.name" },
    { title: t("remarks.category"), align: "start", key: "category" },
    {
        title: "",
        align: "end",
        key: "actions",
        sortable: false,
    },
];

const remarksLoading = ref([]);

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

function startLoading(uuid) {
    remarksLoading.value.push(uuid);
}

function endLoading(uuid) {
    const index = remarksLoading.value.indexOf(uuid);
    if (index !== -1) {
        remarksLoading.value.splice(index, 1);
    }
}

function handleDelete(uuid) {
    router.visit(route("remarks.destroy", { uuid: uuid }), {
        method: "DELETE",
        preserveScroll: true,
        preserveState: true,
        onStart: () => {
            startLoading(uuid);
        },
        onFinish: () => {
            endLoading(uuid);
        },
    });
}
</script>

<style></style>

<template>
    <Head :title="$vuetify.locale.t('remarks.title')"></Head>

    <div class="tw-py-4 md:tw-px-4 tw-px-2">
        <div
            class="tw-bg-white tw-overflow-hidden tw-shadow tw-rounded tw-border tw-border-solid tw-border-gray-300"
        >
            <v-data-table
                :theme="preferences.state.darkMode ? 'dark' : 'light'"
                v-model:items-per-page="itemsPerPage"
                v-model:sort-by="sortBy"
                :headers="headers"
                :items="remarks"
                class="elevation-1"
                :height="tableHeight"
                hover
                show-current-page
                density="comfortable"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar
                        density="compact"
                        class="tw-border-solid tw-border-b"
                    >
                        <v-toolbar-title>{{
                            $vuetify.locale.t("remarks.title")
                        }}</v-toolbar-title>

                        <v-text-field
                            v-model="search"
                            :placeholder="$vuetify.locale.t('general.search')"
                            :density="null"
                            variant="underlined"
                            class="tw-max-w-sm tw-mr-4"
                            clearable
                            hide-details
                            single-line
                        ></v-text-field>

                        <v-btn
                            color="primary"
                            variant="elevated"
                            v-bind="props"
                            prepend-icon="mdi-plus"
                            :href="route('remarks.new')"
                        >
                            {{ $vuetify.locale.t('general.add') }}
                        </v-btn>

                    </v-toolbar>
                </template>

                <template v-slot:item.category="{ item }">

                    <v-chip
                        class="ma-2"
                        color="green"
                        text-color="white"
                    >
                        {{ $vuetify.locale.t('remarks.'+(item.raw.category).toLowerCase()) }}
                    </v-chip>
                </template>


                <template v-slot:item.actions="{ item }">
                    <table-menu
                        :loading="remarksLoading.includes(item.raw.uuid)"
                    >

                        <table-menu-item
                            :href="route('remarks.show', { uuid: item.raw.uuid })"
                            :text="$vuetify.locale.t('general.show')"
                            icon="mdi-eye"
                        ></table-menu-item>

                        <table-menu-item
                            :href="route('remarks.show', { uuid: item.raw.uuid })"
                            :text="$vuetify.locale.t('general.edit')"
                            icon="mdi-pencil"
                        ></table-menu-item>

                        <table-menu-item
                            :text="$vuetify.locale.t('general.delete')"
                            icon="mdi-delete"
                            @click="handleDelete(item.raw.uuid)"
                            v-if="$userCan('remark.delete')"
                        ></table-menu-item>
                    </table-menu>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
