<script setup>
import ScoreSheetInput from "../ScoreSheet/ScoreSheetInput.vue";
import { computed, defineProps, onBeforeMount, onMounted, ref } from "vue";
import RefereeResultInputHeader from "./RefereeResultInputHeader.vue";
import RefereeResultInputFooter from "./RefereeResultInputFooter.vue";
import { Link, router } from "@inertiajs/vue3";

const props = defineProps({
    editorEnabled: {
        required: false,
        default: true,
    },
    refereeResult: {
        required: true,
        type: Object,
    },
    teams: {
        required: false,
        default: [],
        type: Array,
    },
    tables: {
        required: false,
        default: [],
        type: Array,
    },
});

const scoreSheet = computed(() => {
    return props.refereeResult.score_sheet;
});

const imagesEnabledSetting = ref(false);

const selectedTeam = ref(null);
const selectedRound = ref(null);
const selectedTable = ref(null);

const rating = ref(null);
const comments = ref(null);

const snackbarData = ref({
    timeout: 5000,
    color: "success",
    variant: "outlined",
    show: false,
    text: "",
});

onBeforeMount(() => {
    selectedRound.value = props.refereeResult.round;
    selectedTeam.value = props.refereeResult.team;
    selectedTable.value = props.refereeResult?.table ?? null;
    rating.value = props.refereeResult.core_values_score;
    comments.value = props.refereeResult.comments;
});

// This is used to gain access to functions on the ScoreSheetInput component
const scoreSheetInputForm = ref(null);

const result = ref(null);
const editing = ref(false);
async function editResult(footerData) {
    const data = {
        ...result.value,
        comments: comments.value,
        gracious_professionalism: rating.value,
        signature: footerData.signature,
        team_uuid: selectedTeam?.value?.uuid,
        round_uuid: selectedRound?.value?.uuid,
        table_uuid: selectedTable?.value?.uuid ?? null,
    };
    console.log(data);

    try {
        editing.value = true;
        await axios.put(
            route("referee_results.update", {
                uuid: result.value.uuid,
            }),
            data
        );
        snackbarData.value = {
            timeout: 5000,
            color: "success",
            variant: "elevated",
            show: true,
            text: `Score saved successfully.`,
        };

        router.visit(route("referee_results.index"));
    } catch (e) {
        snackbarData.value = {
            timeout: 5000,
            color: "error",
            variant: "elevated",
            show: true,
            text: `Score could not be saved. Please try again.`,
        };
        console.log(e);
    } finally {
        editing.value = false;
    }
}

const deleting = ref(false);
function deleteResult() {
    deleting.value = true;
    router.delete(
        route("referee_results.destroy", {
            uuid: result.value.uuid,
        }),
        {
            onFinish: () => {
                deleting.value = false;
            },
        }
    );
}

const inputDisabled = computed(() => {
    return !props.editorEnabled || editing.value || deleting.value;
});
</script>

<template>
    <v-container class="px-6">
        <div class="d-flex flex-column pt-3">
            <referee-result-input-header
                :score-sheet="scoreSheet"
                :teams="teams"
                :tables="tables"
                :disabled="inputDisabled"
                :reset-enabled="false"
                :editing-round="refereeResult.round"
                v-model:selected-team="selectedTeam"
                v-model:selected-table="selectedTable"
                v-model:selected-round="selectedRound"
                v-model:images-enabled-setting="imagesEnabledSetting"
            >
                <!--- TODO Fix issue with rounds / teams editing -->
                <template #header v-if="editorEnabled">
                    {{ refereeResult.team.id_name }}
                    {{ refereeResult.round.name }} | Score Editor
                </template>
                <template #header v-else>
                    {{ refereeResult.team.id_name }}
                    {{ refereeResult.round.name }} | Score Viewer
                </template>
                <template #refereeTools>
                    <v-col v-if="!editorEnabled">
                        <Link
                            :href="
                                route(
                                    'referee_results.edit',
                                    refereeResult.uuid
                                )
                            "
                            class="text-decoration-none tw-text-inherit"
                            v-if="$userCan('result.edit')"
                        >
                            <v-btn
                                color="primary"
                                variant="outlined"
                                prepend-icon="mdi-note-edit"
                                block
                            >
                                Edit
                            </v-btn>
                        </Link>
                    </v-col>
                    <v-col
                        v-if="$userCan('result.delete')">
                        <v-btn
                            color="red-darken-3"
                            variant="outlined"
                            prepend-icon="mdi-trash-can-outline"
                            block
                            :loading="deleting"
                            @click="deleteResult"
                        >
                            Delete
                        </v-btn>
                    </v-col>
                </template>
            </referee-result-input-header>

            <score-sheet-input
                @update:result="result = $event"
                :score-sheet="scoreSheet"
                :image-enabled="imagesEnabledSetting"
                :disabled="inputDisabled"
                :initial-result="refereeResult"
                ref="scoreSheetInputForm"
            ></score-sheet-input>

            <referee-result-input-footer
                :selected-table="selectedTable"
                :selected-round="selectedRound"
                :selected-team="selectedTeam"
                :result="result"
                :disabled="inputDisabled"
                :loading="editing"
                :show-submit-buttons="editorEnabled"
                @submit-referee-result="editResult($event)"
                v-model:rating="rating"
                v-model:comments="comments"
                v-model:signature-data="refereeResult.signature"
                v-if="$userCan('result.edit')"
            ></referee-result-input-footer>
        </div>
    </v-container>
    <v-snackbar
        :timeout="snackbarData.timeout"
        :color="snackbarData.color"
        :variant="snackbarData.variant"
        v-model="snackbarData.show"
        location="bottom right"
    >
        {{ snackbarData.text }}
    </v-snackbar>
</template>

<style scoped></style>
