<script setup>
import { defineProps, ref, watch, defineEmits, computed } from "vue";
import { useDisplay } from "vuetify";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../stores/preferencesStore";

const { mdAndUp } = useDisplay();

const props = defineProps({
    scoreSheet: {
        required: true,
        type: Object
    },
    teams: {
        required: false,
        default: [],
        type: Array
    },
    tables: {
        required: true,
        default: [],
        type: Array
    },
    selectedTeam: {
        required: false,
        default: null,
        type: Object
    },
    selectedRound: {
        required: false,
        default: null,
        type: Object
    },
    selectedTable: {
        required: false,
        default: null,
        type: Object
    },
    imagesEnabledSetting: {
        required: true,
        type: Boolean
    },
    disabled: {
        required: false,
        default: false
    },
    resetEnabled: {
        required: false,
        default: true
    },
    editingRound: {
        required: false,
        default: null
    }
});

const internalSelectedTeam = computed({
    get() {
        return props.selectedTeam;
    },
    set(value) {
        emit("update:selectedTeam", value);
    }
});

const internalSelectedRound = computed({
    get() {
        return props.selectedRound;
    },
    set(value) {
        emit("update:selectedRound", value);
    }
});

const internalSelectedTable = computed({
    get() {
        return props.selectedTable;
    },
    set(value) {
        emit("update:selectedTable", value);
    }
});

const internalImagesEnabled = computed({
    get() {
        return props.imagesEnabledSetting;
    },
    set(value) {
        emit("update:imagesEnabledSetting", value);
    }
});

const emit = defineEmits(["resetScoringForm", "update:imagesEnabledSetting"]);

const settingsOpened = ref(false);

const teamEditingLocked = ref(false);

const rounds = ref([]);
const roundsLoading = ref(false);
const roundsLoadingError = ref(false);
const roundsMenuOpen = ref(false);

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

function loadRounds() {
    roundsLoading.value = true;
    roundsLoadingError.value = false;
    axios
        .get(
            route("frontend_api.get_rounds_for_team", {
                uuid: internalSelectedTeam.value.uuid
            })
        )
        .then((response) => {
            roundsLoading.value = false;
            // These results were sorted server side
            rounds.value = response.data;
            roundsMenuOpen.value = !rounds.value.some((round) => {
                if (
                    round.referee_results_count === null ||
                    round.referee_results_count === 0
                ) {
                    internalSelectedRound.value = round;
                    return true;
                }
            });
        })
        .catch((error) => {
            roundsLoading.value = false;
            roundsLoadingError.value = true;
        });
}

watch(internalSelectedTeam, (newValue) => {
    internalSelectedRound.value = null;
    internalSelectedTable.value = null;
    rounds.value = [];
    if (internalSelectedTeam.value !== null) {
        loadRounds();
    }
});
</script>

<template>
    <v-row class="mb-4" id="InputHeader">
        <v-card class="tw-w-full" :theme="preferences.state.darkMode ? 'dark' : 'light'">
            <v-card-title class="bg-primary">
                <slot name="header">
                    {{ scoreSheet.name }} {{ scoreSheet.season }}
                    | {{ $vuetify.locale.t("refereeInput.scoringInput") }}
                </slot>
            </v-card-title>
            <v-card-item>
                <!-- Team select -->
                <div class="text-caption pb-2">{{ $vuetify.locale.t("refereeInput.enterMatchData") }}</div>
                <v-autocomplete
                    class="mb-2"
                    v-model="internalSelectedTeam"
                    :hint="
                        teamEditingLocked ? $vuetify.locale.t('refereeInput.enableEditing') : ''
                    "
                    :items="teams"
                    item-title="id_name"
                    item-value="uuid"
                    :readonly="teamEditingLocked"
                    :disabled="disabled"
                    :label="
                        !teamEditingLocked
                            ? $vuetify.locale.t('refereeInput.selectTeam')
                            : $vuetify.locale.t('refereeInput.selectTeamLocked')
                    "
                    prepend-icon="mdi-account-group"
                    variant="outlined"
                    density="comfortable"
                    return-object
                >
                    <template v-slot:append>
                        <v-slide-x-reverse-transition mode="out-in">
                            <v-icon
                                :key="`icon-${teamEditingLocked}`"
                                :color="!teamEditingLocked ? 'success' : 'info'"
                                :icon="
                                    !teamEditingLocked
                                        ? 'mdi-check-outline'
                                        : 'mdi-circle-edit-outline'
                                "
                                @click="teamEditingLocked = !teamEditingLocked"
                            ></v-icon>
                        </v-slide-x-reverse-transition>
                    </template>
                </v-autocomplete>

                <v-row class="">
                    <v-col :cols="mdAndUp ? 6 : 12">
                        <v-select
                            class=""
                            v-model="internalSelectedRound"
                            v-model:menu="roundsMenuOpen"
                            :items="rounds"
                            item-title="name"
                            item-value="uuid"
                            :label="
                                !internalSelectedTeam
                                    ? $vuetify.locale.t('refereeInput.selectTeamFirst')
                                    : $vuetify.locale.t('refereeInput.selectRound')
                            "
                            :loading="roundsLoading"
                            :disabled="!internalSelectedTeam || disabled"
                            prepend-icon="mdi-gamepad-round-outline"
                            variant="outlined"
                            density="comfortable"
                            :error="roundsLoadingError"
                            :error-messages="
                                roundsLoadingError
                                    ? [
                                          $vuetify.locale.t('refereeInput.errorLoadingRounds'),
                                      ]
                                    : []
                            "
                            :hide-details="!roundsLoadingError"
                            return-object
                        >
                            <template v-slot:item="{ props, item }">
                                <v-list-item
                                    v-bind="props"
                                    :title="item?.raw?.name"
                                    :subtitle="
                                        item?.raw?.referee_results_count > 0
                                            ? $vuetify.locale.t('refereeInput.alreadyEntered')
                                            : ''
                                    "
                                    :disabled="
                                        item?.raw?.referee_results_count > 0
                                    "
                                ></v-list-item>
                            </template>
                        </v-select>
                    </v-col>

                    <v-col :cols="mdAndUp ? 6 : 12">
                        <!-- Table select -->
                        <v-select
                            class=""
                            v-model="internalSelectedTable"
                            :items="tables"
                            item-title="number"
                            item-value="uuid"
                            :label="
                                !internalSelectedTeam
                                    ? $vuetify.locale.t('refereeInput.selectTeamFirst')
                                    : $vuetify.locale.t('refereeInput.selectTable')
                            "
                            :disabled="!internalSelectedTeam || disabled"
                            prepend-icon="mdi-table-merge-cells"
                            variant="outlined"
                            density="comfortable"
                            chips
                            return-object
                            hide-details
                        >
                            <template v-slot:details="{ props, item }">
                            </template>

                            <template v-slot:chip="{ props, item }">
                                <v-chip
                                    class="mr-2 elevation-0"
                                    :color="item.raw.color_code"
                                    text-color="black"
                                    variant="flat"
                                    style="min-width: 50px"
                                    text=""
                                ></v-chip>
                                {{ $vuetify.locale.t('general.table') }} {{ item?.raw?.color }}
                            </template>

                            <template v-slot:item="{ props, item }">
                                <v-list-item v-bind="props" title="">
                                    <v-list-item-title>
                                        <v-chip
                                            v-bind="props"
                                            class="ma-2 elevation-0"
                                            :color="item.raw.color_code"
                                            text-color="black"
                                            variant="flat"
                                            style="min-width: 50px"
                                        >
                                        </v-chip>
<!--                                        Table {{ item?.raw?.number }}-->
                                        {{ $vuetify.locale.t('general.table') }} {{ item?.raw?.color }}

                                    </v-list-item-title>
                                </v-list-item>
                            </template>
                        </v-select>
                    </v-col>
                </v-row>
                <!-- Round select -->

                <!-- TODO Select from schedule (with table filtering?) -->
            </v-card-item>
            <v-card-item>
                <!-- Team select -->
                <div class="text-caption py-2">Referee tools:</div>
                <v-row>
                    <slot name="refereeTools"></slot>
                    <v-col v-if="resetEnabled">
                        <v-btn
                            color="red-darken-2"
                            variant="outlined"
                            prepend-icon="mdi-trash-can-outline"
                            block
                            @click.prevent="emit('resetScoringForm')"
                        >
                            <!-- TODO Dialog modal confirming delete -->
                            {{ $vuetify.locale.t('refereeInput.resetForm') }}
                        </v-btn>
                    </v-col>
                    <v-col class="d-flex">
                        <v-btn
                            class="flex-grow-1 mr-3"
                            color="primary"
                            variant="tonal"
                            prepend-icon="mdi-file-document-multiple"
                        >
                            {{ $vuetify.locale.t('refereeInput.accessResources') }}
                            <v-menu activator="parent">
                                <v-list>
                                    <!-- TODO Remove hardcoded values (Translation key, needs to be done backwards as well) -->
                                    <v-list-item
                                        target="_blank"
                                        href="https://cdn.flltools.com/documents/nl/submerged/Robotwedstrijdgids.pdf"
                                        prepend-icon="mdi-gamepad-square-outline"
                                    >
                                        <v-list-item-title>
                                            {{ $vuetify.locale.t('refereeInput.challengeGuide') }}
                                        </v-list-item-title>
                                    </v-list-item>
                                    <v-list-item
                                        target="_blank"
                                        href="https://cdn.flltools.com/documents/nl/submerged/Updates.pdf"
                                        prepend-icon="mdi-update"
                                    >
                                        <v-list-item-title>
                                            {{ $vuetify.locale.t('refereeInput.challengeUpdates') }}
                                        </v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-menu>
                        </v-btn>
                        <v-btn
                            density="comfortable"
                            variant="plain"
                            :icon="
                                settingsOpened
                                    ? 'mdi-chevron-up'
                                    : 'mdi-chevron-down'
                            "
                            @click="settingsOpened = !settingsOpened"
                        ></v-btn>
                    </v-col>
                </v-row>
            </v-card-item>
            <v-expand-transition>
                <div v-show="settingsOpened">
                    <v-divider class="mx-3 mt-3"></v-divider>

                    <div class="pa-3">
                        <!-- TODO Move settings to store with localstorage -->
                        <!-- TODO Hide score option -->
                        <v-switch
                            color="primary"
                            :label="$vuetify.locale.t('refereeInput.enableImages')"
                            v-model="internalImagesEnabled"
                        ></v-switch>
                    </div>
                </div>
            </v-expand-transition>
        </v-card>
    </v-row>
</template>

<style scoped></style>
