<script setup>
import ScoreSheetInput from "../ScoreSheet/ScoreSheetInput.vue";
import { computed, defineProps, ref } from "vue";
import RefereeResultInputHeader from "./RefereeResultInputHeader.vue";
import RefereeResultInputFooter from "./RefereeResultInputFooter.vue";

const props = defineProps({
    scoreSheet: {
        required: true,
        type: Object,
    },
    teams: {
        required: false,
        default: [],
        type: Array,
    },
    tables: {
        required: false,
        default: [],
        type: Array,
    },
});

const imagesEnabledSetting = ref(false);

const selectedTeam = ref(null);
const selectedRound = ref(null);
const selectedTable = ref(null);
const rating = ref(null);

// This is used to gain access to functions on the ScoreSheetInput component
const scoreSheetInputForm = ref(null);

// Used for access to footer reset function
const scoreSheetInputFooter = ref(null);

const result = ref(null);
const comments = ref(null);

const snackbarData = ref({
    timeout: 5000,
    color: "success",
    variant: "outlined",
    show: false,
    text: "",
});

function resetScoringForm() {
    selectedTeam.value = null;
    scoreSheetInputForm.value.createEmptyResult();
    scoreSheetInputFooter.value.resetFooter();
}

const submitting = ref(false);

async function processResult(footerData) {
    const data = {
        ...result.value,
        comments: comments.value,
        gracious_professionalism: rating.value,
        signature: footerData.signature,
        team_uuid: selectedTeam?.value?.uuid,
        round_uuid: selectedRound?.value?.uuid,
        table_uuid: selectedTable?.value?.uuid ?? null,
    };
    console.log(data);

    // TODO Dump into the pinia queue
    // TODo Reset footer
    try {
        submitting.value = true;
        await axios.post(route("referee_results.store"), data);
        snackbarData.value = {
            timeout: 5000,
            color: "success",
            variant: "elevated",
            show: true,
            text: `Score for team '${selectedTeam.value?.id_name}' with ${result.value?.points} pt. submitted successfully.`,
        };

        resetScoringForm();
        scrollTo(0, 0);
    } catch (e) {
        snackbarData.value = {
            timeout: 5000,
            color: "error",
            variant: "elevated",
            show: true,
            text: `Score for team '${selectedTeam.value?.id_name}' with ${result.value?.points} pt. could not be submitted. Please try again.`,
        };
        console.log(e);
    } finally {
        submitting.value = false;
    }
}
</script>

<template>
    <v-container class="px-6 dark:tw-bg-zinc-950">
        <div class="d-flex flex-column pt-3">
            <referee-result-input-header
                :score-sheet="scoreSheet"
                :teams="teams"
                :tables="tables"
                :disabled="submitting"
                v-model:selected-team="selectedTeam"
                v-model:selected-table="selectedTable"
                v-model:selected-round="selectedRound"
                v-model:images-enabled-setting="imagesEnabledSetting"
                @reset-scoring-form="resetScoringForm"
            ></referee-result-input-header>
            <score-sheet-input
                @update:result="result = $event"
                :score-sheet="scoreSheet"
                :image-enabled="imagesEnabledSetting"
                :disabled="submitting"
                ref="scoreSheetInputForm"
            ></score-sheet-input>
            <referee-result-input-footer
                :selected-table="selectedTable"
                :selected-round="selectedRound"
                :selected-team="selectedTeam"
                :result="result"
                :disabled="submitting"
                :loading="submitting"
                v-model:comments="comments"
                v-model:rating="rating"
                @submit-referee-result="processResult($event)"
                ref="scoreSheetInputFooter"
            ></referee-result-input-footer>
        </div>
    </v-container>
    <v-snackbar
        :timeout="snackbarData.timeout"
        :color="snackbarData.color"
        :variant="snackbarData.variant"
        v-model="snackbarData.show"
        location="bottom right"
    >
        {{ snackbarData.text }}
    </v-snackbar>
</template>

<style scoped></style>
