<script setup>
import FormSection from "@/Components/FormSection.vue";
import { usePage } from "@inertiajs/vue3";
import { computed } from "vue";
import { useForm } from "@inertiajs/vue3";
import { reactive, ref, watch } from "vue";

const page = usePage();
const settingsModules = computed(() => page.props.settings.modules).value;
const settingsGeneral = computed(() => page.props.settings.general).value;
const tournaments = computed(() => page.props.tournaments).value;

const dialog = ref(false);

const form = useForm({
    team_id: null,
    name: "",
    affiliate: "",
    tournament: null,
});

const createTeam = () => {
    form.post(route("teams.store"), {
        preserveScroll: true,
        onSuccess: () => {
            resetForm(form.team_id + 1);
            snackbar.value = true;
        },
        onError: () => {},
    });
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
    if (props.tournaments.length === 1) {
        form.tournament = props.tournaments[0].uuid;
    }
    if (id !== undefined) {
        form.team_id = id;
    }
}

watch(dialog, (newValue) => {
    resetForm();
});
</script>

<template>
    <FormSection>
        <template #title>
            {{ $vuetify.locale.t("teams.adv.basicTitle") }}
        </template>

        <template #description>
            {{ $vuetify.locale.t("teams.adv.basicDesc") }}
        </template>

        <template #form>
            <div class="tw-col-span-12 sm:tw-col-span-6">
                <v-card-title class="pt-2">
                    <span class="text-h5">{{
                        $vuetify.locale.t("teams.adv.basicSettings")
                    }}</span>
                </v-card-title>

                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="6" md="6">
                            <v-text-field
                                :label="$vuetify.locale.t('teams.numberLong')"
                                type="number"
                                id="team_id"
                                :disabled="form.processing"
                                :error-messages="form.errors.team_id"
                                v-model.number="form.team_id"
                            ></v-text-field>
                        </v-col>
                        <!--                        <v-col cols="12" sm="6" md="4"> </v-col>-->
                        <!-- TODO: Only display this when the tournament module has been enabled -->
                        <v-col cols="12" sm="6" md="6">
                            <v-autocomplete
                                :items="tournaments"
                                :label="
                                    $vuetify.locale.t('tournament.tournament')
                                "
                                :disabled="form.processing"
                                item-value="uuid"
                                item-title="name"
                                id="tournament"
                                :error-messages="form.errors.tournament"
                                v-model="form.tournament"
                            ></v-autocomplete>
                        </v-col>

                        <v-col cols="12">
                            <v-text-field
                                :label="$vuetify.locale.t('teams.nameLong')"
                                v-model="form.name"
                                :disabled="form.processing"
                                :error-messages="form.errors.name"
                                id="name"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                :label="$vuetify.locale.t('teams.affiliate')"
                                type="text"
                                v-model="form.affiliate"
                                :disabled="form.processing"
                                :error-messages="form.errors.affiliate"
                                id="affiliate"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
            </div>
        </template>

        <template #actions>
            <v-btn type="submit" color="primary">{{
                $vuetify.locale.t("profile.save")
            }}</v-btn>
        </template>
    </FormSection>
</template>

<script>
export default {
    data: () => ({
        dialog: false,
    }),
};
</script>
