<script setup>
import { nextTick, reactive, ref, watch } from "vue";
import { useForm } from "@inertiajs/vue3";
import FormSection from "@/Components/FormSection.vue";

const props = defineProps({
    title: String,
    tournaments: Array,
});

const dialog = ref(false);
const snackbar = ref(false);

const form = useForm({
    team_id: null,
    name: "",
    affiliate: "",
    tournament: null,
});

const createTeam = () => {
    form.post(route("teams.store"), {
        preserveScroll: true,
        onSuccess: () => {
            resetForm(form.team_id + 1);
            snackbar.value = true;
        },
        onError: () => {},
    });
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
    if (props.tournaments.length === 1) {
        form.tournament = props.tournaments[0].uuid;
    }
    if (id !== undefined) {
        form.team_id = id;
        nextTick(() => {
            document.getElementById("name").focus();
        });
    }
}

watch(dialog, (newValue) => {
    resetForm();
});
</script>

<template>
    <v-snackbar v-model="snackbar" timeout="3000" color="success">
        {{ $vuetify.locale.t("teams.creationSuccess") }}

        <template v-slot:actions>
            <v-btn color="white" variant="text" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog transition="dialog-top-transition" v-model="dialog" width="1024">
        <template v-slot:activator="{ props }">
            <v-btn
                color="primary"
                variant="elevated"
                v-bind="props"
                prepend-icon="mdi-plus"
            >
                {{ $vuetify.locale.t("general.add") }}
            </v-btn>
        </template>
        <v-card>
            <form @submit.prevent="createTeam">
                <v-card-title class="pt-4">
                    <span class="text-h5">{{
                        $vuetify.locale.t("teams.titleModalAdd")
                    }}</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                :label="$vuetify.locale.t('teams.numberLong')"
                                type="number"
                                id="team_id"
                                :disabled="form.processing"
                                :error-messages="form.errors.team_id"
                                v-model.number="form.team_id"
                            ></v-text-field>
                        </v-col>
                        <!--                        <v-col cols="12" sm="6" md="4"> </v-col>-->
                        <!-- TODO: Only display this when the tournament module has been enabled -->
                        <v-col cols="12" sm="6" md="4">
                            <v-autocomplete
                                :items="tournaments"
                                :label="
                                    $vuetify.locale.t('tournament.tournament')
                                "
                                :disabled="form.processing"
                                item-value="uuid"
                                item-title="name"
                                id="tournament"
                                :error-messages="form.errors.tournament"
                                v-model="form.tournament"
                            ></v-autocomplete>
                        </v-col>

                        <v-col cols="12">
                            <v-text-field
                                :label="$vuetify.locale.t('teams.nameLong')"
                                v-model="form.name"
                                :disabled="form.processing"
                                :error-messages="form.errors.name"
                                id="name"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                :label="$vuetify.locale.t('teams.affiliate')"
                                type="text"
                                v-model="form.affiliate"
                                :disabled="form.processing"
                                :error-messages="form.errors.affiliate"
                                id="affiliate"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        variant="text"
                        @click="dialog = false"
                    >
                        {{ $vuetify.locale.t("general.close") }}
                    </v-btn>
                    <v-btn
                        :loading="form.processing"
                        color="blue-darken-1"
                        type="submit"
                    >
                        {{ $vuetify.locale.t("general.save") }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>

<script>
export default {
    data: () => ({
        dialog: false,
    }),
};
</script>
