<script setup>
import {Head, router} from "@inertiajs/vue3";
import PageHeader from "../../Components/PageHeader.vue";
import FirstLegoLeagueLogoHeader from "../../Components/FirstLegoLeagueLogoHeader.vue";
import PublicLayout from "../../Layouts/PublicLayout.vue";
import {onMounted} from "vue";

defineOptions({ layout: PublicLayout });

</script>

<script>
export default {

    data() {
        return {
            timerEnabled: false,
            min: 2,
            sec: 30,
        }
    },

    mounted() {
        var audio = new Audio('/sounds/clockActive.mp3');
        audio.play();

        Echo.channel("StartClock")
            .listen("StartClock", async (e) => {
                console.log("Start: " + e.message);
                this.timerEnabled = true;
                var audio = new Audio('/sounds/start.mp3');
                await this.playAudio(audio);

            });

        Echo.channel("PauseClock")
            .listen("PauseClock", (e) => {
                console.log("Pause: " + e.message);
                this.timerEnabled = false;
            });

        Echo.channel("EndClock")
            .listen("EndClock", (e) => {
                console.log("End: " + e.message);
                this.timerEnabled = false;
                this.min = 2;
                this.sec = 30;
            });

    },
    methods:{
        playAudio(audio){
            return new Promise(res=>{
                audio.play()
                audio.onended = res
            })
        }
    },
    watch: {
        timerEnabled(value) {
            if (value) {
                setTimeout(() => {
                    this.sec--;
                }, 1000);
            }
        },

        sec: {
            handler(value) {

                if ((value > -1 && this.timerEnabled && this.min !== 0) || (value > 0 && this.timerEnabled && this.min === 0)) {
                    setTimeout(() => {
                        if(this.timerEnabled) { // This is to make sure that the timer once reset / stopped won't do another tick
                            this.sec--;
                            if (this.sec === -1 && this.min !== 0) {
                                this.sec = 59;
                                this.min--;
                            }

                            if (this.sec == 0 && this.min == 0) {
                                // Play sound
                                var audio = new Audio('../sounds/end.mp3');
                                audio.play();
                            }

                            if (this.min == 0 && this.sec == 30) {
                                var audio = new Audio('../sounds/end-game.mp3');
                                audio.play();
                            }

                        }
                    }, 1000);
                }

            },
            immediate: true // This ensures the watcher is triggered upon creation
        }
    }
}
</script>

<template>
    <Head :title="$vuetify.locale.t('timer.title')"></Head>

    <div class="tw-py-12">
        <div class="tw-max-w-7xl tw-mx-auto sm:tw-px-6 lg:tw-px-8">
            <div
                class="tw-bg-white dark:tw-bg-zinc-900 dark:tw-text-red-400 tw-overflow-hidden tw-shadow sm:tw-rounded-lg timer"
            >
                <div class="tw-inline-block">{{min}}:</div>
                <div v-if="sec < 10" class="tw-inline-block">0</div>
                <div class="tw-inline-block">{{sec}}</div><br>
            </div>
        </div>
    </div>
</template>
