<script setup>
import ButtonTest from "@/Components/testButtons.vue";
</script>

<script>
export default {
    props: {
        place: String,
        teamnumber: String,
        teamname: String,
        round: String,
        points: String,
        index: Number,
    },
};
</script>

<template>
    <div :class="{ 'tw-bg-blue-100': index % 2 !== 0 }">
        <div class="tw-flex tw-text-center">
            <div class="" style="width: 10%">{{ place }}</div>
            <div class="" style="width: 10%">{{ teamnumber }}</div>
            <div class="" style="width: 50%">{{ teamname }}</div>
            <div class="" style="width: 15%">{{ round }}</div>
            <div class="" style="width: 15%">{{ points }}</div>
        </div>
    </div>
</template>
