<script setup>
import { computed } from "vue";
import { useForm, usePage } from "@inertiajs/vue3";
import FormSection from "@/Components/FormSection.vue";

const page = usePage();
</script>

<script>

import {computed} from "vue";
import {useForm, usePage} from "@inertiajs/vue3";
const page = usePage();

const form = useForm({
    _method: "PUT",
    settings: {},
});

export default {
    data() {
        return {
            settingValues: {},
        };
    },
    created() {
        this.returnSettings = computed(() => page.props.settings.modules).value;
    },
    mounted() {
        for(const s in this.returnSettings){
            this.settingValues[this.returnSettings[s].uuid] = this.returnSettings[s].value;
        };
    },
    methods: {
        sendData() {
            form.settings = this.settingValues;

            form.put(route("setting.store"), {
                preserveScroll: true,
                onSuccess: () => {
                    console.log("Success")
                    this.$emit("nextPage")
                },
                onError: () => {},
            });
        }
    }
}

</script>

<template>
    <form @submit.prevent="sendData">
        <v-row>

                <v-col
                    cols="6"
                    v-for="setting in returnSettings"
                    class="tw-col-span-12 sm:tw-col-span-6 pl-10"
                >
                    <v-row>
                        <v-col cols="6">
                    <v-switch
                        v-if="setting.type == 'BOOLEAN'"
                        color="blue"
                        :id="setting.key"
                        :ref="setting.key"
                        :model-value="setting.value"
                        v-model="settingValues[setting.uuid]"
                        :label="$vuetify.locale.t(setting.name)"
                        class="tw-block tw-w-full"
                    />

                    <v-text-field
                        v-if="setting.type == 'TEXT'"
                        color="blue"
                        :id="setting.key"
                        :ref="setting.key"
                        :model-value="setting.value"
                        v-model="settingValues[setting.uuid]"
                        :label="$vuetify.locale.t(setting.name)"
                        class="tw-block tw-w-full"
                    />

                    <v-text-field
                        v-if="setting.type == 'NUMBER'"
                        color="blue"
                        :id="setting.key"
                        :ref="setting.key"
                        :model-value="setting.value"
                        v-model="settingValues[setting.uuid]"
                        :label="$vuetify.locale.t(setting.name)"
                        class="tw-block tw-w-full"
                    />
                </v-col>
                        <v-col cols="2">
                    <v-tooltip :text="$vuetify.locale.t('settings.module.explain.'+setting.key)">
                        <template v-slot:activator="{ props }">
                            <v-icon color="blue-grey-darken-2" v-bind="props" icon="mdi-information"></v-icon>
                        </template>
                    </v-tooltip>
                        </v-col>

                    </v-row>
                </v-col>
        </v-row>

        <div class="text-right">

        <v-btn
            :loading="form.processing"
            color="blue-darken-1"
            type="submit"
        >
            {{ $vuetify.locale.t("general.saveNext") }}
        </v-btn>


        </div>

    </form>

</template>
