<script setup>
import {useForm} from "@inertiajs/vue3";
import {ref} from "vue";


const props = defineProps({
    scoreSheets: Array
});

const emitTest = ref(null);
const nextPageDisabled = ref(true);

const form = useForm({
    scoreSheet: null,
    name: "",
    active: true,
    locationName: "",
    address: "",
    city: "",
    zipCode: "",
    startTime: "",
    endTime: "",
    matchLength: 7,
    juryLength: 45,
    simultaneousMatches: 2,
});

const createTournament = () => {
    form.post(route("wizard.storeTournament"), {
        preserveScroll: true,
        onSuccess: () => {
            console.log("Success")
            nextPageDisabled.value = false;
        },
        onError: () => {},
    });
};
</script>

<script>
export default {
    methods: {
        EmitNextPage(){
            this.$emit("nextPage")
        }
    },
}
</script>

<template>
    <form @submit.prevent="createTournament">
        <v-card-text>
            <v-container>
                <v-row>
                    <!-- Names -->
                    <v-col cols="12">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t('tournament.name')
                                    "
                            id="name"
                            v-model="form.name"
                            :disabled="form.processing"
                            :error-messages="form.errors.name"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" md="4">
                        <v-autocomplete
                            :items="props.scoreSheets"
                            :label="
                                        $vuetify.locale.t(
                                            'tournament.scoreSheets'
                                        )
                                    "
                            :disabled="form.processing"
                            id="scoreSheet"
                            item-value="uuid"
                            item-title="name"
                            :error-messages="form.errors.scoreSheet"
                            v-model="form.scoreSheet"
                            auto-select-first
                        ></v-autocomplete>
                    </v-col>

                    <v-col cols="8">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t(
                                            'tournament.locationName'
                                        )
                                    "
                            v-model="form.locationName"
                            id="locationName"
                            :disabled="form.processing"
                            :error-messages="form.errors.locationName"
                        ></v-text-field>
                    </v-col>
                </v-row>

                <!-- Address -->
                <v-row>
                    <v-col cols="12">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t('tournament.address')
                                    "
                            v-model="form.address"
                            id="address"
                            :disabled="form.processing"
                            :error-messages="form.errors.address"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" md="8">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t('tournament.city')
                                    "
                            id="city"
                            :disabled="form.processing"
                            :error-messages="form.errors.city"
                            v-model="form.city"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" md="4">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t('tournament.zipCode')
                                    "
                            id="zipCode"
                            :disabled="form.processing"
                            :error-messages="form.errors.zipCode"
                            v-model="form.zipCode"
                        ></v-text-field>
                    </v-col>
                </v-row>

                <!-- Times -->
                <v-row>
                    <v-col cols="12" sm="6" md="6">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t(
                                            'tournament.startTime'
                                        )
                                    "
                            id="startTime"
                            :disabled="form.processing"
                            :error-messages="form.errors.startTime"
                            type="datetime-local"
                            v-model="form.startTime"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" md="6">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t('tournament.endTime')
                                    "
                            id="endTime"
                            :disabled="form.processing"
                            :error-messages="form.errors.endTime"
                            type="datetime-local"
                            v-model="form.endTime"
                        ></v-text-field>
                    </v-col>
                </v-row>

                <!-- Tournament Schedule Info -->

                <v-row>
                    <v-col cols="12" sm="6" md="4">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t(
                                            'tournament.matchLength'
                                        )
                                    "
                            id="matchLength"
                            :disabled="form.processing"
                            :error-messages="form.errors.matchLength"
                            v-model.number="form.matchLength"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" md="4">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t(
                                            'tournament.simultaneousMatches'
                                        )
                                    "
                            id="simultaneousMatches"
                            :disabled="form.processing"
                            :error-messages="
                                        form.errors.simultaneousMatches
                                    "
                            v-model.number="form.simultaneousMatches"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" sm="6" md="4">
                        <v-text-field
                            :label="
                                        $vuetify.locale.t(
                                            'tournament.juryLength'
                                        )
                                    "
                            id="juryLength"
                            :disabled="form.processing"
                            :error-messages="form.errors.juryLength"
                            v-model.number="form.juryLength"
                        ></v-text-field>
                    </v-col>
                </v-row>
            </v-container>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                :loading="form.processing"
                color="blue-darken-1"
                type="submit"
                :disabled="!nextPageDisabled"
            >
                {{ $vuetify.locale.t("general.submit") }}
            </v-btn>

            <v-btn                @change="EmitNextPage"
                :loading="form.processing"
                color="blue-darken-1"
                :disabled="nextPageDisabled"
                @click="EmitNextPage"
            >
                {{ $vuetify.locale.t("general.next") }}
            </v-btn>

        </v-card-actions>
    </form>
</template>
