<script setup>
import { nextTick, ref, watch } from "vue";
import { useForm } from "@inertiajs/vue3";
import TableMenuItem from "@/Components/table/TableMenuItem.vue";

const props = defineProps({
    title: String,
    round: Object,
    btnIcon: String,
    btnName: String,
    btnSubmitText: String,
    tournaments: Object,
});

const dialog = ref(false);
const snackbar = ref(false);

const form = useForm({
    name: "",
    is_practice: false,
    score_hidden: false,
    tournament: null,
    priority: null,
});

const updateRound = () => {
    if (props.round === undefined) {
        form.post(route("rounds.store"), {
            preserveScroll: true,
            onSuccess: () => {
                resetForm();
                snackbar.value = true;
                nextTick(() => {
                    document.getElementById("name").focus();
                });
            },
            onError: () => {},
        });
    } else {
        form.put(route("rounds.update", { uuid: props.round.uuid }), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
                dialog.value = false;
            },
            onError: () => {},
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
}

watch(dialog, (newValue) => {
    if (newValue && props.round !== undefined) {
        resetForm();
        form.name = props.round.name;
        form.is_practice = props.round.is_practice;
        form.score_hidden = props.round.score_hidden;
        form.tournament = props.round.tournament_uuid;
        form.priority = props.round.priority;
    }
});
</script>

<template>
    <v-snackbar
        v-if="round === undefined"
        v-model="snackbar"
        timeout="3000"
        color="success"
    >
        {{ $vuetify.locale.t("rounds.creationSuccess") }}
        <template v-slot:actions>
            <v-btn color="white" variant="text" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog transition="dialog-top-transition" v-model="dialog" width="1024">
        <template v-slot:activator="{ props }">

            <table-menu-item
                v-if="round !== undefined"
                v-bind="props"
                :text="btnName"
                :icon="btnIcon"
            ></table-menu-item>

            <v-btn
                v-if="round === undefined"
                color="primary"
                variant="elevated"
                v-bind="props"
                prepend-icon="mdi-plus"
            >
                {{ btnName }}
            </v-btn>
        </template>
        <v-card>
            <form @submit.prevent="updateRound">
                <v-card-title class="pt-4">
                    <span class="text-h5">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="8">
                            <v-text-field
                                :label="$vuetify.locale.t('rounds.name')"
                                v-model="form.name"
                                :disabled="form.processing"
                                :error-messages="form.errors.name"
                                id="name"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="4" md="4">
                            <v-autocomplete
                                :items="tournaments"
                                :label="
                                    $vuetify.locale.t('tournament.tournament')
                                "
                                :disabled="form.processing"
                                item-value="uuid"
                                item-title="name"
                                id="tournament"
                                :error-messages="form.errors.tournament"
                                v-model="form.tournament"
                            ></v-autocomplete>
                        </v-col>

                        <v-col cols="12" sm="4" md="4">
                            <v-switch
                                :label="$vuetify.locale.t('rounds.is_practice')"
                                color="blue"
                                id="is_practice"
                                :disabled="form.processing"
                                :error-messages="form.errors.is_practice"
                                v-model="form.is_practice"
                            ></v-switch>
                        </v-col>
                        <v-col cols="12" sm="4" md="4">
                            <v-switch
                                :label="
                                    $vuetify.locale.t('rounds.score_hidden')
                                "
                                color="blue"
                                id="score_hidden"
                                :disabled="form.processing"
                                :error-messages="form.errors.score_hidden"
                                v-model="form.score_hidden"
                            ></v-switch>
                        </v-col>
                        <v-col cols="12" sm="4" md="4">
                            <v-text-field
                                :label="$vuetify.locale.t('general.priority')"
                                v-model="form.priority"
                                :disabled="form.processing"
                                type="number"
                                pattern="[0-9]*"
                                :error-messages="form.errors.priority"
                                id="priority"
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        variant="text"
                        @click="dialog = false"
                    >
                        {{ $vuetify.locale.t("general.close") }}
                    </v-btn>
                    <v-btn
                        :loading="form.processing"
                        color="blue-darken-1"
                        type="submit"
                    >
                        {{ btnSubmitText }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>
