<script setup>
import { computed, defineEmits, defineProps } from "vue";
import RadioObjectiveInput from "./RadioObjectiveInput.vue";
import SpinnerObjectiveInput from "./SpinnerObjectiveInput.vue";

const props = defineProps({
    objective: {
        required: true,
        type: Object,
    },
    objectiveResult: {
        required: true,
        type: Object,
    },
    sizeWatcher: {
        required: true,
        type: Number,
    },
    disabled: {
        required: false,
        default: false,
    },
});

const emit = defineEmits(["objectiveResultUpdate"]);

const objectiveType = computed(() => {
    return props.objective?.type;
});
</script>

<template>
    <div
        class="d-flex flex-column flex-wrap mb-3 w-100"
        v-if="objectiveResult.available"
    >
        <!-- TODO Conditional objectives -->
        <radio-objective-input
            :size-watcher="sizeWatcher"
            :objective="objective"
            :objective-result="objectiveResult"
            :disabled="disabled"
            @objective-result-update="$emit('objectiveResultUpdate', $event)"
            v-if="
                objectiveType ===
                'App\\Models\\Challenge\\Mission\\Objective\\RadioObjective'
            "
        ></radio-objective-input>
        <spinner-objective-input
            :objective="objective"
            :objective-result="objectiveResult"
            :disabled="disabled"
            @objective-result-update="$emit('objectiveResultUpdate', $event)"
            v-else-if="
                objectiveType ===
                'App\\Models\\Challenge\\Mission\\Objective\\SpinnerObjective'
            "
        ></spinner-objective-input>
    </div>
</template>

<style scoped></style>
