<script setup>
import { computed, defineProps, ref, defineEmits, onMounted, watch } from "vue";
import { sortByKey } from "../../../../utility/sorting.js";
import { useDisplay, useLocale } from "vuetify";
const { t } = useLocale();
const { xs, sm, md, lg } = useDisplay();

const props = defineProps({
    objective: {
        required: true,
        type: Object,
    },
    objectiveResult: {
        required: true,
        type: Object,
    },
    sizeWatcher: {
        required: true,
        type: Number,
    },
    disabled: {
        required: false,
        default: false,
    },
});

const buttonContainer = ref(null);
const buttons = ref([]);
const containerWidth = ref(buttonContainer.value?.offsetWidth);

onMounted(() => {
    containerWidth.value = buttonContainer.value?.offsetWidth;
});

watch(
    () => props.sizeWatcher,
    (first, second) => {
        containerWidth.value = buttonContainer.value?.offsetWidth;
    }
);

const emit = defineEmits(["objectiveResultUpdate"]);

const sortedRadioOptions = computed(() => {
    return sortByKey(
        props.objective.radio_objective_options,
        "priority"
    ).filter((option) => {
        // Filtering for conditional objectives
        return props.objectiveResult?.available_options.includes(option.uuid);
    });
});

const stackedOptions = computed(() => {
    let totalButtonWidth = 0;
    buttons.value.forEach((button) => {
        if (button?.$el?.offsetWidth) {
            totalButtonWidth += button?.$el?.offsetWidth;
        }
    });
    return totalButtonWidth > containerWidth.value;
});

const selectedOption = computed(() => {
    return props.objectiveResult?.result;
});

function selectOption(option) {
    emit("objectiveResultUpdate", {
        mission_uuid: props.objective.mission_uuid,
        objective_uuid: props.objective.uuid,
        result: option.uuid,
        points: option.points,
    });
}
</script>

<template>
    <div class="font-weight-bold d-flex justify-end">
        {{ $vuetify.locale.t(objective.statement) }}
    </div>

    <div class="d-flex justify-end" ref="buttonContainer">
        <div
            :class="{
                'flex-row flex-wrap btn-rounded-row': !stackedOptions,
                'flex-column btn-rounded-column': stackedOptions,
            }"
            class="d-flex tw-rounded-lg"
        >
            <!-- TODO Min-width on larger screens, but take into consideration the image, might also want more vertical padding -->
            <v-btn
                class="pa-3 pa-md-4 text-none radio-button"
                size="extra-small"
                variant="tonal"
                rounded="0"
                ripple
                :prepend-icon="
                    radioOption.uuid === selectedOption ? 'mdi-check-bold' : ''
                "
                :active="radioOption.uuid === selectedOption"
                :color="radioOption.color"
                :value="radioOption.uuid"
                :disabled="disabled"
                ref="buttons"
                v-for="(radioOption, index) in sortedRadioOptions"
                @click.prevent="selectOption(radioOption)"
            >
                {{ $vuetify.locale.t(radioOption.value) }}
            </v-btn>
        </div>
    </div>
</template>

<style scoped>
.btn-rounded-column .v-btn:first-child {
    border-start-start-radius: inherit !important;
    border-start-end-radius: inherit !important;
}

.btn-rounded-column .v-btn:last-child {
    border-end-start-radius: inherit !important;
    border-end-end-radius: inherit !important;
}

.btn-rounded-column .v-btn:not(:last-child) {
    border-bottom: 1px;
    border-bottom-style: solid;
}

.btn-rounded-row .v-btn:first-child {
    border-start-start-radius: inherit !important;
    border-end-start-radius: inherit !important;
}

.btn-rounded-row .v-btn:last-child {
    border-start-end-radius: inherit !important;
    border-end-end-radius: inherit !important;
}

.btn-rounded-row .v-btn:not(:last-child) {
    border-right: 1px;
    border-right-style: solid;
}

.radio-button {
    min-width: 60px;
}

@media only screen and (min-width: 600px) {
    .radio-button {
        min-width: 80px;
    }
}

@media only screen and (min-width: 800px) {
    .radio-button {
        min-width: 100px;
    }
}

@media only screen and (min-width: 960px) {
    .radio-button {
        min-width: 120px;
    }
}
</style>
