<script setup>
import { computed, defineEmits, defineProps, ref, watch } from "vue";

const props = defineProps({
    objective: {
        required: true,
        type: Object,
    },
    objectiveResult: {
        required: true,
        type: Object,
    },
    disabled: {
        required: false,
        default: false,
    },
});

const emit = defineEmits(["objectiveResultUpdate"]);

const currentValue = computed(() => {
    return props.objectiveResult?.result;
});

const value = computed({
    get() {
        return currentValue.value;
    },
    set(newValue) {
        let returnValue = null;
        if (newValue !== null && typeof newValue !== "number") {
            returnValue = null;
        } else if (typeof newValue === "number") {
            if (newValue > props.objective.max) {
                returnValue = props.objective.max;
            } else if (newValue < props.objective.min) {
                returnValue = props.objective.min;
            } else {
                returnValue = newValue;
            }
        }

        emit("objectiveResultUpdate", {
            mission_uuid: props.objective.mission_uuid,
            objective_uuid: props.objective.uuid,
            result: returnValue,
            points: returnValue * props.objective.points,
        });
    },
});

function decrease() {
    if (value.value === null) {
        value.value = 0;
    } else {
        value.value--;
    }
}

function increase() {
    if (value.value === null) {
        value.value = 1;
    } else {
        value.value++;
    }
}
// TODO Spinner input as buttons
</script>

<template>
    <div class="font-weight-bold d-flex justify-end">
        {{ $vuetify.locale.t(objective.statement) }}
    </div>

    <div class="d-flex justify-end">
        <div class="d-flex tw-rounded-lg flex-row btn-rounded-row">
            <v-btn
                class="pa-3 pa-md-4 text-none"
                size="extra-small"
                variant="tonal"
                rounded="0"
                ripple
                prepend-icon="
                 mdi-minus-thick
                "
                color="primary"
                :disabled="disabled"
                @click.prevent="decrease"
            >
            </v-btn>
            <v-text-field
                base-color="primary"
                density="comfortable"
                class="d-flex field-spinner align-number-center"
                variant="underlined"
                type="number"
                pattern="[0-9]*"
                flat
                hide-details
                v-model.number="value"
                :disabled="disabled"
            ></v-text-field>
            <v-btn
                class="pa-3 pa-md-4 text-none"
                size="extra-small"
                variant="tonal"
                rounded="0"
                ripple
                prepend-icon="
                 mdi-plus-thick
                "
                color="primary"
                :disabled="disabled"
                @click.prevent="increase"
            >
            </v-btn>
        </div>
    </div>
</template>

<style scoped>
.btn-rounded-row .v-btn:first-child {
    border-start-start-radius: inherit !important;
    border-end-start-radius: inherit !important;
}

.btn-rounded-row .v-btn:last-child {
    border-start-end-radius: inherit !important;
    border-end-end-radius: inherit !important;
}
</style>

<style>
.field-spinner .v-field--variant-underlined .v-field__outline:before {
    border-width: var(--v-field-border-width) 0 var(--v-field-border-width) !important;
}

.field-spinner .v-field__input {
    padding: 0;
    width: 100%;
    min-width: 50px;
    max-width: 125px;
    text-align: center;
}

.field-spinner .v-field__input input[type="number"] {
    text-align: center;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
.field-spinner input::-webkit-outer-spin-button,
.field-spinner input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.field-spinner input[type="number"] {
    -moz-appearance: textfield;
}
</style>
