<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import DeleteUserForm from "@/Pages/Profile/Partials/DeleteUserForm.vue";
import LogoutOtherBrowserSessionsForm from "@/Pages/Profile/Partials/LogoutOtherBrowserSessionsForm.vue";
import SectionBorder from "@/Components/SectionBorder.vue";
import TwoFactorAuthenticationForm from "@/Pages/Profile/Partials/TwoFactorAuthenticationForm.vue";
import UpdatePasswordForm from "@/Pages/Profile/Partials/UpdatePasswordForm.vue";
import UpdateProfileInformationForm from "@/Pages/Profile/Partials/UpdateProfileInformationForm.vue";
import PageHeader from "../../Components/PageHeader.vue";
import { Head } from "@inertiajs/vue3";
import Notifications from "@/Pages/Profile/Partials/Notifications.vue";


defineOptions({ layout: AdminLayout });

defineProps({
    confirmsTwoFactorAuthentication: Boolean,
    sessions: Array,
});
</script>

<template>
    <Head title="Profile"></Head>
    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-text-gray-800 tw-leading-tight"
        >
            {{ $vuetify.locale.t("profile.title") }}
        </h2>
    </page-header>

    <div>
        <div class="tw-max-w-7xl tw-mx-auto tw-py-10 sm:tw-px-6 lg:tw-px-8">
            <div v-if="$page.props.jetstream.canUpdateProfileInformation">
                <UpdateProfileInformationForm :user="$page.props.auth.user" />

                <SectionBorder />
            </div>


            <Notifications
                class="tw-mt-10 sm:tw-mt-0"
            />
            <SectionBorder />

            <div v-if="$page.props.jetstream.canUpdatePassword">
                <UpdatePasswordForm class="tw-mt-10 sm:tw-mt-0" />

                <SectionBorder />
            </div>

            <div v-if="$page.props.jetstream.canManageTwoFactorAuthentication">
                <TwoFactorAuthenticationForm
                    :requires-confirmation="confirmsTwoFactorAuthentication"
                    class="tw-mt-10 sm:tw-mt-0"
                />

                <SectionBorder />
            </div>

            <LogoutOtherBrowserSessionsForm
                :sessions="sessions"
                class="tw-mt-10 sm:tw-mt-0"
            />

            <template v-if="$page.props.jetstream.hasAccountDeletionFeatures">
                <SectionBorder />

                <DeleteUserForm class="tw-mt-10 sm:tw-mt-0" />
            </template>
        </div>
    </div>
</template>
