<script setup>
import PublicLayout from "@/Layouts/PublicLayout.vue";
import PageHeader from "@/Components/PageHeader.vue";
import teamView from "./partials/team.vue"
import { VDataTable } from "vuetify/labs/VDataTable";
import {Head, router} from "@inertiajs/vue3";
import {onMounted, ref} from "vue";
import {useLocale} from "vuetify";
import TableMenu from "../../../Components/table/TableMenu.vue";
import TableMenuItem from "../../../Components/table/TableMenuItem.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";
const { t } = useLocale();

defineProps({ teams: Array });

const sortBy = ref([{ key: "id", order: "asc" }]);

const headers = [
    { title: "", align: "center", key: "website_url"},
    { title: t("teams.number"), align: "start", key: "id" },
    { title: t("teams.name"), align: "start", key: "name" },
    { title: "", align: "end", key: "seeTeam", sortable: false},
];

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

const itemsPerPage = ref(50);

onMounted(() => {
    Echo.channel("NewRefereeResult")
        .listen("NewRefereeResult", (e) => {
            console.log("Refreshing Data");
            router.reload();
        });
})

defineOptions({ layout: PublicLayout });
</script>

<template>
    <Head :title="$vuetify.locale.t('teams.listOfTeams')"></Head>

    <div class="tw-py-8">
        <div style="max-width: 90%;" class="tw-mx-auto sm:tw-px-6 lg:tw-px-8">

            <h2
                style="padding: 10px; background-color: #37bd97"
                class="tw-text-center tw-text-white tw-overflow-hidden tw-shadow sm:tw-rounded-lg"
            >
                {{ $vuetify.locale.t("teams.titleTeamList") }}
            </h2>

            <div
                class="tw-mt-5 tw-bg-white dark:tw-bg-gray-900 tw-overflow-hidden tw-shadow sm:tw-rounded-lg"
            >
                <v-data-table
                    :theme="preferences.state.darkMode ? 'dark' : 'light'"
                    v-model:items-per-page="itemsPerPage"
                    v-model:sort-by="sortBy"
                    :headers="headers"
                    :items="teams"
                    item-value="id"
                    class="elevation-1"
                    hide-default-footer
                    hover
                >

                    <template v-slot:item.website_url="{ item }">
                        <v-img
                            :src="item.raw.website_url"

                        ></v-img>
                    </template>

                    <template v-slot:item.seeTeam="{ item }">
                        <v-btn
                            color="blue"
                            :href="route('public.team.show', {id: item.raw.id})"
                        >
                            {{ $vuetify.locale.t("teams.public.teamInfo") }}
                        </v-btn>
                    </template>


                    <template v-slot:bottom> </template>
                </v-data-table>
            </div>



        </div>
    </div>
</template>
