<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import PageHeader from "../../../Components/PageHeader.vue";
import { usePage, useForm, Head } from "@inertiajs/vue3";
import { computed, ref, watch } from "vue";

import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

defineOptions({ layout: AdminLayout });

const page = usePage();
const teamList = computed(() => page.props.teams).value;
const userRoles = computed(() => page.props.userRoles).value;
const dialog = ref(false);
const snackbar = ref(false);

const props = defineProps({
    user: Object,
    roles: Object
});

const form = useForm({

    id: page.props.user.id,
    name: page.props.user.name,
    email: page.props.user.email,
    current_team_id: page.props.user.current_team_id,
    locale: props.user.locale,
    roles: userRoles,
    password: null,
    passwordConfirm: null

});

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

const createUser = () => {
    if (page.props.user.id === undefined) {
        form.post(route("users.store"), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
            },
            onError: () => {
            }
        });
    } else {
        console.log("Update");
        form.put(route("users.update", { "uuid": props.user.id }), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
            },
            onError: () => {
            }
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
    if (props.tournaments.length === 1) {
        form.tournament = props.tournaments[0].uuid;
    }
    if (id !== undefined) {
        form.id = id;
    }
}

watch(dialog, (newValue) => {
    resetForm();
});

</script>

<template>
    <Head :title="$vuetify.locale.t('users.title')"></Head>

    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-leading-tight"
        >
            <div>
                <div style="display: inline-block">
                    {{ $vuetify.locale.t("users.title") }}
                </div>
            </div>
        </h2>
    </page-header>

    <div>
        <div class="tw-max-w-7xl tw-mx-auto tw-py-10 sm:tw-px-6 lg:tw-px-8">
            <div>
                <form @submit.prevent="createUser">
                    <v-row>

                        <!--                        <v-col cols="6">-->
                        <!--                            &lt;!&ndash; Picture &ndash;&gt;-->
                        <!--                            <v-card class="pa-2 ma-2">-->

                        <!--                                <v-card-item>-->
                        <!--                                    <v-card-title>{{-->
                        <!--                                        $vuetify.locale.t(-->
                        <!--                                            "user.profilePicture"-->
                        <!--                                        )-->
                        <!--                                    }}</v-card-title>-->
                        <!--                                </v-card-item>-->

                        <!--                                <v-card-text>-->
                        <!--                                    <v-skeleton-loader-->
                        <!--                                        color="secondary"-->
                        <!--                                        boilerplate-->
                        <!--                                        type="image"-->
                        <!--                                    ></v-skeleton-loader>-->
                        <!--                                </v-card-text>-->
                        <!--                                <v-card-actions>-->
                        <!--                                    <v-spacer></v-spacer>-->
                        <!--                                    <v-btn-->
                        <!--                                        :loading="form.processing"-->
                        <!--                                        color="blue-darken-1"-->
                        <!--                                        type="submit"-->
                        <!--                                    >-->
                        <!--                                        {{ $vuetify.locale.t("general.save") }}-->
                        <!--                                    </v-btn>-->
                        <!--                                </v-card-actions>-->
                        <!--                            </v-card>-->
                        <!--                        </v-col>-->

                        <v-col cols="6">
                            <!-- Basic Information -->
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                            $vuetify.locale.t("users.basicInfo")
                                        }}
                                    </v-card-title>
                                </v-card-item>

                                <v-card-text>
                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t('users.name')
                                        "
                                        id="name"
                                        :error-messages="form.errors.name"
                                        :disabled="form.processing"
                                        v-model="form.name"
                                    ></v-text-field>

                                    <v-text-field
                                        :label="
                                            $vuetify.locale.t('users.email')
                                        "
                                        type="text"
                                        id="email"
                                        :error-messages="form.errors.email"
                                        :disabled="form.processing"
                                        v-model="form.email"
                                    ></v-text-field>

                                    <v-text-field
                                        :label="
                                            $vuetify.locale.t('users.locale')
                                        "
                                        type="locale"
                                        id="text"
                                        :error-messages="form.errors.locale"
                                        :disabled="form.processing"
                                        v-model="form.locale"
                                    ></v-text-field>

                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>

                        <!--                    </v-row>-->
                        <!--                    <v-row>-->

                        <v-col cols="6">
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                            $vuetify.locale.t("users.roles")
                                        }}
                                    </v-card-title>
                                </v-card-item>

                                <v-card-text>

                                    <v-select
                                        label="Roles"
                                        :items="roles"
                                        item-value="name"
                                        item-title="title"
                                        :error-messages="form.errors.roles"
                                        :disabled="form.processing"
                                        v-model="form.roles"
                                        multiple
                                        chips
                                    ></v-select>

                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>

                        <v-col cols="6">
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>
                                        {{ $vuetify.locale.t("users.assignedTeams") }}
                                    </v-card-title>
                                </v-card-item>
                                <v-card-text>
                                    <v-autocomplete
                                        class="ma-0"
                                        :items="teamList"
                                        :label="
                                                    $vuetify.locale.t(
                                                        'users.current_team_id'
                                                    )
                                                "
                                        item-value="uuid"
                                        item-title="id_name"
                                        id="current_team_id"
                                        :error-messages="
                                                    form.errors.current_team_id
                                                "
                                        :disabled="true"
                                        v-model="form.current_team_id"

                                    ></v-autocomplete>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>

                            </v-card>
                        </v-col>
                        <v-col cols="6">
                            <v-card class="pa-2 ma-2" :theme="preferences.state.darkMode? 'dark' : 'light'">
                                <v-card-item>
                                    <v-card-title>{{
                                            $vuetify.locale.t("users.passwordReset")
                                        }}
                                    </v-card-title>
                                </v-card-item>

                                <v-card-text>

                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t('users.password')
                                        "
                                        id="name"
                                        :error-messages="form.errors.password"
                                        :disabled="form.processing"
                                        v-model="form.password"
                                        type="password"
                                    ></v-text-field>

                                    <v-text-field
                                        class="ma-0"
                                        :label="
                                            $vuetify.locale.t('users.passwordConfirm')
                                        "
                                        id="name"
                                        :error-messages="form.errors.passwordConfirm"
                                        :disabled="form.processing"
                                        v-model="form.passwordConfirm"
                                        type="password"
                                    ></v-text-field>

                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                        :loading="form.processing"
                                        color="blue-darken-1"
                                        type="submit"
                                    >
                                        {{ $vuetify.locale.t("general.save") }}
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-col>

                    </v-row>

                </form>
            </div>
        </div>
    </div>
</template>

<script></script>
