<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { VDataTable } from "vuetify/labs/VDataTable";
import { Head, router } from "@inertiajs/vue3";
import { computed, ref } from "vue";
import { useDisplay, useLocale } from "vuetify";
import TableMenuItem from "../../../Components/table/TableMenuItem.vue";
import TableMenu from "../../../Components/table/TableMenu.vue";
import UserModal from "./Partials/UserModal.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

const { t } = useLocale();

defineOptions({ layout: AdminLayout });
const props = defineProps({
    roles: Object,
    users: Object,
});

const uuidToRoundLookup = computed(() => {
    const data = [];
    props.rounds.forEach((round) => {
        data[round.uuid] = round;
    });
    return data;
});

function getRoundByUuid(uuid) {
    return uuidToRoundLookup.value[uuid];
}

const tableHeight = computed(() => {
    let h = 0;

    if (useDisplay().smAndDown.value) {
        h = 350;
    } else {
        h = 250;
    }

    return `calc(100vh - ${h}px)`;
});

const itemsPerPage = ref(25);

const search = ref("");

const sortBy = ref([{ key: "priority", order: "asc" }]);

const headers = [
    { title: t("users.name"), align: "start", key: "name" },
    { title: t("users.email"), align: "start", key: "email" },
    { title: t("users.roles"), align: "start", key: "roles" },
    // { title: t("users.teamsAssigned"), align: "start", key: "teams" },
    {
        title: "",
        align: "end",
        key: "actions",
        sortable: false,
    },
];

const roundsLoading = ref([]);

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

function startLoading(uuid) {
    roundsLoading.value.push(uuid);
}

function endLoading(uuid) {
    const index = roundsLoading.value.indexOf(uuid);
    if (index !== -1) {
        roundsLoading.value.splice(index, 1);
    }
}

function handleDelete(uuid) {
    router.visit(route("users.destroy", { uuid: uuid }), {
        method: "DELETE",
        preserveScroll: true,
        preserveState: true,
        onStart: () => {
            startLoading(uuid);
        },
        onFinish: () => {
            endLoading(uuid);
        },
    });
}
</script>

<style></style>

<template>
    <Head :title="$vuetify.locale.t('users.title')"></Head>

    <div class="tw-py-4 md:tw-px-4 tw-px-2">
        <div
            class="tw-bg-white tw-overflow-hidden tw-shadow tw-rounded tw-border tw-border-solid tw-border-gray-300"
        >
            <v-data-table
                :theme="preferences.state.darkMode ? 'dark' : 'light'"
                v-model:items-per-page="itemsPerPage"
                v-model:sort-by="sortBy"
                :headers="headers"
                :items="users"
                class="elevation-1"
                :height="tableHeight"
                hover
                show-current-page
                density="comfortable"
                :search="search"
            >
                <template v-slot:top>
                    <v-toolbar
                        density="compact"
                        class="tw-border-solid tw-border-b"
                    >
                        <v-toolbar-title>{{
                            $vuetify.locale.t("users.title")
                        }}</v-toolbar-title>

                        <v-text-field
                            v-model="search"
                            :placeholder="$vuetify.locale.t('general.search')"
                            :density="null"
                            variant="underlined"
                            class="tw-max-w-sm tw-mr-4"
                            clearable
                            hide-details
                            single-line
                        ></v-text-field>

                        <UserModal
                            :btnName="$vuetify.locale.t('general.add')"
                            :btnSubmitText="$vuetify.locale.t('general.save')"
                            :title="$vuetify.locale.t('users.titleModalAdd')"
                            :roles="roles"
                        />
                    </v-toolbar>
                </template>

                <template v-slot:item.roles="{ item }">
                    <!--                    TODO: This needs to be actually implemented (@jamie) -->
                    <v-chip
                        class="ma-2"
                        color="green"
                        text-color="white"
                        v-for="role in item.raw.roles"
                    >
                        {{ role.title }}
                    </v-chip>
                </template>

                <template v-slot:item.teams="{ item }">
                    <!-- TODO: This needs to be actually implemented (@jamie) -->
                    <v-chip class="ma-2" color="blue" text-color="white">
                        1000 Het vergeten blokje
                    </v-chip>
                </template>

                <template v-slot:item.actions="{ item }">
                    <table-menu
                        :loading="roundsLoading.includes(item.raw.uuid)"
                    >
                        <table-menu-item
                            :href="route('users.show', { uuid: item.value })"
                            :text="$vuetify.locale.t('general.show')"
                            icon="mdi-eye"
                        ></table-menu-item>

                        <table-menu-item
                            :href="route('users.show', { uuid: item.value })"
                            :text="$vuetify.locale.t('general.edit')"
                            icon="mdi-pencil"
                        ></table-menu-item>

                        <table-menu-item
                            :text="$vuetify.locale.t('general.delete')"
                            icon="mdi-delete"
                            @click="handleDelete(item.raw.uuid)"
                        ></table-menu-item>
                    </table-menu>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
