<script setup>
import ApiTokenManager from "@/Pages/API/Partials/ApiTokenManager.vue";
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { Head } from "@inertiajs/vue3";
import PageHeader from "../../Components/PageHeader.vue";

defineOptions({ layout: AdminLayout });

defineProps({
    tokens: Array,
    availablePermissions: Array,
    defaultPermissions: Array,
});
</script>

<template>
    <Head title="API Tokens"></Head>
    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-text-gray-800 tw-leading-tight"
        >
            API Tokens
        </h2>
    </page-header>

    <div>
        <div class="tw-max-w-7xl tw-mx-auto tw-py-10 sm:tw-px-6 lg:tw-px-8">
            <ApiTokenManager
                :tokens="tokens"
                :available-permissions="availablePermissions"
                :default-permissions="defaultPermissions"
            />
        </div>
    </div>
</template>
