<script setup>
import { defineProps, ref } from "vue";
import { Link } from "@inertiajs/vue3";

const props = defineProps({
    icon: String,
    href: String,
    text: String,
    method: {
        type: String,
        default: "GET",
    },
});
</script>

<template>
    <Link :href="href" :method="method" v-if="href">
        <v-btn
            :prepend-icon="icon"
            variant="plain"
            rounded="0"
            block
            class="text-none justify-space-between"
        >
            {{ text }}
        </v-btn>
    </Link>
    <v-btn
        :prepend-icon="icon"
        variant="plain"
        rounded="0"
        block
        class="text-none justify-space-between"
        v-else
    >
        {{ text }}
    </v-btn>
</template>

<style scoped></style>
