<script setup>
import { defineProps } from "vue";
const props = defineProps({
    loading: {
        type: Boolean,
        default: false,
    },
});
</script>

<template>
    <v-menu open-on-click open-on-hover open-on-focus="" location="center">
        <template v-slot:activator="{ props }">
            <v-btn
                color="primary"
                variant="tonal"
                v-bind="props"
                density="comfortable"
                icon
                :loading="loading"
            >
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </v-btn>
        </template>

        <v-list density="compact">
            <slot></slot>
        </v-list>
    </v-menu>
</template>
