<script setup>
import { ref, watch } from "vue";
import { useForm } from "@inertiajs/vue3";
import TableMenuItem from "@/Components/table/TableMenuItem.vue";

const props = defineProps({
    title: String,
    table: Object,
    btnIcon: String,
    btnName: String,
    btnSubmitText: String,
});

const dialog = ref(false);
const snackbar = ref(false);

const form = useForm({
    t1_number: null,
    t1_color: "",
    t1_color_code: "",

    t2_number: null,
    t2_color: "",
    t2_color_code: "",
});

const updateTable = () => {

    if(props.table === undefined){
        form.post(route("tables.store"), {
            preserveScroll: true,
            onSuccess: () => {
                resetForm();
                snackbar.value = true;
            },
            onError: () => {},
        });
    } else {
        form.put(route("tables.update", {uuid: props.table.uuid}), {
            preserveScroll: true,
            onSuccess: () => {
                snackbar.value = true;
                dialog.value = false;
            },
            onError: () => {
            },
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
}

watch(dialog, (newValue) => {
    if (newValue && props.table !== undefined) {
        resetForm();
        form.number = props.table.number;
        form.color = props.table.color;
        form.color_code = props.table.color_code;
    }
});
</script>

<template>
    <v-snackbar v-if="round===undefined" v-model="snackbar" timeout="3000" color="success">
        {{ $vuetify.locale.t("rounds.creationSuccess") }}
        <template v-slot:actions>

            <v-btn color="white" variant="text" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog persistent transition="dialog-top-transition" v-model="dialog" width="1024">
        <template v-slot:activator="{ props }">
            <table-menu-item
                v-if="table!==undefined"
                v-bind="props"
                :text="btnName"
                :icon="btnIcon"
            ></table-menu-item>

            <v-btn
                v-if="table===undefined"
                color="primary"
                variant="elevated"
                v-bind="props"
                prepend-icon="mdi-plus"
            >
                {{ btnName }}
            </v-btn>

        </template>
        <v-card>
            <form @submit.prevent="updateTable">
                <v-card-title class="pt-4">
                    <span class="text-h5">{{
                        title
                    }}</span>
                </v-card-title>
                <v-card-subtitle>
                    Table 1
                </v-card-subtitle>
                <v-card-text>

                    <v-row>

                        <v-col cols="6">
                            <v-text-field
                                :label="$vuetify.locale.t('tables.number')"
                                v-model="form.t1_number"
                                type="number"
                                :disabled="form.processing"
                                :error-messages="form.errors.t1_number"
                                id="t1_number"
                            ></v-text-field>

                            <v-text-field
                                :label="$vuetify.locale.t('tables.color')"
                                color="blue"
                                id="color"
                                :disabled="form.processing"
                                :error-messages="form.errors.t1_color"
                                v-model="form.t1_color"
                            ></v-text-field>

                        </v-col>

                        <v-col cols="12" sm="6" md="6">

                            <v-color-picker hide-inputs width="100%"
                                            v-model="form.t1_color_code" id="color_code"/>

                        </v-col>

                    </v-row>

                    <v-card-subtitle>
                        Table 2
                    </v-card-subtitle>
                    <v-row>

                        <v-col cols="6">
                            <v-text-field
                                :label="$vuetify.locale.t('tables.number')"
                                v-model="form.t2_number"
                                type="number"
                                :disabled="form.processing"
                                :error-messages="form.errors.t2_number"
                                id="t2_number"
                            ></v-text-field>

                            <v-text-field
                                :label="$vuetify.locale.t('tables.color')"
                                color="blue"
                                id="color"
                                :disabled="form.processing"
                                :error-messages="form.errors.t2_color"
                                v-model="form.t2_color"
                            ></v-text-field>

                        </v-col>

                        <v-col cols="12" sm="6" md="6">

                            <v-color-picker hide-inputs width="100%"
                                            v-model="form.t2_color_code" id="color_code"/>

                        </v-col>

                    </v-row>

                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        variant="text"
                        @click="dialog = false"
                    >
                        {{ $vuetify.locale.t("general.close") }}
                    </v-btn>
                    <v-btn
                        :loading="form.processing"
                        color="blue-darken-1"
                        type="submit"
                    >
                        {{ btnSubmitText }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>
