<script setup>
import { Head, router } from "@inertiajs/vue3";
import Banner from "@/Components/Banner.vue";
import AdminMainMenu from "@/Layouts/sidebars/NewAdminMain.vue";
import { computed, ref } from "vue";
import { useDisplay } from "vuetify";
import FirstLegoLeagueLogoHeader from "@/Components/FirstLegoLeagueLogoHeader.vue";
import FlashSnackbar from "@/Components/FlashSnackbar.vue";
import LanguageSwitcher from "@/Components/LanguageSwitcher.vue";
import ProfileDropdown from "./Partials/ProfileDropdown.vue";
import AppProcessor from "./AppProcessor.vue";
import { usePreferencesStore } from "../stores/preferencesStore";
import { createPinia } from "pinia";
import DarkModeSwitcher from "../Components/DarkModeSwitcher.vue";

defineProps({
    title: String,
});

const drawerOpen = ref(false);
const temporaryDrawer = computed(() => {
    return useDisplay().smAndDown.value;
});

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

const navigating = ref(false);

// TODO Maybe do this using the links by using a different component
router.on("start", (event) => {
    if (
        event.detail.visit.method === "get" &&
        event.detail.visit.url.pathname !== window.location.pathname
    ) {
        navigating.value = true;
    }
});

router.on("finish", (event) => {
    navigating.value = false;
});
</script>

<template>
    <div :class="{'tw-dark': preferences.state.darkMode}">
        <!-- TODO This does not work! --->
        <Banner></Banner>
        <flash-snackbar></flash-snackbar>
        <app-processor></app-processor>

        <Head :title="title" />

        <v-sheet class="tw-min-h-screen tw-bg-gray-100">
            <v-layout class="tw-min-h-screen">
                <AdminMainMenu
                    :drawer-open="drawerOpen"
                    @update:drawerOpen="(e) => (drawerOpen = e)"
                />

                <v-app-bar color="blue-darken-4" density="comfortable">
                    <v-app-bar-nav-icon
                        v-if="temporaryDrawer"
                        density="comfortable"
                        @click="drawerOpen = true"
                    ></v-app-bar-nav-icon>

                    <!-- <v-img
                        src="/img/fll_horz_i.png"
                        class="tw-ml-3 tw-mr-auto flex-shrink-1"
                        max-height="100"
                        max-width="150"
                        contain
                    ></v-img> -->
                    <div class="tw-ml-3 tw-mr-auto flex-shrink-1 tw-h-4/5">
                        <FirstLegoLeagueLogoHeader />
                    </div>

                    <profile-dropdown> </profile-dropdown>
                </v-app-bar>

                <v-main class="tw-min-h-screen" v-if="navigating">
                    <!-- Page Content -->
                    <v-sheet
                        class="d-flex align-center justify-center flex-wrap text-center mx-auto px-4 bg-transparent dark:tw-bg-zinc-950 tw-h-full"
                        width="100%"
                    >
                        <div
                            class="d-flex justify-center align-center tw-h-full tw-w-full"
                        >
                            <v-progress-circular
                                class=""
                                size="50"
                                color="primary"
                                indeterminate
                            ></v-progress-circular>
                        </div>
                    </v-sheet>
                </v-main>
                <v-main class="tw-min-h-screen dark:tw-bg-zinc-950" v-else>
                    <main>
                        <slot />
                    </main>
                </v-main>
            </v-layout>
        </v-sheet>
    </div>
</template>
