<script setup>
import { Head } from "@inertiajs/vue3";
import AppProcessor from "./AppProcessor.vue";

const props = defineProps(["title"]);
</script>

<template>
    <Head :title="title"> </Head>

    <Banner />
    <app-processor></app-processor>

    <div class="tw-min-h-screen tw-bg-blue-100">
        <!-- Primary Navigation Menu -->
        <v-card class="tw-min-h-screen tw-bg-blue-100">
            <v-layout>
                <v-main>
                    <!-- Page Content -->
                    <main>
                        <slot />
                    </main>
                </v-main>
            </v-layout>
        </v-card>
    </div>
</template>
