<script setup>
import { nextTick, ref, watch } from "vue";
import { useForm } from "@inertiajs/vue3";
import TableMenuItem from "@/Components/table/TableMenuItem.vue";

const props = defineProps({
    title: String,
    round: Object,
    btnIcon: String,
    btnName: String,
    btnSubmitText: String,
    tournaments: Object,
    roles: Object,
});

const dialog = ref(false);
const snackbar = ref(false);

const form = useForm({
    name: null,
    email: null,
    roles: null,
    assignedTeams: null,
    locale: null,
    password: null,
});

const createUser = () => {
    if (props.round === undefined) {
        form.post(route("users.store"), {
            preserveScroll: true,
            onSuccess: () => {
                resetForm();
                snackbar.value = true;
                nextTick(() => {
                    document.getElementById("name").focus();
                });
            },
            onError: () => {},
        });
    }
};

function resetForm(id = undefined) {
    form.reset();
    form.clearErrors();
    form.roles = null;
    form.password = null;
}

watch(dialog, (newValue) => {
    if (newValue && props.round !== undefined) {
        resetForm();
    }
});
</script>

<template>
    <v-snackbar
        v-if="round === undefined"
        v-model="snackbar"
        timeout="3000"
        color="success"
    >
        {{ $vuetify.locale.t("users.creationSuccess") }}
        <template v-slot:actions>
            <v-btn color="white" variant="text" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog transition="dialog-top-transition" v-model="dialog" width="1024">
        <template v-slot:activator="{ props }">
            <table-menu-item
                v-if="round !== undefined"
                v-bind="props"
                :text="btnName"
                :icon="btnIcon"
            ></table-menu-item>

            <v-btn
                v-if="round === undefined"
                color="primary"
                variant="elevated"
                v-bind="props"
                prepend-icon="mdi-plus"
            >
                {{ btnName }}
            </v-btn>
        </template>
        <v-card>
            <form @submit.prevent="createUser">
                <v-card-title class="pt-4">
                    <span class="text-h5">{{ title }}</span>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field
                                :label="$vuetify.locale.t('users.name')"
                                v-model="form.name"
                                :disabled="form.processing"
                                :error-messages="form.errors.name"
                                id="name"
                            ></v-text-field>

                            <v-text-field
                                :label="$vuetify.locale.t('users.email')"
                                v-model="form.email"
                                type="email"
                                :disabled="form.processing"
                                :error-messages="form.errors.email"
                                id="email"
                            ></v-text-field>

                            <v-text-field
                                :label="$vuetify.locale.t('users.password')"
                                v-model="form.password"
                                type="password"
                                :disabled="form.processing"
                                :error-messages="form.errors.password"
                                id="password"
                            ></v-text-field>

                            <v-select
                                label="Roles"
                                :items="roles"
                                item-value="name"
                                item-title="title"
                                :error-messages="form.errors.roles"
                                :disabled="form.processing"
                                v-model="form.roles"
                                multiple
                                chips
                            ></v-select>

                        </v-col>


                    </v-row>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="blue-darken-1"
                        variant="text"
                        @click="dialog = false"
                    >
                        {{ $vuetify.locale.t("general.close") }}
                    </v-btn>
                    <v-btn
                        :loading="form.processing"
                        color="blue-darken-1"
                        type="submit"
                    >
                        {{ btnSubmitText }}
                    </v-btn>
                </v-card-actions>
            </form>
        </v-card>
    </v-dialog>
</template>
