<script setup>
import { Head, useForm } from "@inertiajs/vue3";
import AuthenticationCardLogo from "@/Components/AuthenticationCardLogo.vue";

defineProps({
    status: String,
});

const form = useForm({
    email: "",
});

const submit = () => {
    form.post(route("password.email"));
};
</script>

<template>
    <Head title="Forgot Password" />

    <v-sheet
        class="d-flex flex-column justify-center align-center h-screen w-screen tw-bg-gray-100"
    >
        <AuthenticationCardLogo />
        <v-card width="450">
            <template v-slot:text>
                <v-alert
                    v-for="item in form.errors"
                    icon="$error"
                    :text="item"
                    :key="item"
                    border="bottom"
                    border-color="error"
                    elevation="2"
                    density="compact"
                    class="mb-4"
                >
                </v-alert>

                <div class="tw-mb-4 tw-text-sm tw-text-gray-600">
                    Forgot your password? No problem. Just let us know your
                    email address and we will email you a password reset link
                    that will allow you to choose a new one.
                </div>
                <form @submit.prevent="submit" :disabled="form.processing">
                    <v-text-field
                        v-model="form.email"
                        label="Email"
                        color="primary"
                        autofocus
                        autocomplete="username"
                    ></v-text-field>
                    <v-btn
                        type="submit"
                        class="mt-2 d-flex ml-auto"
                        :loading="form.processing"
                        color="primary"
                        >Email Password Reset Link</v-btn
                    >
                </form>
            </template>
        </v-card>
    </v-sheet>
</template>
