<script setup>
import { Head, Link, useForm } from "@inertiajs/vue3";
import AuthenticationCardLogo from "@/Components/AuthenticationCardLogo.vue";

const form = useForm({
    name: "",
    email: "",
    password: "",
    password_confirmation: "",
    terms: false,
});

const submit = () => {
    form.post(route("register"), {
        onFinish: () => form.reset("password", "password_confirmation"),
    });
};
</script>

<template>
    <Head title="Register" />

    <v-sheet
        class="d-flex flex-column justify-center align-center h-screen w-screen tw-bg-gray-100"
    >
        <AuthenticationCardLogo />
        <v-card width="400">
            <template v-slot:text>
                <v-alert
                    v-for="item in form.errors"
                    icon="$error"
                    :text="item"
                    :key="item"
                    border="bottom"
                    border-color="error"
                    elevation="2"
                    density="compact"
                    class="mb-4"
                >
                </v-alert>
                <form @submit.prevent="submit" :disabled="form.processing">
                    <v-text-field
                        v-model="form.name"
                        label="Name"
                        color="primary"
                        autofocus
                        autocomplete="name"
                    />
                    <v-text-field
                        v-model="form.email"
                        label="Email"
                        color="primary"
                        autocomplete="username"
                    />
                    <v-text-field
                        v-model="form.password"
                        label="Password"
                        type="password"
                        color="primary"
                        autocomplete="new-password"
                    />
                    <v-text-field
                        v-model="form.password_confirmation"
                        label="Confirm Password"
                        type="password"
                        color="primary"
                        autocomplete="new-password"
                    />

                    <div class="tw-flex tw-items-center tw-justify-end tw-mt-4">
                        <Link
                            :href="route('login')"
                            class="tw-underline tw-text-sm tw-text-gray-600 hover:tw-text-gray-900 tw-rounded-md focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-offset-2 focus:tw-ring-indigo-500"
                        >
                            Already registered?
                        </Link>
                        <v-btn
                            type="submit"
                            class="mt-2 d-flex ml-auto"
                            :loading="form.processing"
                            color="primary"
                            >Register</v-btn
                        >
                    </div>
                </form>
            </template>
        </v-card>
    </v-sheet>
</template>
