<script setup>
import { nextTick, ref } from "vue";
import { Head, useForm } from "@inertiajs/vue3";
import AuthenticationCardLogo from "@/Components/AuthenticationCardLogo.vue";

const recovery = ref(false);

const form = useForm({
    code: "",
    recovery_code: "",
});

const recoveryCodeInput = ref(null);
const codeInput = ref(null);

const toggleRecovery = async () => {
    // eslint-disable-next-line no-bitwise
    recovery.value ^= true;

    await nextTick();

    if (recovery.value) {
        recoveryCodeInput.value.focus();
        form.code = "";
    } else {
        codeInput.value.focus();
        form.recovery_code = "";
    }
};

const submit = () => {
    form.post(route("two-factor.login"));
};
</script>

<template>
    <Head title="Two-factor Confirmation" />

    <v-sheet
        class="d-flex flex-column justify-center align-center h-screen w-screen tw-bg-gray-100"
    >
        <AuthenticationCardLogo />
        <v-card width="450">
            <template v-slot:text>
                <v-alert
                    v-for="item in form.errors"
                    icon="$error"
                    :text="item"
                    :key="item"
                    border="bottom"
                    border-color="error"
                    elevation="2"
                    density="compact"
                    class="mb-4"
                >
                </v-alert>

                <template v-if="!recovery">
                    Please confirm access to your account by entering the
                    authentication code provided by your authenticator
                    application.
                </template>

                <template v-else>
                    Please confirm access to your account by entering one of
                    your emergency recovery codes.
                </template>

                <div style="margin-top: 10px" />

                <form @submit.prevent="submit" :disabled="form.processing">
                    <div v-if="!recovery">
                        <v-text-field
                            v-model="form.code"
                            label="code"
                            color="primary"
                            autofocus
                        />
                    </div>

                    <div v-else>
                        <v-text-field
                            v-model="form.recovery_code"
                            label="Recovery Code"
                            color="primary"
                            autofocus
                        />
                    </div>

                    <div class="tw-flex tw-items-center tw-justify-end tw-mt-4">
                        <button
                            type="button"
                            class="tw-text-sm tw-text-gray-600 hover:tw-text-gray-900 tw-underline tw-cursor-pointer"
                            @click.prevent="toggleRecovery"
                        >
                            <template v-if="!recovery">
                                Use a recovery code
                            </template>

                            <template v-else>
                                Use an authentication code
                            </template>
                        </button>

                        <v-btn
                            type="submit"
                            class="mt-2 d-flex ml-auto"
                            :loading="form.processing"
                            color="primary"
                            >Login</v-btn
                        >
                    </div>
                </form>
            </template>
        </v-card>
    </v-sheet>
</template>
