<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { Head } from "@inertiajs/vue3";
import PageHeader from "../../../Components/PageHeader.vue";
import ScheduleModal from "./partials/ScheduleModal.vue";
import resourceTimeGridPlugin from "@fullcalendar/resource-timegrid";
import resourceTimelinePlugin from "@fullcalendar/resource-timeline";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";

defineOptions({ layout: AdminLayout });

const props = defineProps({
    tables: Array,
    schedule: Array
});

</script>

<template>
    <Head :title="$vuetify.locale.t('schedule.title')"></Head>
    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-leading-tight"
        >
            {{ $vuetify.locale.t("schedule.title") }}
        </h2>
    </page-header>

    <div class="tw-py-12">
        <div class="tw-max-w-7xl tw-mx-auto sm:tw-px-6 lg:tw-px-8">
            <div
                class="tw-bg-white tw-overflow-hidden tw-shadow sm:tw-rounded-lg"
            >

                <div class="relative max-w-full overflow-auto max-h-[500px] border rounded-lg">
                    <table class="w-full border-collapse">
                        <thead class="sticky top-0 bg-gray-200 shadow-md z-20">
                        <tr>
                            <th class="border border-gray-300 p-2 sticky left-0 bg-gray-200 z-30">
                                Time
                            </th>
                            <th v-for="table in tables" :key="table" class="border border-gray-300 p-2 bg-gray-200">
                                Table {{ table }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="row in schedule" :key="row.time" class="hover:bg-gray-100">
                            <td class="border border-gray-300 p-2 sticky left-0 bg-white z-10">
                                {{ row.time }}
                            </td>
                            <td v-for="table in tables" :key="table" class="border border-gray-300 p-2 text-center">
                                {{ row.tables[table] || "-" }}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</template>

<style scoped>
/* Ensuring the first column and headers stay sticky */
th, td {
    white-space: nowrap;
}

thead th {
    position: sticky;
    top: 0;
    background-color: #e5e7eb; /* Ensures header remains visible */
    z-index: 20;
}

tbody td:first-child {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 10;
}

/* Adds a slight shadow to distinguish sticky headers */
thead {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
</style>
