<script setup>
import AdminLayout from "@/Layouts/AdminLayout.vue";
import { Head } from "@inertiajs/vue3";
import PageHeader from "../../../Components/PageHeader.vue";
import ScheduleModal from "./partials/ScheduleModal.vue";
import resourceTimeGridPlugin from "@fullcalendar/resource-timegrid";
import resourceTimelinePlugin from "@fullcalendar/resource-timeline";
import dayGridPlugin from "@fullcalendar/daygrid";
import interactionPlugin from "@fullcalendar/interaction";

defineOptions({ layout: AdminLayout });

const props = defineProps({
    resources: Object,
    events: Object,
    teams: Array,
    rounds: Array,
    juries: Array,
    tables: Array,
});

const calendarOptions = {
    plugins: [resourceTimeGridPlugin, resourceTimelinePlugin, dayGridPlugin, interactionPlugin ],
    schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
    initialView: 'resourceTimeline',
    resources: props.resources,
    events: props.events,
    duration: { days: 1 },
    slotDuration: "00:05:00",
    slotMinTime: "09:00:00",
    slotMaxTime: "18:00:00",
    nowIndicator: true,
    expandRows: false,
    editable: false,
    headerToolbar: {
        left: '',
        right: ''
    },
    eventClick: function (info) {
        alert('Event: ' + info.event.title);
    },
}

</script>

<template>
    <Head :title="$vuetify.locale.t('schedule.title')"></Head>
    <page-header>
        <h2
            class="tw-font-semibold tw-text-xl tw-leading-tight"
        >
            {{ $vuetify.locale.t("schedule.title") }}
        </h2>

        <ScheduleModal
            title="Test"
            btnIcon="mdi-eye"
            btnName="Test"
            btnSubmitText="Submit"
            :schedules=null
            :teams="teams"
            :rounds="rounds"
            :tables="tables"
            :juries="juries"
        >

        </ScheduleModal>
    </page-header>

    <div class="tw-py-12">
        <div class="tw-max-w-7xl tw-mx-auto sm:tw-px-6 lg:tw-px-8">
            <div
                class="tw-bg-white tw-overflow-hidden tw-shadow sm:tw-rounded-lg"
            >
                <FullCalendar :options="calendarOptions" />
            </div>
        </div>
    </div>
</template>

<script>
import FullCalendar from '@fullcalendar/vue3'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
import resourceTimeGridPlugin from '@fullcalendar/resource-timegrid';

export default {
    components: {
        FullCalendar
    },
}
</script>

<style>
.fc {
    @apply dark:tw-bg-zinc-900 dark:tw-text-white tw-bg-white tw-text-gray-800;
}
</style>
