<script setup>
import PublicLayout from "@/Layouts/PublicLayout.vue";
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { Head } from "@inertiajs/vue3";
import { getCurrentInstance } from "vue";
import Scorecard from "./Scorecard.vue"
import ScheduleCard from "./ScheduleCard.vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

defineOptions({ layout: PublicLayout });

const props = defineProps({
    team: Object,
    results: Object,
    schedule: Object,
});

const vue = getCurrentInstance();
const settings = vue.appContext.config.globalProperties.$settings;

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

</script>

<template>
    <Head :title="$vuetify.locale.t('teams.public.title')"></Head>

    <div class="tw-py-8">
        <div style="max-width: 90%" class="tw-mx-auto sm:tw-px-6 lg:tw-px-8">
            <v-row>
                <v-col>
                    <v-card class="mx-auto" min-width="450px" rounded="lg" :theme="preferences.state.darkMode ? 'dark' : 'light'">
                        <v-img
                            v-if="settings.modules('moduleAdvTeams', true)"
                            src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
                            height="450px"
                            cover
                        ></v-img>

                        <v-card-title class="text-h4 mt-5">
                            {{ props.team.id_name }}
                        </v-card-title>

                        <v-card-subtitle class="mb-2">
                            {{ props.team.affiliate }}
                        </v-card-subtitle>

                        <v-card-text
                            v-if="settings.modules('moduleAdvTeams', true)"
                        >
                            <b
                                >{{
                                    $vuetify.locale.t("teams.public.yell")
                                }}
                                |</b
                            >
                            {{ team.yell }}
                            <br />
                            <b
                                >{{
                                    $vuetify.locale.t("teams.public.aboutRobot")
                                }}
                                |</b
                            >
                            {{ team.robot_desc }}
                            <br />
                            <b
                                >{{
                                    $vuetify.locale.t(
                                        "teams.public.aboutResearch"
                                    )
                                }}
                                |</b
                            >
                            {{ team.research_desc }}
                        </v-card-text>

                    </v-card>

                    <v-card :theme="preferences.state.darkMode ? 'dark' : 'light'" class="mx-auto tw-mt-4"
                            min-width="450px" rounded="lg" v-if="!settings.modules('moduleAdvTeams', true)">
                        <v-card-text
                        >
                            <div class="tw-mb-3 text-h6">{{ $vuetify.locale.t("teams.public.matchResults") }}</div>

                            <scorecard
                                :results="props.team.referee_results"
                            />

                        </v-card-text>

                        <v-card-actions
                            v-if="settings.modules('moduleAdvTeams', true)"
                        >
                            <v-btn
                                color="light-blue"
                                variant="text"
                                icon="mdi-twitter"
                            />
                            <v-spacer></v-spacer>
                            <v-btn
                                color="yellow"
                                variant="text"
                                icon="mdi-snapchat"
                            />
                            <v-spacer></v-spacer>
                            <v-btn
                                color="blue"
                                variant="text"
                                icon="mdi-facebook"
                            />
                            <v-spacer></v-spacer>
                            <v-btn
                                color="orange-lighten-2"
                                variant="text"
                                icon="mdi-website"
                            />
                        </v-card-actions>
                    </v-card>
                </v-col>

                <v-col v-if="settings.modules('ModuleSchedule', true)">
                    <v-card class="mx-auto" min-width="450px" rounded="lg" :theme="preferences.state.darkMode ? 'dark' : 'light'">
                        <v-card-title>
                            {{ $vuetify.locale.t("teams.public.dayschedule") }}
                            {{ team.id_name }}
                        </v-card-title>

                        <v-card-subtitle>
                            {{ $vuetify.locale.t("teams.public.whatsThePlan") }}
                        </v-card-subtitle>

                        <v-card-text> </v-card-text>


                        <div
                            v-for="item in props.schedule">

<!--                            <schedule-card-->
<!--                                :schedule_item="item"-->
<!--                                />-->

                        <v-card
                            :theme="preferences.state.darkMode ? 'dark' : 'light'"
                            :color="preferences.state.darkMode ? '#438EF13D' : '#0000FF15'"
                            class="tw-ml-4 tw-mr-4 tw-mb-4 text-black dark:tw-text-white"
                            v-if="item.schedule_item.item_type == 'App\\Models\\Schedule\\Items\\ScheduleJuryItem' && item.team != null"
                        >
                            <div
                                class="d-flex flex-no-wrap justify-space-between"
                            >
                                <div>
                                    <v-card-title class="text-h7 tw-font-bold">
                                        {{$vuetify.locale.t("general.judgeSession")}}
                                    </v-card-title>
                                    <v-card-text>
                                        {{ item.schedule_item.start_time }} - {{ item.schedule_item.end_time }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item.jury.name }}
                                    </v-card-text>
                                </div>
                            </div>
                        </v-card>

                        <v-card
                            :color="preferences.state.darkMode ? '#438EF13D' : '#0000FF15'"
                            class="tw-ml-4 tw-mr-4 tw-mb-4 text-black dark:tw-text-white"
                            :theme="preferences.state.darkMode ? 'dark' : 'light'"
                            v-if="item.schedule_item.item_type == 'App\\Models\\Schedule\\Items\\ScheduleTableItem' && item.team != null"
                        >
                            <div
                                class="d-flex flex-no-wrap justify-space-between"
                            >
                                <div>
                                    <v-card-title class="text-h7 tw-font-bold">
                                        {{$vuetify.locale.t("general.match")}}
                                    </v-card-title>
                                    <v-card-text>
                                        {{ item.schedule_item.start_time }} - {{ item.schedule_item.end_time }}&nbsp;&nbsp;&nbsp;&nbsp;{{$vuetify.locale.t("general.table")}} {{ item.table.color }}
                                    </v-card-text>
                                </div>
                            </div>
                        </v-card>

                        <v-card
                            :color="preferences.state.darkMode ? '#438EF13D' : '#0000FF15'"
                            class="tw-ml-4 tw-mr-4 tw-mb-4 text-black dark:tw-text-white"
                            :theme="preferences.state.darkMode ? 'dark' : 'light'"
                            v-if="item.schedule_item.item_type == 'App\\Models\\Schedule\\Items\\ScheduleInfoItem'"
                        >
                            <div
                                class="d-flex flex-no-wrap justify-space-between"
                            >
                                <div>
                                    <v-card-title class="text-h7 tw-font-bold">
                                        {{ item.text}}
                                    </v-card-title>
                                    <v-card-text>
                                        {{ item.schedule_item.start_time }} - {{ item.schedule_item.end_time }}&nbsp;&nbsp;&nbsp;&nbsp;{{ item.type }}
                                    </v-card-text>
                                </div>
                            </div>
                        </v-card>

                        </div>
<!--                        <v-card-actions>-->
<!--                            <v-btn-->
<!--                                color="green"-->
<!--                                variant="text"-->
<!--                                icon="mdi-bell"-->
<!--                            ></v-btn>-->
<!--                        </v-card-actions>-->
                    </v-card>
                </v-col>

                <v-col v-if="settings.modules('moduleAdvTeams', true)"
                >
                    <v-card class="mx-auto" min-width="450px" rounded="lg" :theme="preferences.state.darkMode ? 'dark' : 'light'">
                        <v-card-title>
                            {{ $vuetify.locale.t("teams.public.matchResults") }}
                        </v-card-title>
                        <v-card-text>
                    <scorecard
                        :results="props.team.referee_results"
                        />
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </div>
    </div>
</template>
