<script setup>
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { Head } from "@inertiajs/vue3";
import { getCurrentInstance } from "vue";

const props = defineProps({
    results: Object,
    schedule_item: Object,

});
</script>

<template>
    <!--                            TODO: Fix this with a better query-->
    <v-card
        color="#0000FF15"
        class="tw-ml-4 tw-mr-4 tw-mb-4 text-black"
        v-if="props.schedule_item.item_type == 'App\\Models\\Schedule\\Items\\ScheduleJuryItem' && item.team != null"
    >
        <div
            class="d-flex flex-no-wrap justify-space-between"
        >
            <div>
                <v-card-title class="text-h7 tw-font-bold">
                    {{$vuetify.locale.t("general.judgeSession")}}
                </v-card-title>
                <v-card-text>
                    {{ schedule_item.schedule_item.start_time }} - {{ schedule_item.schedule_item.end_time }}&nbsp;&nbsp;&nbsp;&nbsp;{{ schedule_item.jury.name }}
                </v-card-text>
            </div>
        </div>
    </v-card>

    <!--                            TODO: Fix this with a better query-->
    <v-card
        color="#0000FF15"
        class="tw-ml-4 tw-mr-4 tw-mb-4 text-black"
        v-if="props.schedule_item.item_type == 'App\\Models\\Schedule\\Items\\ScheduleTableItem' && item.team != null"
    >
        <div
            class="d-flex flex-no-wrap justify-space-between"
        >
            <div>
                <v-card-title class="text-h7 tw-font-bold">
                    {{$vuetify.locale.t("general.match")}}
                </v-card-title>
                <v-card-text>
                    {{ schedule_item.schedule_item.start_time }} - {{ schedule_item.schedule_item.end_time }}&nbsp;&nbsp;&nbsp;&nbsp;{{$vuetify.locale.t("general.table")}} {{ schedule_item.table.color }}
                </v-card-text>
            </div>
        </div>
    </v-card>

    <!--                            FFAEB8-->
    <v-card
        color="#0000FF15"
        class="tw-ml-4 tw-mr-4 tw-mb-4 text-black"
        v-if="props.schedule_item.item_type == 'App\\Models\\Schedule\\Items\\ScheduleInfoItem'"
    >
        <div
            class="d-flex flex-no-wrap justify-space-between"
        >
            <div>
                <v-card-title class="text-h7 tw-font-bold">
                    {{ schedule_item.text}}
                </v-card-title>
                <v-card-text>
                    {{ schedule_item.schedule_item.start_time }} - {{ schedule_item.schedule_item.end_time }}&nbsp;&nbsp;&nbsp;&nbsp;{{ schedule_item.type }}
                </v-card-text>
            </div>
        </div>
    </v-card>


</template>
