<script setup>
import { VSkeletonLoader } from "vuetify/labs/VSkeletonLoader";
import { Head } from "@inertiajs/vue3";
import { getCurrentInstance } from "vue";
import { createPinia } from "pinia";
import { usePreferencesStore } from "../../../stores/preferencesStore";

const pinia = createPinia();
const preferences = usePreferencesStore(pinia);

const props = defineProps({
    results: Object,
});
</script>

<template>
    <v-card
        class="mx-auto mb-3 tw-bg-blue-50 dark:tw-bg-blue-800"
        min-width="450px"
        rounded="lg"
        v-for="result in props.results"
    >

<!--        :title="result.round.name"-->
        <v-card-item>

            <template
                v-slot:title
            >
                <v-row align="center" no-gutters>
                <v-col
                    class="text-h6 tw-font-bold"
                    v-if="result.round.score_hidden === false || result.round.is_practice === true"
                >
                    {{result.round.name}} |
                    {{ result.score }}
                    {{ $vuetify.locale.t("general.points") }}
                </v-col>
                <v-col
                    class="text-h6 tw-font-bold"
                    v-if="result.round.score_hidden === true && result.round.is_practice === false"
                >
                    {{result.round.name}} | {{ $vuetify.locale.t("teams.public.scoreHidden") }}
                </v-col>
            </v-row>
            </template>

            <template
                v-slot:subtitle
                v-if="result.round.is_practice === 1"
            >
                <v-icon
                    icon="mdi-alert"
                    size="18"
                    color="error"
                    class="me-1 pb-1"
                ></v-icon>

                {{
                    $vuetify.locale.t(
                        "teams.public.warningPracticeScore"
                    )
                }}
            </template>
        </v-card-item>

<!--        <v-card-text class="py-0">-->
<!--            <v-row align="center" no-gutters>-->
<!--                <v-col-->
<!--                    class="text-h5"-->
<!--                    v-if="result.round.score_hidden === false || result.round.is_practice === true"-->
<!--                >-->
<!--                    {{ result.score }}-->
<!--                    {{ $vuetify.locale.t("general.points") }}-->
<!--                </v-col>-->
<!--                <v-col-->
<!--                    class="text-h5"-->
<!--                    v-if="result.round.score_hidden === true && result.round.is_practice === false"-->
<!--                >-->
<!--                    {{ $vuetify.locale.t("teams.public.scoreHidden") }}-->
<!--                </v-col>-->
<!--            </v-row>-->

<!--        </v-card-text>-->

<!--        <div class="d-flex py-3 justify-space-between">-->
<!--            <v-list-item density="compact">-->
<!--                <v-list-item-subtitle-->
<!--                >{{ $vuetify.locale.t("general.referee") }}:-->
<!--                                                        {{result.referee.name}}-->
<!--                </v-list-item-subtitle>-->
<!--            </v-list-item>-->

<!--            <v-list-item density="compact">-->
<!--                <v-list-item-subtitle>-->
<!--                    {{ $vuetify.locale.t("general.table") }}: {{ result.table.number}} / {{ result.table.color}}-->
<!--                </v-list-item-subtitle>-->
<!--            </v-list-item>-->
<!--        </div>-->

        <v-divider></v-divider>

        <v-card-actions>
            <!--                            TODO: Public view for the scoresheet (Or check roles in that page)  -->
            <v-btn
                v-if="result.round.score_hidden === false"
                :href="
                                    route('public.referee_results.show', {
                                        uuid: result.uuid,
                                    })
                                "
            >
                {{
                    $vuetify.locale.t("teams.public.viewResult")
                }}
            </v-btn>
        </v-card-actions>
    </v-card>

</template>
